<div class="table_div">
      <table cellspacing="0">
        <thead>
        <tr>
            <th class="cust-table-th">Factors</th>
            <th>Redensyl</th>
            <th>Minoxidil</th>
          </tr>
      </thead>
      <tbody>
            
                  <th class="cust-table-th">
                  <ul>
                      <li>
                        <span>FDA Approved</span>
                     </li>
                  </ul>
              </th>
             
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
            
                    <th class="cust-table-th">
                        <ul>
                            <li>
                                <span>Time Tested</span>
                            </li>
                        </ul>
                    </th>
                
        <td>New Molecule (2014)</td>
        <td>Used for 30 Years</td>
      </tr>
      <tr>
        <th class="cust-table-th">
          <ul>
              <li>
                <span>Type of hair loss conditions</span>
              </li>
          </ul>
        </th>
        <td>Telogen Effluvium, Stage 1 & 2</td>
        <td>Stages 3 and above pattern hair loss</td>
      </tr>
      <tr>
        <th class="cust-table-th">
          <ul>
              <li>
                <span>Time Taken</span>
           </li>
          </ul>
        </th>
        <td>Up to 1 Year</td>
        <td>5-6 months</td>
      </tr>
      <tr>
        <th class="cust-table-th">
          <ul>
              <li>
                <span>Regrowth on balding areas</span>
            </li>
          </ul>
        </th>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th class="cust-table-th">
          <ul>
              <li>
               <span> Who cannot use?</span>
          </li>
          </ul>
        </th>
        <td>Safe for all. Feeding safe</td>
        <td>High BP, Heart Disease, Pregnancy, Allergy</td>
      </tr>
    </tbody>
    </table>
             </div>