<div class="page-width my-5 pt-3 work_of_transplant">
    <p class="how_transplant_work_main_heading text-center font-weight-bold mb-5">How does it work?</p>
    <div class="transplant-work-main mb-5 pb-3">
        <div class="works">
          <div class="work_step_img"><img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_367.png" alt="call" width="85" height="85" class="lazyload work_images"></div>
          <div class="works-steps pl-0 pl-md-3"><p class="work_type">1. Book a free consultation</p>
          <p class="work__description">A hair expert will give you details about the program & start with your scalp analysis.</p></div>
        </div>
        <div class="works">
          <div class="work_step_img"><img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_368.png" alt="call" width="85" height="85" class="lazyload work_images"></div>
          <div class="works-steps pl-0 pl-md-3"><p class="work_type">2. In-clinic doctor consult</p>
          <p class="work__description">Certified surgeons will analyse your reports & prepare you for the transplant surgery.</p></div>
        </div>
        <div class="works">
          <div class="work_step_img"><img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_366.png" alt="call" width="85" height="85" class="lazyload work_images"></div>
          <div class="works-steps pl-0 pl-md-3"><p class="work_type">3. Hair transplant surgery</p>
          <p class="work__description">You will undergo the FUE procedure & the doctor will guide you through post-surgery procedure.</p></div>
        </div>
        <div class="works">
          <div class="work_step_img"><img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_365.png" alt="call" width="85" height="85" class="lazyload work_images"></div>
          <div class="works-steps pl-0 pl-md-3"><p class="work_type">4. Traya's post surgery kit</p>
          <p class="work__description">Use the 12 month maintenance kit & see complete hair regrowth with the help of hair coach.</p></div>
        </div>
    </div>
  <div class="text-center">
        <a class="btn btn-dark book-appnt-btn" href="https://form.traya.health/v2/mini-questions?cohort=1&location=Prescription">BOOK A FREE APPOINMENT</a>
  </div>
</div>
<style>
    .how_transplant_work_main_heading {
      color: #000;
      font-size: 24px;
      line-height: 29px;
    }
    .transplant-work-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 65px;
      width: 100%;
    }
    .works {
      display: flex;
      width: 50%;
      flex-wrap: wrap;
      flex: 1 50%;
    }
    .works-steps {
      width: 75%;
    }
    .work__description {
      font-size: 16px;
      line-height: 22px;
      color: #000;
      opacity: 0.8;
    }
    .work_type {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
    }
    .book-appnt-btn {
      background-color: #b7d340;
      color: #000;
      border: #b7d340;
      padding: 15px 80px;
      border-radius: 4px;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: normal;
    }
    .page-width.work_of_transplant {
      padding-left: 0px;
      padding-right: 0px;
      width: calc(100% - 40%);
    }
    @media only screen and (max-width: 767px){
      .transplant-work-main {
        row-gap: 40px;
        justify-content: center;
      }
      .works {
        width: 100%;
        flex: 1 100%;
      }
     .work_type {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
     .work__description {
        font-size: 14px;
        line-height: 19px;
        width: unset;
      }
      .work_images {
        width: 75px;
        height: 75px;
        border-radius: 10px;
      }
      .book-appnt-btn {
        font-size: 22px;
        line-height: 30px;
        padding: 12px;
        width: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .page-width.work_of_transplant {
        padding-left: 22px;
        padding-right: 22px;
        width: calc(100% - 0%);
      }
      .work_step_img {
        width: 25%;
      }
      }
</style>