<div class="main-TY-page">
  <div class="order position-relative d-flex align-items-center">
     <span class="svg1"><svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
     <circle cx="18.3778" cy="18.7774" r="17.9472" fill="#B7D340"/>
     <path d="M14.956 23.8673L11.2137 19.8087C10.7967 19.3564 10.1337 19.3564 9.71674 19.8087C9.29974 20.2609 9.29974 20.9799 9.71674 21.4321L14.1969 26.2909C14.6139 26.7431 15.2875 26.7431 15.7045 26.2909L27.0385 14.0106C27.4555 13.5584 27.4555 12.8394 27.0385 12.3871C26.6215 11.9349 25.9585 11.9349 25.5415 12.3871L14.956 23.8673Z" fill="white"/>
     </svg></span>
     <span class="confirmation pl-2">Order Confirmed,&nbsp</span>
     <span class="fade-color"> {{ order.created_at | date: "%d" }}{% case order.created_at | date: "%d" %}{% when '01' %}st{% when '02' %}nd{% when '03' %}rd{% else %}th{% endcase %} {{ order.created_at | date: "%B" }}</span><br>
   </div>
   <div class="call py-3 position-relative d-flex align-items-center">
      <span class="svg2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <circle cx="14.0474" cy="13.9514" r="13.5414" fill="#CCE962"/>
        <path d="M9.6146 19.2872C9.42571 19.2872 9.25349 19.2094 9.09794 19.0539C8.9535 18.8872 8.88128 18.7039 8.88128 18.5039C8.88128 18.3483 8.88128 18.1928 8.88128 18.0372C8.89239 17.8817 8.93127 17.7261 8.99794 17.5706C9.06461 17.415 9.19238 17.2706 9.38127 17.1373C9.99237 16.6928 10.5868 16.2817 11.1646 15.9039C11.7534 15.5151 12.2979 15.1428 12.7979 14.7873C13.309 14.4317 13.7534 14.0762 14.1312 13.7206C14.509 13.3651 14.8034 12.9984 15.0145 12.6207C15.2367 12.2318 15.3478 11.8096 15.3478 11.354C15.3478 10.8985 15.2534 10.5096 15.0645 10.1874C14.8867 9.85405 14.6145 9.5985 14.2478 9.42072C13.8812 9.23184 13.4256 9.1374 12.8812 9.1374C12.4812 9.1374 12.1257 9.19851 11.8146 9.32073C11.5035 9.43184 11.2423 9.5985 11.0312 9.82072C10.8201 10.0429 10.659 10.3152 10.5479 10.6374C10.4368 10.9596 10.3812 11.3262 10.3812 11.7373C10.3812 11.904 10.3646 12.0429 10.3312 12.154C10.309 12.2651 10.2424 12.3484 10.1313 12.404C10.0313 12.4596 9.85904 12.4873 9.6146 12.4873C9.37016 12.4873 9.19238 12.4484 9.08127 12.3707C8.98127 12.2929 8.92016 12.1873 8.89794 12.054C8.88683 11.9207 8.88128 11.7707 8.88128 11.604C8.88128 11.0263 8.97016 10.4985 9.14794 10.0207C9.32571 9.53183 9.58682 9.10962 9.93126 8.75407C10.2757 8.39852 10.6924 8.1263 11.1812 7.93742C11.6701 7.73742 12.2312 7.63742 12.8645 7.63742C13.6756 7.63742 14.3756 7.78742 14.9645 8.08742C15.5645 8.38741 16.0311 8.82629 16.3645 9.40406C16.6978 9.97071 16.8645 10.6707 16.8645 11.504C16.8645 11.8818 16.8089 12.2429 16.6978 12.5873C16.5867 12.9318 16.42 13.2651 16.1978 13.5873C15.9867 13.8984 15.7312 14.204 15.4312 14.504C15.1423 14.7928 14.8089 15.0817 14.4312 15.3706C14.0645 15.6595 13.6645 15.9539 13.2312 16.2539C12.7979 16.5428 12.3423 16.8373 11.8646 17.1373L10.8146 17.7706H16.6145C16.77 17.7706 16.9034 17.7872 17.0145 17.8206C17.1256 17.8539 17.2089 17.9261 17.2645 18.0372C17.3311 18.1483 17.3645 18.315 17.3645 18.5372C17.3645 18.7483 17.3311 18.9094 17.2645 19.0206C17.1978 19.1317 17.1089 19.2039 16.9978 19.2372C16.8867 19.2705 16.7478 19.2872 16.5811 19.2872H9.6146Z" fill="#1A1A1A"/>
        </svg>
      </span>
      <span class="call pl-2" style="font-family: fredoka_oneregular !important;">Book A Free Call Now,&nbsp</span>
      <i class="fade-color-i">Limited slots available</i>
   </div>
  <div class="hair-coach d-flex align-items-center ml-5">
    <div class="img ml-1">
       <img class="py-2" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000007435.webp?v=1712132899"/>
    </div>
    <div class="txt p-2">
      <p class="hair-coach-head my-1">Hair Coach: Unlocked Now!</p>
      <p class="hair-coach-desc mb-1">Hair coach will guide you on how to start using your kit and answer all your treatment-related questions</p>
    </div>
  </div>
  <div class="verification py-2 d-flex align-items-center">
      <span class="svg3">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <circle cx="14.0472" cy="14.3079" r="13.5414" fill="#E5E5E5"/>
        <path d="M13.087 19.826C12.5093 19.826 11.9759 19.7427 11.4871 19.576C10.9982 19.3982 10.5648 19.1594 10.1871 18.8594C9.82042 18.5483 9.53153 18.1983 9.32043 17.8094C9.10932 17.4205 8.9871 17.015 8.95377 16.5927C8.95377 16.2039 9.21487 16.0094 9.73709 16.0094C9.92597 16.0094 10.0649 16.0316 10.1537 16.0761C10.2426 16.1205 10.3093 16.1983 10.3537 16.3094C10.3982 16.4094 10.4426 16.5539 10.4871 16.7427C10.6093 17.0761 10.7926 17.3705 11.0371 17.6261C11.2815 17.8705 11.5759 18.0649 11.9204 18.2094C12.2759 18.3427 12.6704 18.4094 13.1037 18.4094C13.6259 18.4094 14.0815 18.3149 14.4703 18.126C14.8703 17.9372 15.1814 17.6816 15.4037 17.3594C15.6259 17.0261 15.737 16.6539 15.737 16.2428C15.737 15.8428 15.6259 15.4872 15.4037 15.1761C15.1925 14.865 14.8981 14.6261 14.5203 14.4594C14.1537 14.2928 13.7315 14.2095 13.2537 14.2095C13.0648 14.2095 12.9037 14.1928 12.7704 14.1595C12.637 14.1261 12.537 14.0595 12.4704 13.9595C12.4148 13.8483 12.387 13.6817 12.387 13.4595C12.387 13.2484 12.4148 13.0928 12.4704 12.9928C12.537 12.8928 12.637 12.8261 12.7704 12.7928C12.9037 12.7595 13.0704 12.7428 13.2704 12.7428C13.7148 12.7428 14.087 12.6761 14.387 12.5428C14.6981 12.3984 14.9314 12.215 15.087 11.9928C15.2425 11.7595 15.3203 11.5095 15.3203 11.2428C15.3203 10.8762 15.2314 10.554 15.0537 10.2762C14.887 9.98731 14.6426 9.76509 14.3203 9.60954C14.0092 9.45398 13.6481 9.37621 13.237 9.37621C12.8815 9.37621 12.5648 9.42621 12.287 9.52621C12.0204 9.61509 11.7759 9.74842 11.5537 9.9262C11.3426 10.104 11.1426 10.3317 10.9537 10.6095C10.7982 10.854 10.6482 10.9984 10.5037 11.0428C10.3593 11.0762 10.1537 11.0151 9.88708 10.8595C9.70931 10.7373 9.59264 10.6151 9.53709 10.4929C9.49265 10.3706 9.50931 10.2206 9.58709 10.0429C9.64264 9.93175 9.72598 9.79287 9.83708 9.6262C9.94819 9.44843 10.0982 9.2651 10.2871 9.07621C10.476 8.88733 10.7037 8.70955 10.9704 8.54289C11.2371 8.37623 11.5482 8.2429 11.9037 8.1429C12.2704 8.03179 12.6926 7.97623 13.1704 7.97623C13.737 7.97623 14.2481 8.06512 14.7037 8.2429C15.1703 8.40956 15.5592 8.64289 15.8703 8.94288C16.1814 9.24288 16.4203 9.58732 16.587 9.9762C16.7536 10.354 16.837 10.754 16.837 11.1762C16.837 11.5317 16.7647 11.8651 16.6203 12.1762C16.487 12.4873 16.3036 12.7539 16.0703 12.9761C15.837 13.1873 15.5981 13.3539 15.3537 13.4761C15.6536 13.5761 15.9203 13.7317 16.1536 13.9428C16.387 14.1428 16.5814 14.3706 16.737 14.6261C16.9036 14.8817 17.0258 15.1483 17.1036 15.4261C17.1925 15.7039 17.237 15.965 17.237 16.2094C17.237 16.8983 17.0592 17.5149 16.7036 18.0594C16.3592 18.6038 15.8759 19.0371 15.2537 19.3594C14.6314 19.6705 13.9092 19.826 13.087 19.826Z" fill="#737373"/>
        </svg>
      </span>
      <span class="pl-2">Dermatologist Verification,&nbsp</span>
      <span class="fade-color">within 24 hours</span><br>
  </div>
  <div class="delivery py-2 d-flex align-items-center">
      <span class="svg3">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <circle cx="14.0474" cy="13.8787" r="13.5414" fill="#E5E5E5"/>
        <path d="M16.0621 19.3309C15.8399 19.3309 15.6732 19.2976 15.5621 19.2309C15.4621 19.1753 15.3954 19.092 15.3621 18.9809C15.3288 18.8587 15.3121 18.7253 15.3121 18.5809V15.6476H10.0288C9.81774 15.6476 9.65663 15.6143 9.54552 15.5476C9.43441 15.481 9.36219 15.3921 9.32886 15.281C9.29553 15.1587 9.27886 15.0254 9.27886 14.881C9.27886 14.8143 9.27886 14.7532 9.27886 14.6976C9.28997 14.631 9.30664 14.5699 9.32886 14.5143L11.1455 8.24776C11.2344 7.91443 11.3399 7.71999 11.4622 7.66444C11.5955 7.59777 11.7899 7.59222 12.0455 7.64777C12.2899 7.69222 12.4677 7.7811 12.5788 7.91444C12.6899 8.03666 12.7121 8.19776 12.6455 8.39776L10.9622 14.2477H15.3121V8.34776C15.3121 8.21443 15.3288 8.10332 15.3621 8.01443C15.4065 7.91443 15.4843 7.83666 15.5954 7.7811C15.7065 7.72555 15.8732 7.69777 16.0954 7.69777C16.3065 7.69777 16.4621 7.73111 16.5621 7.79777C16.6732 7.85332 16.7454 7.93666 16.7787 8.04777C16.8121 8.15888 16.8287 8.29221 16.8287 8.44776V18.5976C16.8287 18.7531 16.8065 18.8865 16.7621 18.9976C16.7287 19.1087 16.6565 19.192 16.5454 19.2476C16.4454 19.3031 16.2843 19.3309 16.0621 19.3309Z" fill="#737373"/>
        </svg>
      </span>
      <span class="pl-2">Estimated Delivery,&nbsp</span> 
      <span class="fade-color">3-5 days</span>
  </div>
</div>

<style>
  .main-TY-page .hair-coach-desc {color: #404040; opacity: 0.9;}
  .main-TY-page .fade-color-i{font-size: 20px;}
  .main-TY-page .fade-color{font-size: 20px; color: #a3a3a3;}
  .main-TY-page .verification .pl-2 , .main-TY-page .delivery .pl-2{font-size: 20px; font-weight: 600;}
  .main-TY-page .hair-coach-head{font-size: 20px; font-weight: 600;}
  .main-TY-page .confirmation{font-size:20px; font-weight: 600;}
  .main-TY-page span.call{font-size:20px;}
  .main-TY-page span.call{color: #b7d340;}
  .main-TY-page .hair-coach{
    background: #F5F5F5;
    border-radius: 15px;
  }
  .main-TY-page .svg1:after , .main-TY-page .svg2:before{
    display: inline-block;
    position: absolute;
    left: 15px;
    content: '';   
    width: 4px;
  }
  .main-TY-page .svg1:after{ background: #b7d340; top: 26px; height: 20px;}
  .main-TY-page .svg2:before{ background: #e5e5e5; top: -6px; height: 7px;}
  .main-TY-page .svg2:after{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 15px;
    content: '';
    height: 210px;
    width: 4px;
    background: #e5e5e5;
  }
  .main-TY-page .svg1, .main-TY-page .svg2 , .main-TY-page .svg3{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .main-TY-page .svg2{
     background: #cce962;
     color:#1a1a1a;
  }
  .main-TY-page .svg3{
    background: #e5e5e5;
    color: #737373;
  }
  @media(max-width:767px){
        .main-TY-page .fade-color-i ,.main-TY-page .confirmation ,  .main-TY-page span.call , .main-TY-page .hair-coach-head , .main-TY-page .verification .pl-2 , .main-TY-page .delivery .pl-2, .main-TY-page .fade-color{font-size: 15px;}
    .payment img{
      width:130px;
    } 
    .main-TY-page .svg2:after{height: 200px;}
    .main-TY-page .hair-coach-desc{font-size: 14px;}
  }
  @media(max-width: 400px){
    .main-TY-page .confirmation, .main-TY-page .delivery .pl-2, .main-TY-page .fade-color-i, .main-TY-page .verification .pl-2, .main-TY-page .fade-color {font-size: 16px;}
    .main-TY-page span.call{font-size: 15px;}
    .main-TY-page .svg1, .main-TY-page .svg2, .main-TY-page .svg3 {height: 26px; width: 26px;} 
    .main-TY-page .svg1 svg {height: 28px; width: 28px;}
    .main-TY-page .svg1:after , .main-TY-page .svg2:before, .main-TY-page .svg2:after {left: 12px;}
    .main-TY-page .svg2:after {top: 26px;}
  }
</style>