<div class="container">
      <p class="section-title">Our Customer Stories</p>
    <div class="row patient-journey">
      <div class="col-md-4 mb-5">
        <a href="/pages/swati-hair-loss-journey" class="d-block p-3 rounded-lg shadow text-decoration-none" tabindex="-1">
          <img class="w-100 mb-3" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/swati01.jpg?v=1634109981" alt="">
          <h5>Swati’s Hair Growth Journey</h5>
          <div class="mb-3 resl-desc"><p>I was using Minoxidil and Biotin tablets for my hair loss for 4 years, but no hair growth was seen. After getting on the traya regime my digestion, sleep and gut feels better. Even my hair fall has reduced a lot… I could see noticeable hair growth in just 7 months.</p></div>
          <div class="d-flex justify-content-between resl-btm">
            <div>
              <p><strong>Used for : </strong>7 Months</p> 
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 mb-5">
        <a href="/pages/shweta-hair-loss-journey" class="d-block p-3 rounded-lg shadow text-decoration-none" tabindex="-1">
          <img class="w-100 mb-3" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/shwati01.jpg?v=1634109846" alt="">
          <h5>Shweta’s Hair Growth Journey</h5>
          <div class="mb-3 resl-desc"><p>I was on other medicines for RA and it really slows down the results. Still I got results. So I was so happy. Actually it was like a bday gift I gave to myself in Jan. By giving myself a complete lifestyle change inspired and instructed by Traya. I have never been more happier and confident. Still hoping more progress.</p></div>
          <div class="d-flex justify-content-between resl-btm">
            <div>
              <p><strong>Used for : </strong>10 Months</p> 
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 mb-5">
        <a href="/pages/shivogi-hair-loss-journey" class="d-block p-3 rounded-lg shadow text-decoration-none" tabindex="-1">
          <img class="w-100 mb-3" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/shivyogi01.jpg?v=1634109460" alt="">
          <h5>Shivogi’s Hair Growth Journey</h5>
          <div class="mb-3 resl-desc"><p>I think for stage-5 baldness, getting hair back within 6 months is no less than magic. I still continue the&nbsp;Traya products&nbsp;and would strongly recommend people to try the treatment as its combination of kit, which does the magic. I am really satisfied with treatment. I wish I had known them bit earlier. Yes not to forget,the confidence which I regained.</p></div>
          <div class="d-flex justify-content-between resl-btm">
            <div>
              <p><strong>Used for : </strong>6 Months</p> 
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 mb-5">
        <a href="/pages/hemant-hair-loss-journey" class="d-block p-3 rounded-lg shadow text-decoration-none"">
          <img class="w-100 mb-3" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/hemant01.jpg?v=1633945128" alt="">
          <h5>Hemant’s Hair Growth Journey</h5>
          <div class="mb-3 resl-desc"><p>I am happy with the treatment. In just one month, I found that my energy levels had improved. What I also noticed that after consistently following the recommended diet, my overall health is better. Dandruff had completely vanished after 3 months and&nbsp;hair volume&nbsp;increased. Thank you Traya, my hair loss has reduced and my hair feels dense.</p></div>
          <div class="d-flex justify-content-between resl-btm">
            <div>
              <p><strong>Used for : </strong>8 Months</p> 
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 mb-5">
        <a href="/pages/mayil-hair-loss-journey" class="d-block p-3 rounded-lg shadow text-decoration-none"">
          <img class="w-100 mb-3" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/mayil01.jpg?v=1634109685" alt="">
          <h5>C. Mayil’s Hair Growth Journey</h5>
          <div class="mb-3 resl-desc"><p>I feel much better after taking up the treatment. The treatment does not just include tablets and&nbsp;minoxidil. Treatment includes ensuring proper sleep cycle and proper diet. Surely there is notable changes after 9 months of treatment.</p></div>
          <div class="d-flex justify-content-between resl-btm">
            <div>
              <p><strong>Used for : </strong>9 Months</p> 
            </div>
          </div>
        </a>
      </div>   
      
    </div>
</div>