<div class="safe_and_effective" style="background: #E9ECE9;">
  <h2 class="d-none d-md-block pt-4 w-100 text-center fw-bold fs-32">Future of Safe and Effective Hair Care</h2>
<div class="safe_effective_box">
  <div class="safe_effective_image">
    <h2 class="section-title d-md-none">Future of Safe and Effective Hair Care</h2>
      <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img5.webp?v=1661319691" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">CRUELTY FREE</h3>
    </div>
    <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img4.webp?v=1661319672" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">VEGAN FRIENDLY</h3>
    </div>
    <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img6.webp?v=1661319490" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">DOCTOR PRESCRIBED</h3>
    </div>
    <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img3.webp?v=1661319655" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">ALLERGY CERTIFIED</h3>
    </div>
    <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img1.webp?v=1661319625" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">MADE SAFE</h3>
    </div>
    <div class="safe_effective">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/traya-section-img2.webp?v=1661319709" loading="lazy">
      <h3 class="mt-2 text-dark font-weight-bold">NON TOXIC</h3>
    </div>
  </div>
    <div class="safe_bg_img">
      <img src="https://cdn.shopify.com/s/files/1/0658/0165/0421/files/PRODUCT_3-SHOT_9_2.png?v=1663847889" width="100%" loading="lazy">
    </div>
</div>
</div>
<style>
 
  .safe_effective_box{
    display:flex;
    align-items: center;
  }
  .safe_effective_image{
    margin-left:20px;
    margin-top:30px;
    width:70%;
    display:flex;
    flex-wrap:wrap;
  }
  
  .safe_effective{
    text-align:center;
    margin-top:16px;
    margin-bottom:16px;
    padding:16px;
    width:33.33%
  }
  .safe_effective img{
    width:75px;
  }
  .safe_effective h3{
    font-size:16px;
    margin-top:8px;
  }
    @media only screen and (max-width: 767px){
     .safe_effective_box{
        flex-wrap: wrap;
      }
      .safe_effective_image {
        width: 100%;
        order: 2;
        margin-left:0px;
      }
      .safe_bg_img {
        width: 100%;
        order: 1;
      }
      .safe_effective h3{
    font-size:11px;
    margin-top:16px;
  }
    }
</style>