<div class="the-science">
  <p class="text-center text-md-left mt-5 font-weight-bold transplant-care-heading">The Three Sciences</p>
        <div class="row text-left">
          <div class="col-lg-8 col-md-7">
            <p class="mb-0 mt-3 font-weight-bold science-head">• Why does Traya combine three different treatment branches?</p>
            <p class="mb-2 science-text"> Since hair loss can result from multiple factors that vary from case to case, we sought a comprehensive treatment approach that would cover all bases. By combining different sciences, we can tackle all the problems simultaneously.</p>
            <p class="mb-2 science-text"><strong>Dermatology</strong> stimulates hair growth at the follicular level. </p>
            <img class="mb-3" src="{{ 'thesciencepage.jpg' | asset_url }}" alt="thesciencepage">
            <div class="row">
              <p class="mb-2 col-6 science-text"><strong class="font-weight-bold">Ayurveda</strong> balances internal energies for indirect hair loss factors. </p>
              <p class="mb-2 col-6 science-text"><strong class="font-weight-bold">Nutrition</strong> prevents deficiencies and promotes overall well-being.  </p>
            </div><br>
            <p class="mb-2 science-text"> 
              So combined, they make the perfect and the most comprehensive and safe treatment plan for your hair loss.
            </p>
          </div>
          <div class="col-lg-4 col-md-5">
            <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
              <p class="text-orange lead mt-3">In 80% cases we have noticed a direct benefit of addressing gastric and gut health of our customers. This is a core Ayurveda benefit!</p>
              <ul class="list-group list-group-flush ml-0">
                <li class="list-group-item pl-0 py-1"> </li>
                <li class="pl-0 py-2">
                  <a id="learnMore2" href="#" class="btn-link">Why Ayurveda? <img class="ml-2" src="{{ 'arrow.svg' | asset_url }}" style="width: 22px;" alt="Why Ayurveda"></a></li>
              </ul>
            </div>
            <div class="py-4">  </div>

            <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
              <p class="text-orange lead mt-3">Procapil actively promotes hair growth by shedding old hair and replacing them with new ones by upto 121%.</p>
              <ul class="list-group list-group-flush ml-0">
                <li class="list-group-item pl-0 py-1"> </li>
                <li class="pl-0 py-2">
                  <a id="learnMore3" href="#" class="btn-link">Dermatology & Testing <img class="ml-2" src="{{ 'arrow.svg' | asset_url }}" style="width: 22px;" alt="Dermatology & Testing"></a></li>
              </ul>
            </div>
          </div>
        </div>
</div>