<div class="page-width what-hair-transplant border rounded-lg">
  <div class="text-center">
    <p class="font-weight-bold transplant-text pb-2 mb-md-4 mb-2">What is Hair Transplant ?</p>
    <p class="m-auto transplant-overview pb-md-4 pb-5">Traya’s experienced surgeons and team of doctors from 30+ locations in India perform advanced FUE procedure in order to show complete regrowth under 12 months.</p>
    <div class="d-flex justify-content-around transplant-stages my-md-4 my-0 pb-1 position-relative">
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/1_9006f4c0-fa5a-4528-ac0a-16d7d74d15f6_100x.png" class=" lazyload stage__images">
        <p class="stage__names mt-1">Donor<br>Area</p>
      </div>
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_a533fa9b-4ee0-4268-90d7-e89a81df300d_100x.png" class="lazyload stage__images">
        <p class="stage__names mt-1">Punch incision<br>around Hair Follicles</p>
      </div>
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/3_86931b4f-600b-4b7a-8bb0-d78062168785_100x.png" class="lazyload stage__images">
        <p class="stage__names mt-1">Extraction of<br>Follicular Units</p>
      </div>
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_10ad1f25-0d52-4af0-86d5-6d6fdc190278_100x.png" class="lazyload stage__images">
        <p class="stage__names mt-1">Harvesting of<br>The Grafts</p>
      </div>
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_dd9abd76-0761-4e4a-9469-be5b2742996f_100x.png" class="lazyload stage__images">
        <p class="stage__names mt-1">Implantation<br>of The Grafts</p>
      </div>
      <div class="transplant-stages-main">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_32f14b33-ffb7-4894-a6f3-e50686f5fa42_100x.png" class="lazyload stage__images">
        <p class="stage__names mt-1">After 9-12<br>Months</p>
      </div>
    </div>
    <div class="d-flex justify-content-between pt-4 right__steps">
      <div class="d-flex align-items-center right_steps_img transplant-step-1">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/righticn_30x.png" class="lazyload right_icon">
        <p class="right_opt pl-3 pl-md-2 text-left">No scarring, no marks<span class="d-md-none">.</span></p>
      </div>
      <div class="d-flex align-items-center right_steps_img transplant-step-2">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/righticn_30x.png" class="lazyload right_icon">
        <p class="right_opt pl-3 pl-md-2 text-left">Long lasting results<span class="d-md-none">.</span></p>
      </div>
      <div class="d-flex align-items-center right_steps_img transplant-step-3">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/righticn_30x.png" class="lazyload right_icon">
        <p class="right_opt pl-3 pl-md-2 text-left">Regrowth of every graft<span class="d-md-none">.</span></p>
      </div>
      <div class="d-flex align-items-center right_steps_img transplant-step-4">
        <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/righticn_30x.png" class="lazyload right_icon">
        <p class="right_opt pl-3 pl-md-2 text-left">Pain free procedure<span class="d-md-none">.</span></p>
      </div>
    </div>
  </div>
</div>

{% style %}
  .what-hair-transplant {
    padding: 55px 35px;
    width: calc(100% - 40%);
  }
  .transplant-text {
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  .transplant-overview {
    width: 65%;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    opacity: 0.8;
  }
  .stage__names {
    margin: auto;
    font-size: 11px;
    line-height: 15px;
    color: #000;
    opacity: 0.8;
  }
  .transplant-stages:after {
    content: '';
    position: absolute;
    bottom: -1.55rem;
    background-color: #72c5c080;
    width: 100%;
    height: 0.6px;
  }
  .right_opt {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    width: 87%;
  }
  .right__steps {
    flex: 1 25%;
    width: 100%;
    flex-wrap: wrap;
  }
  .right_steps_img {
    width: 25%;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .right_opt {
      font-size: 12px;
      line-height: 16px
    }
    .stage__images {
      width: 100px;
    }
  }
  @media only screen and (max-width: 767px) {
    .what-hair-transplant {
      padding: 40px 15px;
      margin: 0px 10px;
      width: calc(100% - 5%);
    }
    .transplant-text {
      font-size: 20px;
      line-height: 27px;
    }
    .transplant-overview {
      width: calc(100% - 10px);
      opacity: 0.9;
    }
    .transplant-stages {
      flex-wrap: wrap;
      row-gap: 30px;
    }
    .transplant-stages-main {
      width: 33.33%;
    }
    .stage__images {
      width: 100px;
    }
    .right_opt {
      font-weight: normal;
      font-size: 21px;
      line-height: 29px;
      min-width: 75%;
      width: unset;
    }
    .right__steps {
      margin: 20px auto 0px;
      row-gap: 15px;
    }
    .right_icon {
      width: 32px;
    }
    .right_steps_img {
      width: 100%;
      justify-content: center;
    }
    .transplant-step-1 {order: 1;}
    .transplant-step-3 {order: 2;}
    .transplant-step-2 {order: 3;}
    .transplant-step-4 {order: 4;}
  }
{% endstyle %}