<div class="why-ayurveda">
  <p class="font-weight-bold text-center text-md-left transplant-care-heading">Why Ayurveda?</p>
  <div class="row">
    <div class="col-md-8">
      <p class="mb-0 font-weight-bold science-head">• What does Ayurveda say about Hair Loss ?</p>
      <p class="text-left science-text">Ayurveda is like your philosophical friend, who dives deep into the problem. Ayurveda is a healing system that goes to the root of the cause of your ailment and brings about internal balance. According to Ayurveda, hair loss is associated with high levels of pitta in the body which impacts the follicle health and overall hair quality</p>
      <p class="mb-0 mt-3 font-weight-bold science-head">• What is Pitta Dosha ? </p>
      <p class="text-left science-text">Ayurveda believes that your body is made up of three types of life forces - kapha, vata and pitta; each characterized by elements like fire, water, space, air, land and ether. Pitta is dominated by Fire or Agni and is responsible for your appetite, digestion and absorption of nutrition. However, when in excess, unchecked Pitta dosha can result in premature greying, causing  hair thinning and hair loss. </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="phase-box mb-4">
        <p class="phase-box-text1">Vata Dosha <span class="fw-light">(Air + Ether)</span></p>
        <img src="{{ 'dosha1.svg' | asset_url }}" alt="Vata Dosha" class="my-3">
        <div class="phase-text">
          <p class="science-text">VATA IMBALANCE<br/>
          • Aches & Pains • Cough • Memory Problem • Fatigue • Insomnia</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="phase-box mb-4">
        <p class="phase-box-text1">Pitta Dosha <span class="fw-light">(Fire + Water)</span></p>
        <img src="{{ 'dosha2.svg' | asset_url }}" class="my-3" alt="Pitta Dosha">
        <div class="phase-text">
          <p class="science-text">PITTA IMBALANCE<br/>
            • Poor Metabolism • Liver Problems • Heart Condition • Anemia • Skin rash • Addictions • Eye sight • Hair Loss</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="phase-box mb-4">
        <p class="phase-box-text1">Kapha Dosha <span class="fw-light">(Water + Earth)</span></p>
        <img src="{{ 'dosha3.svg' | asset_url }}" class="my-3" alt="Kapha Dosha">
        <div class="phase-text">
          <p class="science-text">KAPHA IMBALANCE<br/>
            • Obesity • Food Sensitivity • Asthma • Inflammation • Frequent Headaches</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-7">
      <p class="mb-0 mt-3 font-weight-bold science-head">• How do you keep your Pitta in check? </p>
      <p class="mb-4 science-text">This is where digestion comes in - your digestion allows your body to break down the food you eat into nutrients that your body needs for growth, repair, and refueling. However, the ability of your body to get those nutrients depends on your absorption levels. Optimum digestion and absorption are just as important as eating the right food. And because at Traya , we want to give you everything you need to fix your hair loss. We not only give you a diet plan so you eat hair healthy foods. But herb mixes such as:</p>
      <p class="mb-4 science-text"><strong class="font-weight-bold">Health Tatva</strong> which has ingredients such as Hing, Ajwain, Cumin, Ginger that helps regulate metabolism, detoxifies  your body, and enhances the absorption of nutrients.</p>
      <p class="mb-4 science-text"><strong class="font-weight-bold">Hair Ras,</strong> with ingredients such as Tapyadi Lauh, Shatavari, Shankhpushpi, Amalaki, Arjuna, Ashwagandha that rejuvenates hair and stimulates regrowth while balancing pitta dosha.</p>
      <p class="mb-4 science-text"><strong class="font-weight-bold">Gut Shuddhi</strong> with Triphala and Avipattikar, regulates  bowel movement, reduces pitta dosha, provides nutrition to your hair follicles and fixes your digestion.</p>
    </div>
    <div class="col-lg-4 col-md-5">
      <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
        <p class="text-orange lead mt-3">In 80% cases we have noticed a direct benefit of addressing gastric and gut health of our customers. This is a core Ayurveda benefit!</p>
        <ul class="list-group list-group-flush ml-0">
          <li class="list-group-item pl-0 py-1"> </li>
          <li class="pl-0 py-2"><a href="/pages/traya-ingredients" class="btn-link">View Ayurvedic Ingredients  <img class="ml-2" src="{{ 'arrow.svg' | asset_url }}" alt="Ayurvedic Ingredients" style="width: 22px;"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>