<div class="why-dermatology">
   <p class="text-center text-md-left mt-5 font-weight-bold transplant-care-heading">Dermatology & Clinical Studies</p>
    <div class="row text-left">
      <div class="col-md-8">
        <p class="mb-0 mt-3  font-weight-bold science-head">• Why is Minoxidil Recommended and is it safe?</p>
        <p class="mb-2 science-text">Minoxidil is a vasodilator, which means it widens blood vessels and increases blood flow wherever it is applied. When applied to the scalp, it enhances blood flow to the scalp and hair follicles. This vasodilating effect allows for more nutrients and oxygen to reach the hair follicles, promoting growth. In other words, it does not stop hair loss but actively stimulates hair growth by causing resting hairs (in the telogen phase) to shed and be replaced by new hairs in the growing (anagen) phase. Numerous studies have also demonstrated the effectiveness of Minoxidil in promoting hair growth. In a four-month study, 74% of men reported an improvement in hair density with Minoxidil, and 93.8% of participants rated it as very effective, effective, or moderately effective in stimulating new hair growth.</p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row text-left">
      <div class="col-lg-8 col-md-7">
        <p class="mb-0 mt-4 font-weight-bold science-head">• What are the other clinically tested ingredients used  in Traya Products?</p>
        <ul class="list-group list-group-flush ml-0 my-3">
          <li class="list-group-item pl-0 py-1 science-text"><strong class="font-weight-bold">Redensyl</strong> is natural, non-hormonal and works on hair growth. It has anti-inflammatory properties and contains amino acids that constitute hair proteins. Redensyl serum helps curtail the duration of the resting or telogen phase while at the same time increasing the anagen or growth phase. This helps it prevent hair loss and helps retain your hair. Redensyl is also the product of a greener process, involving the use of less energy and reduced use of hazardous chemicals to make it a more innovative and sustainable product. It is an excellent ingredient used to treat early stages of hair loss. </li>
          <br>
          <li class="list-group-item pl-0 py-1 science-text"><strong class="font-weight-bold">Procapil  </strong>is a scientifically proven formula that naturally promotes healthy hair growth and gives the hair follicles strength. It also reduces hair loss with less hair breakage. Its formula combines vitaminated matrikine with apigenin and oleanolic acid, reducing the effects of DHT - a chemical derived from testosterone that affects the growth of new hair. It is usually safe since it is made of all-natural ingredients, and both men and women can use it.  </li>
        </ul>
        <p class="mb-2 science-text">So combined, they make the perfect and the most comprehensive and safe treatment plan for your hair loss. </p>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
          <p class="text-orange lead my-3">
            Procapil actively promotes hair growth by shedding old hair and replacing them with new ones by upto 121%.
          </p>
        </div>
      </div>
    </div>
</div>