<div class="container">
  <div class="accordion mb-4 mb-md-5" id="banefitAccordion0">
    <div class="card">
      <div class="card-header py-3" id="heading-banefit2">
        <h2 class="mb-0">
          <button
            class="d-flex justify-content-between align-items-center bg-transparent border-0 btn-block font-weight-bold p-0 text-left"
            type="button" data-toggle="collapse" data-target="#collapse-banefit2" aria-expanded="true"
            aria-controls="collapse-banefit2">
            <div class="female-combo-accordion1"><img src="{{ 'noun-award.png' | asset_img_url: 'icon' }}"
                class="mr-4 d-none" alt="award">Product Details</div>
            <div><span class="minus">{% include 'icon-library', id: 'up-arrow' %}</span>
              <span class="plus">{% include 'icon-library', id: 'down-arrow' %}</span>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapse-banefit2" class="collapse show" aria-labelledby="heading-banefit4"
        data-parent="#banefitAccordion0">
        <div class="card-body font-size-18 line-height: 25px; d-flex img_text_content">
          <div class="product-section pt-2">
            <div class="container">
              <div class="row result_product_slides female_product_slider"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <h2 class="text_Fredoka about my-3 my-md-5 d-none">Inside your combo</h2>
    <div class="card">
      <div class="card-header py-3" id="heading-banefit4">
        <h2 class="mb-0">
          <button
            class="d-flex justify-content-between align-items-center bg-transparent border-0 btn-block font-weight-bold p-0 text-left collapsed"
            type="button" data-toggle="collapse" data-target="#collapse-banefit4" aria-expanded="false"
            aria-controls="collapse-banefit4">
            <div class="female-combo-accordion1"><img src="{{ 'noun-award.png' | asset_img_url: 'icon' }}"
                class="mr-4 d-none" alt="award">Inside your combo</div>
            <div><span class="minus">{% include 'icon-library', id: 'up-arrow' %}</span>
              <span class="plus">{% include 'icon-library', id: 'down-arrow' %}</span>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapse-banefit4" class="collapse mb-2" aria-labelledby="heading-banefit4"
        data-parent="#banefitAccordion0">
        <div class="card-body font-size-18 line-height: 25px; d-flex img_text_content">
          <div class="m-2 d-flex py-0 px-2 border rounded-lg align-items-center" style="background: #CFEAE6;">
            <div class="text_content p-2">
              <p class="text_Fredoka">Doctor recommended products</p>
              <p class="Sub_text_content">Curated using Dermatology & Ayurveda science</p>
            </div>
            <div class="inside-combo-image">
              <img
                data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_3_86a62fa5-8d4c-45da-bee3-63ca41f8c342.png?v=1658230244"
                alt="" class="lazyload">
            </div>
          </div>
          <div class="m-2 d-flex py-0 px-2 border rounded-lg align-items-center" style="background: #CFEAE6;">
            <div class="text_content p-2">
              <p class="text_Fredoka">Easy diet plan</p>
              <p class="Sub_text_content">Designed by nutritionist to speed up hair growth</p>
            </div>
            <div class="inside-combo-image">
              <img
                data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/mobile_1a53335f-9004-46a3-9de2-2db8772ff4e3.png"
                alt="" class="lazyload">
            </div>
          </div>
          <div class="m-2 d-flex py-0 px-2 border rounded-lg align-items-center" style="background: #CFEAE6;">
            <div class="text_content p-2">
              <p class="text_Fredoka">Personal hair coach</p>
              <p class="Sub_text_content">To help you achieve your hair goals faster</p>
            </div>
            <div class="inside-combo-image">
              <img
                data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Ishani_Hair_Coach_Shoot_3_776f87f9-264b-4b41-91da-d1aa18cbe810.png"
                alt="" class="lazyload">
            </div>
          </div>
        </div>
      </div>

    </div>
    <h2 class="text_Fredoka about my-3 my-md-5 d-none">How to use</h2>
    <div class="card">
      <div class="card-header py-3" id="heading-banefit5">
        <h2 class="mb-0">
          <button
            class="d-flex justify-content-between align-items-center bg-transparent border-0 btn-block font-weight-bold p-0 text-left collapsed"
            type="button" data-toggle="collapse" data-target="#collapse-banefit5" aria-expanded="false"
            aria-controls="collapse-banefit5">
            <div class="female-combo-accordion1"> <img src="{{ 'noun-publication.png' | asset_img_url: 'icon' }}"
                class="mr-4 d-none" alt="publication">How to use</div>
            <div><span class="minus">{% include 'icon-library', id: 'up-arrow' %}</span>
              <span class="plus">{% include 'icon-library', id: 'down-arrow' %}</span>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapse-banefit5" class="collapse" aria-labelledby="heading-banefit5" data-parent="#banefitAccordion0">
        <div class="card-body font-size-18 line-height: 25px;">
          <ul class="Publications_content">
            <li class="my-2 mb-4 mb-md-0">
              <b>Hair Ras (2-0-2)</b><br>
              Eat two tablets after breakfast and two after dinner.
            </li>

            <li class="my-2 mb-4 mb-md-0">
              <b>Hair Vitamin (1-0-0)</b><br>
              Eat one capsule after breakfast in the morning.
            </li>

            <li class="my-2 mb-4 mb-md-0">
              <b>ReCaP Serum (0-0-1)</b><br>
              Apply Recap serum once in the night on the scalp area. The serum should reach the roots of
              your hair.
            </li>

            <li class="my-2 mb-4 mb-md-0">
              <b>Scalp Oil + Booster Oil</b><br>
              Pour your customised booster oil (7ml) into the scalp oil (80 ml). Shake well before you
              start using.
              Massage it all over your scalp. Recommended to use twice a week.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .female-combo .IngredientsList {
    background: url('//cdn.shopify.com/s/files/1/0100/1622/7394/files/BG_1476075d-d4f9-4045-8e40-fc733c5fdf29.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
    height: calc(500px);
  }
  .template-page.female-combo .read_m_lstory_content1 {
    overflow: hidden;
    font-size: 18px;
  }
  .container_hide {
    display: none !important;
  }
  .container_show {
    display: block !important;
  }
  @media only screen and (max-width: 767px) {
    .female-combo .accordion .card .img_text_content {
      flex-direction: column;
    }
    .female-combo .main-content {
      padding-top: 60px;
    }
    .female-combo .add-to-cart-result-page {
      margin: 0px 10px;
      background: #B7D340;
    }
    .female-combo .buyNowResult2 {
      margin: 0px 10px;
      background: #FEB306;
    }
    .add-to-cart-result-page.btn,
    .buyNowResult2.btn {
      font-size: 24px;
      line-height: 33px;
      color: #373334;
      border-radius: 4px;
    }
    .female-combo button.add-to-cart-result-page,
    .female-combo button.buyNowResult2 {
      font-size: 13px;
      line-height: 25px;
    }
    .female-combo button.add-to-cart-result-page svg,
    .female-combo button.buyNowResult2 svg {
      width: 20px;
      height: 18px;
    }
    .female-combo .top_combo_text {
      margin: 0px;
    }
    .female-combo .accordion .card-header button {
      font-size: 15px;
      line-height: 20px;
    }
    .female-combo .accordion .card-header button svg {
      width: 21px;
    }
    .female-combo .our-experts .cstm_section_titleFR {
      font-size: 25px;
      line-height: 30px;
    }
    .template-page.female-combo ul#pills-tab .nav-link {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: normal;
    }
    .template-page.female-combo .female-combo-accordion1 {
      font-size: 20px;
      line-height: 27px;
    }
    .template-page.female-combo .Publications_content li {
      font-size: 13px;
      line-height: 18px;
    }
    .template-page.female-combo .female-combo-doctor-card {
      font-size: 15px;
      line-height: 22px;
    }
    .template-page.female-combo .female_combo_title {
      font-size: 20px;
      line-height: 27px;
    }
    .template-page.female-combo .second_accordion .accordion .card .card-body {
      font-size: 14px;
      line-height: 19px;
      padding: 0px 0px 0.5rem;
    }
    .template-page.female-combo .add-to-cart-result-page.btn {
      order: 2;
    }
    .template-page.female-combo .phoneATC_box {
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }
    .template-page.female-combo #shopify-section-logo-bar {
      padding: 15px 9px 16px 16px !important;
    }
    .template-page.female-combo #shopify-section-logo-bar .slick-next:before,
    .template-page.female-combo #shopify-section-logo-bar .slick-prev:before {
      width: 9px;
      height: 9px;
    }
    .template-page.female-combo .section-title .title-with-line {
      font-size: 20px;
      line-height: 27px;
    }
    .template-page.female-combo .section--female-video-wrapper button.btn.video-control.video-control__play {
      padding: 58% 49.33%;
    }
    .template-page.female-combo .section--female-video-wrapper .ytp-chrome-top-buttons {
      z-index: 5 !important;
    }
    .template-page.female-combo .section--female-video-wrapper .video__image {
      background-size: 100%;
    }
    .template-page.female-combo .card-body {
      padding: 0px;
    }
    .female-combo .IngredientsList {
      background: url('//cdn.shopify.com/s/files/1/0100/1622/7394/files/Rectangle_74_3x_1.png');
      padding: 3rem 0 0 0;
      background-repeat: no-repeat;
      height: calc(385px);
      background-size: 100% 100%;
    }
    .template-page.female-combo .autoplay_sub_div .list-ingredient p {
      height: 135px;
    }
    .template-page.female-combo .autoplay_sub_div .list-ingredient .content.content-2 {
      height: 70px;
    }
    .template-page.female-combo #banefitAccordion0 .card-body {
      padding: 0px 0.75rem;
    }
    .female-combo button.add-to-cart-result-page svg {
      margin-bottom: 5px;
    }
    .female-combo .trust_icon_female-combo .FS_badge p {
      font-size: 9px;
      line-height: 12px;
    }
    .template-page.female-combo #collapse-banefit2 ul.slick-dots {
      margin: 0px 0px 30px;
    }
    .female-combo .accordion .card .text_content .text_Fredoka {
      font-size: 15px;
      line-height: 18px;
      margin: 5px 0px;
    }
    .female-combo .accordion .card .text_content .Sub_text_content {
      font-size: 13px;
      line-height: 18px;
    }
    .female-combo .our-experts .cstm_section_titleFR {
      font-size: 20px;
      line-height: 27px;
    }
    .template-page.female-combo .inside-combo-image {
      height: unset;
    }
    .female-combo #shopify-section-home-section-google-reviews .box-item.border-hero {
      min-height: unset;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    h5, .h5 {
    font-size: calc(var(--font-heading-scale) * 1.1rem);
    }
  }
  @media only screen and (max-width: 467px) {
    .template-page.female-combo #shopify-section-female-combo-ingredients .slick-list {
      height: 337px !important;
    }
    .template-page.female-combo .section--female-video-wrapper button.btn.video-control {
      z-index: unset;
    }
  }
</style>