<div class="review_banner position-relative">
  <div class="review_banner_image">
    <img class="d-none d-md-block w-100" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/imgpsh_fullsize_anim_4_aef61048-9266-429d-9470-7c4bd929e467.jpg?v=1698752024">
     <img class="d-md-none w-100" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/imgpsh_fullsize_anim_3_0dac3da8-a7f1-49d8-b780-accc64510798.jpg?v=1698752024">
  </div>
      <div class="review_banner_rating position-absolute d-flex">
      <div class='color_white rating_num'>4.6</div>
      <div>
        <div class="color_white">
          
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <g clip-path="url(#clip0_10023_2571)">
              <path d="M26 9H17L13.0005 0.558594L9 9H0L7 16L5 25.5L13.0005 21.409L21 25.5L19 16L26 9Z" fill="#FFC107"/>
            </g>
            <defs>
              <clipPath id="clip0_10023_2571">
              <rect width="26" height="26" fill="white"/>
            </clipPath>
            </defs>
          </svg>

         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <g clip-path="url(#clip0_10023_2571)">
              <path d="M26 9H17L13.0005 0.558594L9 9H0L7 16L5 25.5L13.0005 21.409L21 25.5L19 16L26 9Z" fill="#FFC107"/>
            </g>
            <defs>
              <clipPath id="clip0_10023_2571">
              <rect width="26" height="26" fill="white"/>
            </clipPath>
            </defs>
          </svg>   

          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <g clip-path="url(#clip0_10023_2571)">
              <path d="M26 9H17L13.0005 0.558594L9 9H0L7 16L5 25.5L13.0005 21.409L21 25.5L19 16L26 9Z" fill="#FFC107"/>
            </g>
            <defs>
              <clipPath id="clip0_10023_2571">
              <rect width="26" height="26" fill="white"/>
            </clipPath>
            </defs>
         </svg>   

        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <g clip-path="url(#clip0_10023_2571)">
              <path d="M26 9H17L13.0005 0.558594L9 9H0L7 16L5 25.5L13.0005 21.409L21 25.5L19 16L26 9Z" fill="#FFC107"/>
            </g>
            <defs>
              <clipPath id="clip0_10023_2571">
              <rect width="26" height="26" fill="white"/>
            </clipPath>
            </defs>
       </svg> 

      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
        <g clip-path="url(#clip0_10023_2579)">
        <path d="M26 9H17L13.0005 0.558594L9 9H0L7 16L5 25.5L13.0005 21.409L21 25.5L19 16L26 9Z" fill="#959595"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13 0.55957L9 8.99989H0L7 15.9999L5 25.4999L13 21.4092V0.55957Z" fill="#FFC107"/>
        </g>
        <defs>
        <clipPath id="clip0_10023_2579">
        <rect width="26" height="26" fill="white"/>
        </clipPath>
        </defs>
      </svg>      
        </div>
        <div class="rating_con_str d-flex  align-items-center">
          <span class="color_white pr-3 review_rat">4.5 T+ Reviews</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7897 2.08336C14.0396 0.835146 12.6723 0 11.11 0C9.5279 0 8.14583 0.856419 7.40209 2.13095C7.04144 2.03254 6.66185 1.98 6.27 1.98C3.9007 1.98 1.98 3.9007 1.98 6.27C1.98 6.79936 2.07588 7.30633 2.25122 7.77448C0.910585 8.49995 0 9.91864 0 11.55C0 13.0832 0.804312 14.4286 2.01402 15.1872C1.99157 15.3649 1.98 15.5461 1.98 15.73C1.98 18.0993 3.9007 20.02 6.27 20.02C6.66185 20.02 7.04144 19.9675 7.40209 19.869C8.14583 21.1436 9.5279 22 11.11 22C12.6723 22 14.0396 21.1649 14.7897 19.9166C15.0923 19.9843 15.407 20.02 15.73 20.02C18.0993 20.02 20.02 18.0993 20.02 15.73C20.02 15.5461 20.0084 15.3649 19.986 15.1872C21.1957 14.4286 22 13.0832 22 11.55C22 9.91864 21.0894 8.49995 19.7488 7.77448C19.9241 7.30633 20.02 6.79936 20.02 6.27C20.02 3.9007 18.0993 1.98 15.73 1.98C15.407 1.98 15.0923 2.0157 14.7897 2.08336Z" fill="#459FF0"/>
            <g clip-path="url(#clip0_10023_2587)">
            <path d="M16.6038 8.20494L16.6038 8.2049C16.9028 7.90585 16.9028 7.4292 16.6038 7.13015C16.3047 6.8311 15.8281 6.8311 15.529 7.13015L15.599 7.20007L15.529 7.13015L8.99975 13.6594L6.73713 11.3968C6.43808 11.0978 5.96143 11.0978 5.66238 11.3968C5.36332 11.6959 5.36332 12.1725 5.66238 12.4716L8.45571 15.2649C8.75475 15.5639 9.23804 15.564 9.5371 15.2649C9.53711 15.2649 9.53712 15.2649 9.53713 15.2649L16.6038 8.20494Z" fill="white" stroke="white" stroke-width="0.2"/>
            </g>
            <defs>
            <clipPath id="clip0_10023_2587">
            <rect width="16" height="16" fill="white" transform="translate(3 3)"/>
            </clipPath>
            </defs>
          </svg>
          <span class="color_white verified-text pl-2"> Verified  </span>
       </div>
      </div>
    </div>
    <div class="review_banner_text position-absolute"><span class="color_white text_Fredoka">Trusted by </span><br><p class="color_white text_Fredoka">70,000+ <br> Women</p></div>
</div>
{% schema %}
  {
    "name": "Banner",
    "settings": [], 
    "presets":[
      {
        "name":"female-review-banner"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .review_banner{
    margin-top: 60px;
  }
  .rating_num {
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
  }
.review_banner_content{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.review_banner_rating {
    align-items: center;
    top: 33%;
    gap: 20px;
    left: 20%;
}
  .review_banner_text{
    top: 15%;
    right: 25%;
   }
  .review_banner_text span {
    font-size: 25px;
  }
  .review_banner_text p {
    font-size: 45px;
  }
  .color_white{
    color:white;
  }
  .rating_con_str .review_rat {
    font-size: 22px;
    font-weight: 600;
  }
  .verified-text{
    font-size: 18px;
    font-weight: 600;
  }
  
@media (max-width: 767px){
.review_banner{
  margin-top: 40px;
}
.review_banner_text {
    top: 50%;
    right: 0px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.review_banner_rating {
    top: 10%;
    right: 0px;
    left: 0px;
    width: 100%;
    gap: 10px;
   justify-content: center;
}
.rating_num {
  font-size: 40px;
}
.rating_con_str .review_rat {
    font-size: 18px;
  }
.color_white.verified-text.pl-2 {
  font-size: 15px;
}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}