{% comment %} <div class="hair-concerns" style="display:none;">
  <div class="container">
  <h2 class="mb-4 pt-4 l-0 text-center mb-md-3">Customized to address your hair concerns</h2>
  <ul>
    <li class="hairconcern dandruff" dandruff style="display:none;">
      <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023235.png?v=1686231321" alt="dandruff">
      <span>Dandruff</span> 
    </li>
    <li class="hairconcern dull-hair" dull-hair style="display:none;"> 
     <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023238_97db8a58-1628-460c-8bb8-8ae075730908.png?v=1686231035" alt="dull-hair">
     <span> Dull hair</span>
    </li>
    <li class="hairconcern hairfall" hairfall style="display:none;">
      <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023234_7a99854a-b9b8-466a-97de-b0b1c5c8dc5b.png?v=1686231429" alt="hairfall">
     <span> Hair Fall</span>
    </li>
    <li class="hairconcern tangling" tangling style="display:none;">
      <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023236_b98b9fff-c44b-4b5e-a056-9acd93554b9b.png?v=1686231257" alt="tangling">
      <span>Tangling</span>
    </li>
    <li class="hairconcern split-ends" split-ends style="display:none;">
     <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023237_2500a125-a7b2-42df-a3c2-ab83c6339f90.png?v=1686231199" alt="split-ends">
      <span>Split ends</span>
    </li>
    <li class="hairconcern frizzy-hair" frizzy-hair style="display:none;">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1023239.png?v=1686231151" alt="frizzy-hair">
      <span>Frizzy hair</span>
    </li>
  </ul>
  </div>
</div> {% endcomment %}
<div page_type="normal">
<div class="product-section-customm container py-4 px-md-4 px-0 female-pd-b" product-section>
  
  <div class="p-3 new-female-buynow">
      <h2 class="female_age_conditions font-weight-bold l-0 text-center mb-md-3 main-heading"><span class="user_name" data-user-name-info="" style="text-transform: capitalize;">User</span> Hair Treatment Plan</h2>
<!--     <div class="d-flex align-items-center position-relative buynow-after">
      <p class="fw-bold plan_text m-0" f-plan_kit>1 Month</p>
      <img
        data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/down.png"
        class="ml-md-3 ml-2 lazyload"
        f-plan_kit
      >
    </div> -->
    <div class="container py-2 f-plan__details" f-plan__details style="display: block;">
      <div class="card border-0 shadow p-0 overflow-hidden">
        <div class="card-header bg-dark shadow text-center">
          <h2 class="mb-0 l-0 font-weight-bold text-white">1 Month Plan</h2>
        </div>
        <div class="card-body pb-0 pb-md-4 new_svg_color">
          <div class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
            <span class="align-items-center d-flex font-size-18">
              <svg  width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                <circle cx="22" cy="22" r="22" fill="#A5C174"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9366 24.2737H24.0158C23.5729 24.2737 23.2249 23.901 23.2249 23.4516C23.2249 22.9912 23.5729 22.6295 24.0158 22.6295H26.9366C27.3794 22.6295 27.7274 22.9912 27.7274 23.4516C27.7274 23.901 27.3794 24.2737 26.9366 24.2737ZM31.8922 19.3097C31.4704 18.8055 31.0486 18.5753 30.4054 18.5753H16.1654C15.828 18.5753 15.5538 18.3123 15.5222 17.9605L15.3218 15.5053C15.2902 15.1326 15.0266 14.8268 14.6681 14.7599L12.1533 14.3664C11.721 14.2996 11.3097 14.5966 11.2359 15.0449C11.1621 15.4833 11.4574 15.9108 11.8791 15.9875L13.4713 16.2725L14.4414 28.2208C14.5574 29.6676 15.7173 30.7845 17.1196 30.7845H28.6235C29.9626 30.7845 31.1014 29.7662 31.2912 28.3841L32.2929 21.1939C32.3878 20.5373 32.314 19.8139 31.8922 19.3097Z" fill="white"/>
              </svg>
              <span class="l-0">Your Hair transformation kit</span>
            </span>
            <p class="font-size-18 total-price top_total-price">₹ 2150</p>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
            <span class="align-items-center d-flex font-size-18">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                <circle cx="22" cy="22" r="22" fill="#A5C174"/>
                <path d="M28.4056 32L24.7906 28.5192L26.6838 26.6937L28.4056 28.3542L35.1108 21.9083L37 23.7351L28.4056 31.9987V32ZM23.0501 28.8918H11V26.3134H23.0501V28.8918ZM28.4056 23.7351H11V21.1567H28.4056V23.7351ZM28.4056 18.5784H11V16H28.4056V18.5784Z" fill="#EFF5FC"/>
              </svg>
              <span class="l-0">Customized doctor plan</span>
            </span>
            <p class="font-size-18 kit_price_dis" doc_fee><span>Free</span><del>₹ 1,000</del></p>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
            <span class="align-items-center d-flex font-size-18">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                <circle cx="22" cy="22" r="22" fill="#A5C174"/>
                <path d="M23.6667 19.7778V24.2222H30.6667V19.7778H23.6667ZM21.3333 19.7778H14.3333V24.2222H21.3333V19.7778ZM23.6667 29.7778H30.6667V26.4444H23.6667V29.7778ZM21.3333 29.7778V26.4444H14.3333V29.7778H21.3333ZM23.6667 14.2222V17.5556H30.6667V14.2222H23.6667ZM21.3333 14.2222H14.3333V17.5556H21.3333V14.2222ZM30.6667 12C31.9553 12 33 12.9949 33 14.2222V29.7778C33 31.0051 31.9553 32 30.6667 32H14.3333C13.0447 32 12 31.0051 12 29.7778V14.2222C12 12.9949 13.0447 12 14.3333 12H30.6667Z" fill="#EFF5FC"/>
              </svg>
              <span class="l-0">Ayurvedic diet plan</span>
            </span>
            <p class="font-size-18 kit_price_dis" diet_plan><span>Free</span><del>₹ 500</del></p>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
            <span class="align-items-center d-flex font-size-18">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                <circle cx="22" cy="22" r="22" fill="#A5C174"/>
                <path d="M22.5 34L19 31H14.3333C13.0447 31 12 30.1046 12 29V16C12 14.8954 13.0447 14 14.3333 14H30.6667C31.9553 14 33 14.8954 33 16V29C33 30.1046 31.9553 31 30.6667 31H26L22.5 34ZM14.3333 16V29H20.1667L22.5 31L24.8333 29H30.6667V16H14.3333ZM27.1667 26.986H17.8333V26.6C17.9714 24.5051 20.055 22.8978 22.5 23C24.945 22.8978 27.0286 24.5051 27.1667 26.6V26.985V26.986ZM22.5 22C21.8748 22.0186 21.2686 21.8139 20.8262 21.4347C20.3838 21.0555 20.1449 20.5359 20.1667 20C20.1453 19.4642 20.3842 18.9447 20.8266 18.5656C21.2689 18.1865 21.8749 17.9817 22.5 18C23.1251 17.9817 23.7311 18.1865 24.1734 18.5656C24.6158 18.9447 24.8547 19.4642 24.8333 20C24.8551 20.5359 24.6162 21.0555 24.1738 21.4347C23.7314 21.8139 23.1252 22.0186 22.5 22Z" fill="#EFF5FC"/>
              </svg>
              <span class="l-0">Hair coach</span>
            </span>
            <p class="font-size-18 kit_price_dis" hair_coach><span>Free</span><del>₹ 500</del></p>
          </div>

          <div class="mob_align_dlfex d-inline-flex border-top justify-content-center align-items-center w-100 pt-2 pt-md-3">
            <h2 class="font-weight-bold l-0 text-black mb-0 d-flex price_model_text my-2 my-md-0">
              Your Plan @&nbsp;<span class="all-total-price_cut"><del class="all-total-price font-weight-normal ml-2"></del></span> <span class="total-price"></span>
            </h2>
          </div>
                  <p class="font-weight-bold text-black mb-0 d-flex disocunt_result_kit price_model_discount my-2 my-md-0">🎉Cheers!<span class="model_discount_price">You Saved ₹ 2000</span></p>
        </div>

        {% if settings.show_snapmint %}
          <div id="sm-widget-btn" class="snap_emi_txt_result  snap_emi_txt_wrapper">
            <div class="snap-emi-inst"  onclick="showSnapModal()">
                <span class="snap_emi_white_month_text first_line_snmpt">or <b>3 </b>Monthly Payments of</span>
                <span class="snap_dp_value"><span class="snap_rupee">₹</span><span id="dp" class="dp-class" data-snap-price="2000">2000</span></span>
                at <span class="snap_bold"> 0% EMI </span> on<img
                    src="https://assets.snapmint.com/assets/merchant/UPI_Logo_img.svg" class="snap_upi_widget_img"> <img
                    src="https://assets.snapmint.com/assets/merchant/buyonemi_traya.svg" class="snap_buy_now_btn">
            </div>
          </div>
        {% endif %}
                  
        <div class="card-footer border-0 bg-transparent p-0">
          <button
            id="add-to-cart-result-page-frp"
            class="btn w-100 d-flex justify-content-center align-items-center py-3 px-1 new-female-buynowATC position-static rounded"
          >
            <span class="mr-0 mr-md-0 buy_now_card_svg">
              <span class="mr-2"><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/dddd.png"></span>
              BUY NOW
            </span>
          </button>
        </div>
      </div>
    </div>
                  
            {% comment %} 
            
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <del class="new-female-realpirce mb-md-0 mb-1 all-total-price">₹7,500</del>
        <p id="add-to-cart-result-page-frp" class="btn new-female-buynowATC">
          <span class="mr-2"><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/dddd.png"></span>BUY NOW
        </p>
      </div>
      <div class="female-dis-alignment">
      <p class="new-female-price mb-1 mb-md-2 total-price">₹5,250</p>
      <span class="new-female-off-per l-0">30% OFF</span>
    </div>
      <p class="incl__tax">Inclusive of all taxes</p>
    </div>
       {% endcomment %}     
                  
  </div>
                  
</div>

    <div class="product-section pt-4 hairconcern_true_show" style="display:none;">
  <h2 class="product-section_heading-kit font-weight-bold l-0 text-center mb-md-3 main-heading font-fredoka d-none d-md-block"><span class="user_name" data-user-name-info="">User</span> Recommended Hair Routine</h2>
  <h2 class="product-section_heading-kit font-weight-bold l-0 text-center mb-md-3 main-heading font-fredoka d-md-none"><span class="user_name" data-user-name-info="">User</span> Recommended<br>Hair Routine</h2>
  <div class="formulation">
 <!--     <p class="text-center mb-2 formulation-text new_formulation_text fw-bold" style="display:block;">Our certified treatment works on internal health and treats hair issues from within to help achieve your hair goals</p>
  <p class="text-center mb-4 formulation-text fw-bold" PCOS style="display:none;">Our Doctor have designed a unique formulation to tackle your PCOS triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" post-pregnancy style="display:none;">Our Doctor have designed a unique formulation to tackle your post-pregnancy hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" menopause style="display:none;">Our Doctor have designed a unique formulation to tackle your menopause triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" pregnancy style="display:none;">Our Doctor have designed a unique formulation to tackle your pregnancy triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" thyroid style="display:none;">Our Doctor have designed a unique formulation to tackle your Thyroid triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" covid style="display:none;">Our Doctor have designed a unique formulation to tackle your <b>post-Covid</b> hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" genetics style="display:none;">Our Doctor have designed a unique formulation to tackle your Genetic hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" stress style="display:none;">Our Doctor have designed a unique formulation to tackle your Stress triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" nutrition style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" deficiency style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" lifestyle style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" hormonal-imbalance style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" sleep style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" metabolism style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" gut style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" constipation style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" digestion style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" autoimmune style="display:none;">This type of hair loss cannot be completely treated. We can help you manage your hair condition and try to get some recovery. However, results may vary.</p>
   -->
  </div>
  
  <div class="container">
    <div class="row result_product_slides"></div>
  </div>
</div>
    <div class="product-section pt-2 hairconcern_true_hide">
    <h2 class="product-section_heading-kit font-weight-bold l-0 text-center mb-md-3 main-heading d-none d-md-block">Your Customised Re-growth Hair Kit</h2>
  <h2 class="product-section_heading-kit font-weight-bold l-0 text-center mb-md-3 main-heading d-md-none">Your Customised<br>Hair Re-growth Kit</h2>
  <div class="formulation">
   
   <p class="text-center mb-4 formulation-text fw-bold" PCOS style="display:none;">Our Doctor have designed a unique formulation to tackle your PCOS triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" post-pregnancy style="display:none;">Our Doctor have designed a unique formulation to tackle your post-pregnancy hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" menopause style="display:none;">Our Doctor have designed a unique formulation to tackle your menopause triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" pregnancy style="display:none;">Our Doctor have designed a unique formulation to tackle your pregnancy triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" thyroid style="display:none;">Our Doctor have designed a unique formulation to tackle your Thyroid triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" covid style="display:none;">Our Doctor have designed a unique formulation to tackle your <b>post-Covid</b> hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" genetics style="display:none;">Our Doctor have designed a unique formulation to tackle your Genetic hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" stress style="display:none;">Our Doctor have designed a unique formulation to tackle your Stress triggered hair-fall . This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" nutrition style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" deficiency style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" lifestyle style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" hormonal-imbalance style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" sleep style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" metabolism style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" gut style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" constipation style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" digestion style="display:none;">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" autoimmune style="display:none;">This type of hair loss cannot be completely treated. We can help you manage your hair condition and try to get some recovery. However, results may vary.</p>
  </div>
  
  <div class="container">
    <div class="row result_product_slides"></div>
  </div>
</div>

  {% comment %}
<p class="text-center font-fredoka main-heading mb-4 pt-3 d-none d-md-block">Not just products but a treatment plan</p>
<div class="container new-fresult pb-md-5">
  <p class="text-center font-fredoka mb-4 pt-md-5 main-heading d-md-none">
    Not just products<br>
    but a treatment plan
  </p>
  <p class="text-center fw-bold sub-heading mb-4 col3f">
    Hair growth is all about consistency. We have curated<br>
    a 360<span>&#176;</span> treatment plan to help you achieve this.
  </p>
  <div class="row card_space">
    <div class="col-md-6 col-12 m-auto">
      <div class="mx-3 green-border">
        <div class="row p-3 m-auto align-items-center justify-content-start consult-1 position-relative">
          <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111.png" class="lazyload d-none d-md-block">
          <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111_25x.png" class="lazyload d-md-none">
          <p class="font-fredoka ml-3 plan-step p-0">Personal Hair Coach</p>
        </div>
        <div class="row m-auto align-items-center pt-md-3">
          <div class="col-md-4 col-5 p-0 counsult_img order-2 order-md-1">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Ishani_Hair_Coach_Shoot_2_3_42231ac6-b318-4663-a1c9-9182a90bf601.png">
          </div>
          <p class="col-md-8 col-7 consult_text order-1 order-md-2">
            You will be given a personal hair coach that will constantly keep working to help you achieve your goals.
            They will act as a bridge between you and the doctor.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 m-auto">
      <div class="mx-3 green-border">
        <div class="row p-3 m-auto align-items-center justify-content-md-start justify-content-end consult-2 position-relative">
          <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222.png" class="lazyload d-md-block d-none">
          <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222_25x.png" class="lazyload d-md-none">
          <p class="font-fredoka ml-3 plan-step p-0">Healing Diet Plan</p>
        </div>
        <div class="row m-auto align-items-center pt-md-3">
          <div class="col-md-4 col-5 p-0 counsult_img">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/DAILY-01_1.png">
          </div>
          <p class="col-md-8 col-7 consult_text">
            Good hair needs nourishment. Our expert nutritionists curate a healing diet plan to help you absorb
            nutrients better and build a healthier lifestyle.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container will-see">
 <div class="when_will_result pb-md-5">
   <p class="see font-fredoka">When will I see results?</p>
   <div class="d-none d-md-block">
     <div class="month_box position-relative">
     <div class="image_text_box after-border">
     <p class="month font-fredoka">Month 1-2</p>    
     <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/001_2ef68293-c685-487d-8574-41fe487b1254.png?v=1669793131">
     </div>
     <div class="image_text_box after-border">
     <p class="month font-fredoka">Month 3-4</p>    
     <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/002_e6fec37b-b374-44f2-bb63-807019a7c761.png?v=1669793130">
     </div>
     <div class="image_text_box">
     <p class="month font-fredoka">Month 5-6</p>    
     <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/003_9f140a36-429a-4692-84a1-d7bea5275ab6.png?v=1669793131">
     </div>
     </div>
     <div class="text_boxx">
     <div class="text_internal">Treat internal root causes<br> behind your hair fall.</div>
     <div class="text_internal">Reduce hair fall and <br>improve follicle health.</div>
     <div class="text_internal">Grow new and healthy <br> set of baby hair.</div>
     </div>
   </div>
   <div class="d-md-none">
     <div class="month_box1 ">
     <div class="image_text_box1 after-border position-relative">
      <div class="hellosvg">
      <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/001_2ef68293-c685-487d-8574-41fe487b1254.png?v=1669793131">
      </div>
        <div class="textgrid">
       <p class="month font-fredoka">Month 1-2</p>
     <div class="text_internal">Treat internal root causes<br> behind your hair fall.</div>
       </div>
     </div>
     <div class="image_text_box1 after-border position-relative">
      <div class="hellosvg">
      <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/002_e6fec37b-b374-44f2-bb63-807019a7c761.png?v=1669793130">
      </div>
        <div class="textgrid">
     <p class="month font-fredoka">Month 3-4</p>  
     <div class="text_internal">Reduce hair fall and improve<br> follicle health.</div>
      </div> 
     </div>
     <div class="image_text_box1">
      <div class="hellosvg">
     
       <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/003_9f140a36-429a-4692-84a1-d7bea5275ab6.png?v=1669793131">
      </div>
        <div class="textgrid">
     <p class="month font-fredoka">Month 5-6</p> 
     <div class="text_internal">Grow new and healthy  set <br>of baby hair.</div>
      </div>  
     </div>
     </div>
   </div>
     <p class="glimpse font-fredoka">A glimpse of your hair growth journey</p>
 </div>
</div>  {% endcomment %}
</div>
                  
{% schema %}
  {
    "name": "Female Result Info",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Enter Heading",
        "info": "Enter Heading"
      }
    ],
    "presets": [
      {
        "name": "Female Result Info"
      }
    ]
  }
{% endschema %}

{% style %}
/*   .female-result .result_product_slides .slick-track {
    display: flex;
  } */
  /* .female-result .font-weight-bold, .result-fe .font-weight-bold {
    font-weight: 400!important;
} */
  .template-page.result-fe .main-faqbox .maintitle h2{
    font-weight: 400!important;
  }
.main-heading {
    font-weight: bold;
}
    .result-fe .section-title {
      font-weight: 400!important;
}
    .female-result p.formula.my-4.pb-md-3.pb-1, .result-fe p.formula.my-4.pb-md-3.pb-1 {
      font-weight: 400!important;
}
    .female-result-heading{
      font-weight: 400!important;
    }
  .container.py-2.f-plan__details .card {
    border-radius: 5px;
}
  .product-section-pt-true {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
 .new-fresult_pd_true {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
}
  .custom_essential_pd_true {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
  .hair-concerns h2 {
    line-height: initial;
    margin-bottom: 30px !important;
    font-size:20px;
}
  .container.female_concern_months.female_months_show p {
    line-height: initial;
}
  .container.female_concern_months.pb-md-5 p {
    line-height: initial;
}
  .fastest-result-female {
    max-width: 1100px;
    margin: 0 auto;
}
  .hair-concerns ul li {
    width: 25%;
    text-align: center;
    display: inline-grid;
    justify-content: center;
    margin-bottom: 15px;
}
  .hair-concerns ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  .hair-concerns ul li span {
    width: 100%;
    max-width: 100%;
    display: block;
}
  .hair-concerns ul li img {
    width: 120px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 7px;
}
  .new_formulation_text{
    display:block !important;
  }
  .template-page.female-result .consult-1 img, .template-page.female-result .consult-2 img {
    width: auto !important;
}
  .template-page.female-result .consult-2 p, .template-page.female-result .consult-1 p {
    width: auto !important;
}
  .template-page.result-fe .consult-1 img, .template-page.result-fe .consult-2 img {
    width: auto !important;
}
  .template-page.result-fe .consult-2 p, .template-page.result-fe .consult-1 p {
    width: auto !important;
}
   
  .position-relative.female_buy_now_pad {
    justify-content: space-between;
}

 .exclusive-Fe{
  padding-left: 5px;
  }
  .female-dis-alignment {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}
  .d-flex.align-items-center.position-relative.buynow-after {
    padding-top: 20px;
}
  .total-price.top_total-price .money:after {
    display: none;
}

  .main-heading {
    color: #3F3F3F;
    font-size: 45px;
    line-height: 50.46px;
  }
  .new-fresult .sub-heading {
    font-size: 30px;
    line-height: 38.36px;
  }
  .new-fresult .green-border {
    background: #fff;
/*     filter: drop-shadow(12px 12px 27px rgba(0, 0, 0, 0.18)); */
    border-radius: 10px;
    border: 1px solid #B7D340;
  }
  .new-fresult .plan-step {
    color: #B7D340;
    font-size: 30px;
    line-height: 37.77px;
  }
  .new-fresult .plan-detail {
    font-size: 20px;
    line-height: 24px;
    color: #3f3f3f80;
  }
  .counsult_img img {
    border-radius: 0 0 0 10px;
  }
  .consult-1:after, .consult-2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2%;
    background: #b7d34080;;
    height: 1px;
    width: 50%;
  }
  .consult_text {
    font-size: 17px;
    line-height: 24px;
    color: #3f3f3f80;
  }
/*   .new-female-buynow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  .plan_text {
    font-size: 30px;
    line-height: 40.92px;
  }
  .buynow-after:after {
    content: ' ';
    position: absolute;
    right: -1.5%;
    top: 0;
    width: 40%;
    height: 1px;
    background: #B2D030;
  }
  .new-female-realpirce {
    font-size: 20px;
    line-height: 27.28px;
    color: #4b453fb3;
  }
  .new-female-price {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #414042;
/*     background: #000; */
    width: max-content;
/*     padding: 5px 20px;
    box-shadow: 4.20039px 4.20039px 12.6012px rgb(0 0 0 / 10%); */
    border-radius: 3.36031px;
    margin-bottom: 0 !important;
  }
  .new-female-off-per {
    font-size: 20px;
    line-height: 40.92px;
    font-weight: 900;
/*    position: absolute; 
    top: 33px;
    left: 190px;
    transform: translate(-10%, -5%); */
  }
  .new-female-buynowATC {
    background: #B7D340;
    border-radius: 37.6204px;
    border: #B7D340;
    color: #414042;
    font-size: 25px;
/*     position: absolute; */
    right: 0;
    top: -20px;
  }
  .new-female-buynowATC:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }
  .new-female-buynowATC:hover > span img {
    filter: brightness(0) invert(1);
  }
  .incl__tax {
    font-size: 12px;
    line-height: 16px;
    color: #41404280;
        text-align: center;
  }
  .buynow-after p:hover, .buynow-after img:hover {
    cursor: pointer;
  }
  .female-result [f-plan__details] .card-body p, .result-fe [f-plan__details] .card-body p {
    font-weight: 700;
  }
  .when_will_result{
     text-align:center;
     background: #FFFFFF;
     border-radius: 10px;
     border:1px solid #B7D340;
     box-shadow: 12px 12px 27px rgba(0, 0, 0, 0.18);
  }
 .see{
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 125.9%;
     padding-top: 30px;
     color: #3f3f3f;
  }
 .month_box{
     display:flex;
     text-align:center;
     justify-content: space-evenly;
     padding-top:20px;
  }
 .month{
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 125.9%;
     color:#B7D340;
  }
 .text_boxx{
     display:flex;
     text-align:center;
     justify-content: space-evenly;
     padding-top:50px;
  }
 .text_internal{
     letter-spacing: normal;
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 125.9%;
     color: #3f3f3f;
  }
 .glimpse{
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 125.9%;
     padding:50px;
     color: #3f3f3f;
  }
 .image_text_box.after-border:after {
     content: '';
     position: absolute;
     background: #3F3F3F;
     width: 23.4%;
     height: 1.5px;
     top: 77%;
     transform: translate(0, 0);
     box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }
  @media only screen and (min-width: 768px) {
    .hair-concerns h2 {
    font-size: 42px !important;
}

   .hair-concerns ul li {
    width: 16% !important;
}
   p.new-female-price.mb-1.mb-md-2.total-price .money {
    font-size: 35px;
    font-weight: bold;
}
    .exclu_desk.exclusive-Fe span.new-female-off-per.l-0 {
    font-size: 25px;
          color: #dc3545!important;
}
     .exclu_desk.exclusive-Fe{
      display:block;
    }
    .price_model_discount.result4_sticky_model.my-2.my-md-0 span.model_discount_price {
          color: #dc3545!important;
}
/*     p.font-weight-bold.text-black.mb-0.price_model_discount.result4_sticky_model.my-2.my-md-0 {
    display: none;
} */
    .position-relative.female_buy_now_pad {
          padding: 10px 14px 10px;
      align-items: center;
}
    .female-result p.font-weight-bold.text-black.mb-0.price_model_discount.result4_sticky_model.my-2.my-md-0, .result-fe p.font-weight-bold.text-black.mb-0.price_model_discount.result4_sticky_model.my-2.my-md-0 {
 display:none;
    background: #eaf4f1;
      font-size: 20px;
    color: #000 !important;
    padding: 6px 15px;
      border-radius: 5px;
          margin: 0 !important;
    margin-bottom: 10px !important;
}
    .female-result .mob_align_dlfex, .result-fe .mob_align_dlfex {
    padding-top: 5px !important;
    padding-bottom: 5px;
}
    .female-result .disocunt_result_kit.price_model_discount, .result-fe .disocunt_result_kit.price_model_discount {
    display: block !important;
    font-size: 20px;
    background: #eaf4f1;
    color: #000 !important;
    padding: 6px 5px;
    margin-bottom: 10px !important;
    max-width: 65%;
    margin: 0 auto 10px !important;
    text-align: center;
    border-radius: 5px;
}
    .container.will-see {
      max-width: 900px !important;
    }
  }
  
  @media only screen and (max-width: 767.98px) {
    .hair-concerns h2.mb-4.pt-4.l-0.text-center.mb-md-3 {
    padding-top: 0 !important;
}
    .hair-concerns ul {
    margin-bottom: 0 !important;
}
    .row.result_product_slides.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 0;
    justify-content: center;
}
    .female-result .section-title,  .result-fe .section-title {
    font-size: 24px;
      /* font-family: fredoka_oneregular!important; */
    font-style: normal;
}
    .female-result p.formula.my-4.pb-md-3.pb-1 {    font-size: 24px;
    padding-bottom: 25px !important;
    font-style: bold;}
    .result-fe p.formula.my-4.pb-md-3.pb-1 {
    font-size: 24px;
    padding-bottom: 25px !important;
      font-family: fredoka_oneregular!important;
    font-style: normal;
}
    .female-result-heading{
        font-family: fredoka_oneregular!important;
    font-style: normal;
    }
    h2.female_age_conditions.font-weight-bold.l-0.text-center.mb-md-3.main-heading.font-fredoka {
    padding-top: 30px;
}
/*   
    .hair-concerns {
    margin-top: 20px;
}
    .product-section.pt-4.hairconcern_true_show {
    padding-top: 0 !important;
} */
    .hair-concerns ul li img {
    width: 70px  !important;
}
    .p-3.new-female-buynow {
    padding-top: 0 !important;
}
  .product-section.pt-4 .slick-dotted.slick-slider {
    margin-bottom: 0;
    justify-content: center;
}
    .exclu_desk.exclusive-Fe{
      display:none;
    }
     .justify-content-between.female_disc_price_wd {
    width: 35%;
}
  .female_buy_price_wd{
     width: 65%;
  }
    .female-result .new-female-buynowATC, .result-fe .new-female-buynowATC {
    margin-right: 15px;
      width: 100%;
      font-size: 18px;
}
    .container.py-4.f-plan__details {
    padding-top: 8px !important;
          padding-bottom: 0 !important;
}
   .container.py-4.px-md-4.px-0.female-pd-b {
    padding-bottom: 0 !important;
    padding-top: 5px !important;
}
    h2.mb-0.l-0.font-weight-bold.text-white {
    font-size: 25px;
}
    .female-result .f-plan__details p, .result-fe .f-plan__details p {
    font-size: 15px;
    white-space: nowrap;
}
    .female-result .total-price.top_total-price, .result-fe .total-price.top_total-price {
    font-size: 15px;
}
    .template-page.female-result [sticky__btn] .new-female-off-per, .template-page.result-fe [sticky__btn] .new-female-off-per {
    left: 120px;
    top: 26px;
}
    .price_model_discount.result4_sticky_model.my-2.my-md-0 span.model_discount_price {
          color: #dc3545!important;
}
    .female-result .disocunt_result_kit.price_model_discount, .result-fe .disocunt_result_kit.price_model_discount {
      display: none !important;
    }
    .female-result .new-female-off-per, .result-fe .new-female-off-per {
    color: #414042!important;
    font-size: 14px;
}
    .female-result p.font-weight-bold.text-black.mb-0.price_model_discount.result4_sticky_model.my-2.my-md-0, .result-fe p.font-weight-bold.text-black.mb-0.price_model_discount.result4_sticky_model.my-2.my-md-0 {
    display: block !important;
/*   text-align: center; */
    background: #eaf4f1;
    color: #414042 !important;
    padding: 6px 15px;
      border-radius: 5px;
      font-size:15px;
          margin: 0 !important;
    margin-bottom: 10px !important;
}
     .female-result del.all-total-price, .result-fe del.all-total-price {
    color: #dc3545 !important;
    font-size: 14px !important;
}
  .female-result span.total-price span.money, .result-fe span.total-price span.money {
    font-size: 20px !important;
}
    .position-relative.female_buy_now_pad {
  padding: 0px 14px 10px;
}
  .female-result .kit_price_dis del, .result-fe .kit_price_dis del {
    font-size: 15px !important;
}
.female-result .product-section-list svg, .result-fe .product-section-list svg {
    width: 34px !important;
    height: 34px !important;
}
  .female-result .kit_price_dis span, .result-fe .kit_price_dis span {
    font-size: 13px;
}
    .new_svg_color svg {
    margin-right: 9px !important;
      width: 34px;
    height: 34px;
}
    .main-heading {
      font-size: 24px !important;
      line-height: 30.82px;
    }
    .new-fresult .sub-heading {
      font-size: 13px;
      line-height: 16.96px;
    }
    .new-fresult .plan-step {
      font-size: 17px;
      line-height: 21.4px;
    }
    .card_space {
      row-gap: 20px;
    }
    .consult_text {
      font-size: 12px;
      line-height: 15px;
    }
    .consult-2:after {
      right: 0;
      left: unset;
    }
    .counsult_img.order-2.order-md-1 img {
      border-radius: 0 0 10px 0 !important;
    }
    .plan_text {
      font-size: 17px;
      line-height: 23.84px;
    }
    .new-female-realpirce {
      font-size: 13px;
      line-height: 18px;
    }
    .new-female-buynowATC {
      font-size: 13.8741px;
      line-height: 19px;
      padding: 15px 50px;
      top: 3px;
    }
    .new-female-buynowATC img {
      width: 10px;
    }
    .new-female-price {
      font-size: 22px;
      line-height: 22px;
    }
    .new-female-off-per {
      font-size: 18px;
      line-height: 27px;
      color: #414042;
      top: 25px;
     left: 120px;
    }
    .buynow-after:after {
      right: -2.5%;
      width: 77%;
      top: 50%;
    }
    .female-result .price_model_text, .result-fe .price_model_text {
      font-size: 16px;
    }
    .female-result [f-plan__details] svg+span, .result-fe [f-plan__details] svg+span {
      width: calc(100% - 34px);
      font-size: 16px;
    }
    [f-plan__details] .new-female-buynowATC {
      position: initial;
    }
    .see{
         font-size: 24px;
         padding-bottom:20px;
    }
     .text_internal{
         font-size:12px;
         padding-bottom:20px;
    }
     .image_text_box1{
         display:flex;
    }
     .month{
         font-size:17px;
         padding-top:10px;
    }
     .image11{
         width:40px;
         height:40px;
    }
     .hellosvg{
         width: 30%;
         padding-left: 45px;
    }
     .textgrid{
         text-align:left;
         width:50%;
    }
     .glimpse{
         font-size:13px;
         padding:20px;
    }
     .image_text_box1.after-border:after {
         content: '';
         position: absolute;
         background: #3F3F3F;
         width: 0.1px;
         height: 62.5px;
         top: 38%;
         left: 20.5%;
         transform: translate(-50%, 0);
         box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }
  }
  @media only screen and (max-width: 400px) {
    .p-3.new-female-buynow {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
    .consult_text {
      font-size: 10px;
      line-height: 13px;
    }
    .consult-1:after, .consult-2:after {
      bottom: 15%;
    }
    .new-fresult .sub-heading {
      font-size: 15px;
      line-height: 20.96px;
    }
    .new-female-buynowATC {
      font-size: 12.8741px;
      padding: 15px 50px;
      min-width:100%;
    }
    .new-female-price {
      padding: 0;
/*          margin: 8px 0 !important;  */
    }
    .template-page.female-result [sticky__btn] .new-female-off-per, .template-page.result-fe [sticky__btn] .new-female-off-per {
    left: 120px !important;
    top: 35px !important; 
}
    .new-female-off-per {
      font-size: 14.4798px;
      top: 35px;
      left:100px;
    }
    .buynow-after:after {
      width: 65%;
    }
    .image_text_box1.after-border:after {
      left: 21.5%;
    }
     .text_internal {
      font-size: 10px;
    }
  }
  div#new-female-buynow {
    padding: 0 0 !important;
}
   .female-result .new-female-off-per, .result-fe .new-female-off-per {
    color: #414042!important;
         margin-right: 15px;
     font-size:15px;
}
  .female-result .new-female-buynowATC, .result-fe .new-female-buynowATC {
    padding: 15px 50px;
}
{% endstyle %}

<script>
  $(document).ready(function() {
    $('[f-plan_kit]').click(function() {
      $('[f-plan__details]').toggle('slow');
    });
  });
</script>