<div class="container hair-fall-fix mt-4">
  <div class="fix-hair-fall position-relative">
  <p class="text-center font-weight-bold fix-heading">Let's fix hair fall the right way</p>
  <p class="text-center fix-text mb-md-5 mb-3">A range of products that work on the root cause of your hairfall</p>
  <div class="d-flex fix-hair-icons">
    <div class="sleep_stress w-20 icons" data-toggle="modal" data-target=".sleep-stress">
      <div class="text-center">
        <img class="d-none d-md-block images m-auto lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/sleep_stress.png">
        <img class="d-md-none m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_18.png">
      </div>
    <div>
        <p class="mt-2 text-center solutions">Sleep & Stress</p>
    </div>
    </div>
    
    <div class="nutrition w-20 icons" data-toggle="modal" data-target=".Nutrition">
      <div class="text-center">
        <img class="d-none d-md-block images m-auto lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/nutrition_01b17215-2ed1-46f8-9c80-1af9a89099c9.png">
        <img class="d-md-none m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_8_74bde4f0-88a7-4416-9050-03347731355c.png">
      </div>
    <div>
        <p class="mt-2 text-center solutions">Nutrition</p>
    </div>
    </div>

    <div class="hormonal_imbalance w-20 icons" data-toggle="modal" data-target=".Hormonal-Imbalance">
      <div class="text-center">
        <img class="d-none d-md-block images m-auto lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/hormonal_imbalance.png">
        <img class="d-md-none m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_10.png">
      </div>
    <div>
        <p class="mt-2 text-center solutions">Hormonal Imbalance</p>
    </div>
    </div>

    <div class="genetics w-20 icons" data-toggle="modal" data-target=".Genetics">
      <div class="text-center">
        <img class="d-none d-md-block images m-auto lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/genetics_d41d45c9-b647-433b-b120-5ed1a5def7a4.png">
        <img class="d-md-none m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_11.png">
      </div>
    <div>
        <p class="mt-2 text-center solutions">Genetics</p>
    </div>
    </div>
    
    <div class="lifestyle w-20 icons" data-toggle="modal" data-target=".Lifestyle">
      <div class="text-center">
        <img class="d-none d-md-block images m-auto lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/lifestyle_2761702c-bc48-40fe-8312-8eb29bfc7ca9.png">
        <img class="d-md-none m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_19.png">
      </div>
    <div>
        <p class="mt-2 text-center solutions">Lifestyle</p>
    </div>
    </div>
    </div>
    <hr class="dashed-line divider d-none d-md-block" />
  </div>
  </div>

<div class="modal fade sleep-stress" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="d-flex modal-content border-0 rounded-lg">
      <div class="border-0 modal-header">
        <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="py-0 py-md-3 px-3 px-md-4 px-sm-0 modal-text">
      Increases cortisol levels in the body causing hair to fall off.
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade Nutrition" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="d-flex modal-content border-0 rounded-lg">
      <div class="border-0 modal-header">
        <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="py-0 py-md-3 px-3 px-md-4 px-sm-0 modal-text">
      Nutrient deficiency affects hair fibre, texture, quality and strength.
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade Hormonal-Imbalance" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="d-flex modal-content border-0 rounded-lg">
      <div class="border-0 modal-header">
        <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="py-0 py-md-3 px-3 px-md-4 px-sm-0 modal-text">
      Hormonal fluctuation results in poor hair growth and visible scalp.
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade Genetics" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="d-flex modal-content border-0 rounded-lg">
      <div class="border-0 modal-header">
        <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="py-0 py-md-3 px-3 px-md-4 px-sm-0 modal-text">
      DHT hormone causes hair roots to shrink and hair to thin and fall out.
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade Lifestyle" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="d-flex modal-content border-0 rounded-lg">
      <div class="border-0 modal-header">
        <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="py-0 py-md-3 px-3 px-md-4 px-sm-0 modal-text">
      Poor lifestyle habits can trigger hair fall in a number of ways.
      </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .fix-heading {
    font-size: 38px;
    line-height: 49px;
    color: #000;
  }
  .fix-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;
  }
  .solutions {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
  }
  .w-20 {
    width: 20%;
  }
  .dashed-line {
    border:none;
    border-top: 2px dashed #9791916b;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:calc(80%);
    margin: auto;
  }
  .divider {
    position: absolute;
    bottom: calc(98px);
    right: calc(10%);
    left: calc(10%);
  
  }
  .icons {
    z-index: 2;
  }
  .fix-hair-fall .slick-list.draggable {
    z-index: 2;
  }
  .template-page.female-combo .modal-text {
    font-size: 25px;
  }
  .template-page.female-combo .icons:hover {
    cursor: pointer;
  }
  .template-page.female-combo .modal-header {
    padding: 1rem 1rem 0px;
  }
  .template-page.female-combo .modal-body {
    padding: 0rem 1rem 1rem;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .images {
      width: 100px; 
    }
    .solutions {
      font-size: 24px;
      line-height: 26px;
    }
    .divider {
      bottom: calc(66px);
    }
  .template-page.female-combo .modal-text {
    font-size: 25px;
  }
  } 
  @media only screen and (max-width: 767px) {
    .fix-heading {
      font-size: 20px;
      line-height: 27px;
    }
    .fix-text {
      font-size: 12px;
      line-height: 16px;
    }
    .solutions {
      font-size: 13px;
      line-height: 18px;
    }
    .divider {
      bottom: calc(33px);
    }
    .dashed-line {
      width: calc(67%);
    }
  .template-page.female-combo .modal-text {
    font-size: 20px;
  }
  .template-page.female-combo .container.hair-fall-fix {
    padding: 15px 0px;
  }
  }
  @media only screen and (max-width: 429px) {
    .divider {
      bottom: calc(49px);
    }
  } 
{% endstyle %}

{% schema %}
  {
    "name": "Fix Hair Fall",
    "settings": [],
    "presets": [
      {
        "name": "Fix Hair Fall"
      }
    ]
  }
{% endschema %}