<div class="page-width native_hair_stage">
  <p class="section-title">7 Stages Of Genetic Hair Fall Explained</p>
   <div class="hair-stage-content stages-loop-1">
     
<div class="hair-stage-grid1">
  <div class="hair-stage-img1">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/1_6f2b9f83-0393-459a-9cf0-a567d8655b6f.png?v=1673524641">
  <span>Stage 1</span>
  </div>
  <div class="hair-stage-img1">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/2_d594aa27-899f-44e7-a41c-8f97a69f0434.png?v=1673524650">
  <span>Stage 2</span>
  </div>
  <div class="hair-stage-img1">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/3_75030168-b2b5-4699-baad-f1e1a87eeb62.png?v=1673524660">
  <span>Stage 3</span>
  </div>
  <div class="hair-stage-img1">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/5_7ae399d9-8264-4b68-830a-54ded6f31ac3.png?v=1673524668">
 <span>Stage 4</span>
  </div>
</div>
     <div class="native-stage-bdr">
    
     <span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352664.png?v=1673624045"></span>
      <p>Hair growth is easily possible <br>with a <strong>hair treatment.</strong></p>
      <span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352665.png?v=1673624054"></span>
    
     </div> 
</div>
    <div class="hair-stage-content stages-loop-2">
  <div class="hair-stage-grid2">
  <div class="hair-stage-img2">
   <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/5_7ae399d9-8264-4b68-830a-54ded6f31ac3.png?v=1673524668">
 <span>Stage 5</span>
  </div>
    <div class="hair-stage-img2">
      <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/6_0405c9f2-b9d1-4a98-92c4-e39d55ee0b98.png?v=1673524672">
     <span>Stage 6</span>
    </div>
    <div class="hair-stage-img2">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/7_2e8febcf-a0c8-4c4c-92a4-d426982cf05c.png?v=1673524680">
    <span>Stage 7</span>
    </div>
  </div>
      <div class="native-stage-bdr">
   <span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352664.png?v=1673624045"></span>
      <p>Only a <strong>hair transplant</strong> can<br> regrow your hair</p>
      <span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352665.png?v=1673624054"></span>
   </div> 
  </div>
</div>
<style>
  .native-stage-bdr {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
    @media screen and (max-width: 767px) {
      .hair-stage-content.stages-loop-2 p {
    margin-top: 25px !important;
}
    .hair-stage-content.stages-loop-1 {
   width: 100% !important;
    margin-bottom: 30px !important;
}
    .hair-stage-content.stages-loop-2 {
    width: 100% !important;
    float: none;
}
    .native .section-title {
    font-size: 26px !important;
}
   .hair-stage-img1 img {
    max-width: 100% !important;
}
       .hair-stage-img2 img {
    max-width: 100% !important;
}
  }
  .native .section-title {
    font-size: 40px;
  }
  .hair-stage-content.stages-loop-1 p {
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}
  .hair-stage-content.stages-loop-2 p {
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}
  .hair-stage-img1 span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
  .hair-stage-img2 span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
  .hair-stage-img1 img {
    max-width: 150px;
}
  .hair-stage-img2 img {
    max-width: 150px;
}
  .page-width.native_hair_stage {
        margin-bottom: 50px;
    padding: 10px 10px 10px 9px;
}
  .hair-stage-content.stages-loop-1 {
    width: 60%;
       float: left;
}
    .hair-stage-content.stages-loop-2 {
    width: 40%;
        display: inline-block;
}
  .hair-stage-content {
    position: relative;
    width: 100%;
    text-align: center;
}
  .hair-stage-img1 {
    width: -webkit-fill-available;
}
    .hair-stage-img2 {
    width: -webkit-fill-available;
}
/*   .hair-stage-img1 {
    display: flex;
    width:25%;
}
   .hair-stage-img2 {
    display: flex;
     width:33.33%
} */
  
 .hair-stage-grid1 {
    position: relative;
    display: flex;
    justify-content: space-between;
}
  .hair-stage-grid2 {
    position: relative;
    display: flex;
    justify-content: space-between;
}
</style>
{% schema %}
  {
    "name": "Hair Stages",
    "settings": [],
     "blocks": [
      {
        "name": "Hair Stages",
        "type": "image",
        "settings": [
          {
            "type":"image_picker",
            "label":"Select Image",
            "id" : "doc_image"
          },
          {
            "type": "text",
            "label": "Doctor Name",
            "id": "doc_name"
          },
          {
            "type": "text",
            "label": "Doc Description",
            "id": "doc_desc"
          }
        ]
      }
    ],
    "presets":[
          {
          "name":"Hair Stages"
          }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}