<div class="container transplant_graph_main">
  <div class="transplant_graph_wrapper d-flex align-items-end justify-content-between">
    <div class="transplant_graph_content">
      <div class="mb-3">
        <h1 class="section-title text-left l-0">Hair transplant cost in <br class="d-md-block d-none"> <span style="color: #B7D340;">{{ article.title }}</span></h1>
      </div>
      <div class="row graphs_text">
        <div class="col-5 p-0">
          <p><strong>Procedure Type</strong> <br><span class="graphs_text_type">Surgical</span></p>
        </div>
        <div class="col-7 p-0">
          <p><strong>Common Name</strong><br><span class="graphs_text_type">Hair Restoration</span></p>
        </div>
        <div class="col-5 p-0">
          <p><strong>Anesthesia</strong> <br><span class="graphs_text_type">Local</span></p>
        </div>
        <div class="col-7 p-0">
          <p><strong>Procedure Duration</strong> <br><span class="graphs_text_type">4 - 8 Hours</span></p>
        </div>
      </div>
    </div>
    <div class="transplant_graph d-md-flex d-none align-items-end">
      <div class="d-flex align-items-center flex-column">
        <p class="mb-1"><strong>₹24,000</strong></p>
        <div class="empty_graph1 empty_graph"> </div>
        <p class="pt-2 text-center l-0" style="font-size: 12px;">Lowest Price <br> (Approx)</p>
      </div>
      <div class="d-flex align-items-center flex-column">
        <p class="mb-1"><strong>₹54,000</strong></p>
        <div class="empty_graph2 empty_graph"> </div>
        <p class="pt-2 text-center l-0" style="font-size: 12px;">Average Price <br> (Approx)</p>
      </div>
      <div class="d-flex align-items-center flex-column">
        <p class="mb-1"><strong>₹1,54,000</strong></p>
        <div class="empty_graph3 empty_graph"> </div>
        <p class="pt-2 text-center l-0" style="font-size: 12px;">Maximum Price <br> (Approx)</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hair Transplant Graph",
    "settings": [],
    "presets":[
      {
        "name":"Hair Transplant Graph"
      }
    ]
  }
{% endschema %}
