<div class="ht_blog_cta text-center mb-2" id="stickyContent">
  <div class="d-flex ques_ansr align-items-center">
    <p class="blog_arw_content_ht l-0" id="paragraphText" style="margin-bottom:0;">
      You might need a transplant... you might not! Find out now.
    </p>
    <span id="toggleArrow">
      <svg id="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <path d="M15.2924 22.7076L5.29243 12.7076C5.19952 12.6147 5.12582 12.5044 5.07554 12.383C5.02526 12.2616 4.99937 12.1315 4.99937 12.0001C4.99937 11.8687 5.02526 11.7386 5.07554 11.6172C5.12582 11.4958 5.19952 11.3855 5.29243 11.2926C5.38534 11.1997 5.49564 11.126 5.61703 11.0757C5.73843 11.0254 5.86854 10.9995 5.99993 10.9995C6.13133 10.9995 6.26143 11.0254 6.38283 11.0757C6.50422 11.126 6.61452 11.1997 6.70743 11.2926L15.9999 20.5863L25.2924 11.2926C25.4801 11.1049 25.7346 10.9995 25.9999 10.9995C26.2653 10.9995 26.5198 11.1049 26.7074 11.2926C26.8951 11.4802 27.0005 11.7347 27.0005 12.0001C27.0005 12.2654 26.8951 12.5199 26.7074 12.7076L16.7074 22.7076C16.6146 22.8005 16.5043 22.8743 16.3829 22.9246C16.2615 22.975 16.1313 23.0009 15.9999 23.0009C15.8685 23.0009 15.7384 22.975 15.617 22.9246C15.4956 22.8743 15.3853 22.8005 15.2924 22.7076Z" fill="#414042"/>
      </svg>
    </span>
  </div>
  <div class="button-wrapper">
    <a
      href="https://form.traya.health/questions?cohort=1&location=stickycta&page={{ request.path | replace: '/', '_' | replace: '_blogs_', 'blogs_' }}&utm_campaign=blogs_ht_stickycta"
      id="htstickycta"
      class="assessment-btn blogs_pages_cta font-weight-bold px-md-5 py-md-3 rounded-lg hair-form-actn-link"
      >Take The Hair Test<sup>TM</sup></a
    >
  </div>
</div>
<style>
  .ht_blog_cta {
      display: none; /* Initially hide the content */
      flex-direction: column;
      background: #B7D340;
      position: fixed;
      bottom: -12px;
      padding: 16px 22px 16px 17px;
      border-radius: 9px;
      z-index: 99;
      width: 100%
  }

  @media screen and (max-width: 800px) {
      .sticky_content_cta {
          display: flex;
          gap: 17px;
      }
      .blog_arw_content_ht {
          font-size: 24px;
          text-align: left;
          width: 80%;
      }
      .arrow_ht {
          width: 20%;
      }
    #toggleArrow {
      padding-left: 25px;
    }
  }

  .hidden {
      display: none;
  }

  .arrow {
      cursor: pointer;
      display: inline-block;
      transition: transform 0.3s;
  }

  .button-wrapper {
      width: 100%;
      background: #414042;
      padding: 15px 0;
      border-radius: 10px;
  }

  #htstickycta {
      color: #FFFFFF;
      text-transform: uppercase;
      font-family: "Nunito Sans" !important;
      font-size: 18px;
      font-weight: 700;
      line-height: 23.4px;
      text-align: left;
  }

  .button-wrapper sup {
    left: 5px;
    font-size: 12px;
   font-weight: 700;
  }
  .paragraphText {
    margin:0;
  }
</style>

<script>
    let stickyContent = document.getElementById("stickyContent");
    let paragraph = document.getElementById("paragraphText");
    let arrowIcon = document.getElementById("arrowIcon");
    // let arrowIconBtn = document.getElementById("arrowIconBtn");

   window.addEventListener("scroll", function() {
      if (window.innerWidth <= 800) { // Only execute on mobile devices
          const scrollPosition = window.scrollY || window.pageYOffset;
          const scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
          const scrollPercent = (scrollPosition / scrollHeight) * 100;

          if (scrollPercent >= 20) {
              // stickyContent.style.display = "flex";
              stickyContent.classList.add("sticky_content_cta");
          // } else {
          //     stickyContent.style.display = "none"; // Optional: Hide it when less than 20% scrolled
          }
      }
  });

    // Ensure the content is hidden on load
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth > 800) {
            stickyContent.style.display = "none";
        }
    });

    document.getElementById("toggleArrow").addEventListener("click", function() {
        toggleParagraph();
    });

    // document.getElementById("toggleArrowBtn").addEventListener("click", function() {
    //     toggleParagraph();
    // });

    function toggleParagraph() {
        if (paragraph.classList.contains("hidden")) {
            paragraph.classList.remove("hidden");
            arrowIcon.style.transform = "rotate(0deg)";
            stickyContent.style.flexDirection = "column";
            // arrowIconBtn.style.transform = "rotate(0deg)";
        } else {
            paragraph.classList.add("hidden");
            arrowIcon.style.transform = "rotate(180deg)";
            stickyContent.style.flexDirection = "row-reverse";
            // arrowIconBtn.style.transform = "rotate(180deg)";
        }
    }
</script>

{% schema %}
{
  "name": "HT Blogs CTA",
  "settings": [
    ],
  "presets":[
        {
        "name":"HT Blogs CTA"
        }
    ]
}
{% endschema %}
