<!-- Sections -> male-treatment-plan-hinglish.liquid -->

<div page_type="normal" class="mt-md-4 male-treatment-plan-hi">
  <p class="text-center main-heading mb-4 pt-3 d-none d-md-block">Sirf products nahi, ek total treatment plan</p>
  
  <div class="container pb-md-5">
    <p class="text-center mb-4 pt-md-5 main-heading d-md-none">Sirf products nahi, ek total treatment plan</p>
    <p class="text-center fw-bold sub-heading d-none d-md-block mb-4 col3f">Hair growth ke liye, consistency hi sab kuch hain. Isiliye, <br> humne aap ke liye ek 360° plan banaya hain.</p>
    <p class="text-center fw-bold sub-heading mb-4 d-md-none col3f">Hair growth ke liye, consistency hi sab kuch hain. Isiliye, humne aap ke liye ek 360° plan banaya hain.</p>
    
    <div class="row card_space">
      <div class="col-md-6 col-12 m-auto">
        <div class="mx-3 green-border">
          <div class="row p-3 m-auto align-items-center justify-content-start consult-1 position-relative">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111.png" class="lazyload d-none d-md-block">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111_25x.png" class="lazyload d-md-none">
            <p class="font-fredoka ml-3 plan-step p-0">Hair Coach</p>
          </div>
          
          <div class="row m-auto align-items-center pt-md-3">
            <div class="col-md-4 col-5 p-0 counsult_img order-2 order-md-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Ishani_Hair_Coach_Shoot_2_3_42231ac6-b318-4663-a1c9-9182a90bf601.png">
            </div>
            <p class="col-md-8 col-7 consult_text order-1 order-md-2">Humare Hair Coach aap ke hair goals tak aap ko pohochane mein help karenge. Unse directly baat karke, woh aap ke aur doctor ke beech ka gap mita dete hain.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-12 m-auto">
        <div class="mx-3 green-border">
          <div class="row p-3 m-auto align-items-center justify-content-md-start justify-content-end consult-2 position-relative">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222.png" class="lazyload d-md-block d-none">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222_25x.png" class="lazyload d-md-none">
            <p class="font-fredoka ml-3 plan-step p-0">Healing Diet Plan</p>
          </div>
          
          <div class="row m-auto align-items-center pt-md-3">
            <div class="col-md-4 col-5 p-0 counsult_img">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/DAILY-01_1.png">
            </div>
            <p class="col-md-8 col-7 consult_text">Acche baalo ko poshan ki zaroorat hain. Humare healing diet plan se aap ko nutrients absorb karne aur ek healthy lifestyle jeene mein madad karegi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .main-heading {font-size: 44px; line-height: 32px; font-weight: bold; letter-spacing: 0em;}
  .sub-heading {font-size: 30px; line-height: 38.36px;}
  .green-border {background: #fff; border-radius: 10px; border: 1px solid #B7D340;}
  .consult-1 img, .result4 .consult-2 img {width: auto !important;}
  .consult-1:after, .consult-2:after {content: ''; position: absolute; left: 0; bottom: 2%; background: #b7d34080; height: 1px; width: 50%;}
  .counsult_img img {border-radius: 0 0 0 10px;}
  .consult_text {font-size: 20px; line-height: 24px; color: #414042;}
  .plan-step {color: #B7D340; font-size: 30px; line-height: 37.77px;}
  
  @media only screen and (max-width: 767.98px) {
    .main-heading {font-size: 24px;}
    .sub-heading {font-size: 13px; line-height: 16.96px;}   
    .card_space {row-gap: 20px;}
    .counsult_img.order-2.order-md-1 img {border-radius: 0 0 10px 0 !important;}
    .consult_text {font-size: 12px; line-height: 18px;}
    .consult-2:after {right: 0; left: unset;}
    .plan-step {font-size: 17px; line-height: 21.4px;}
  }

  @media only screen and (max-width: 400px) {
    .sub-heading {font-size: 15px; line-height: 20.96px;}
    .consult-1:after, .consult-2:after {bottom: 15%;}
  }
</style>

{% schema %}
  {
    "name": "Male Treatment Hinglish",
    "settings": [],
    "presets": [{"name": "Male Treatment Hinglish"}]
  }
{% endschema %}