<section class="mt-4 mt-md-5 pt-5 female-test-report-section">
<div class="container female-bg">
  <div class="mob_usertext female-result_usertext">
<!--    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7895 19.9153C10.527 20.1777 10.1709 20.3252 9.7997 20.3252C9.42847 20.3252 9.07244 20.1777 8.8099 19.9153L0.409901 11.5153C0.147441 11.2527 0 10.8967 0 10.5255C0 10.1542 0.147441 9.79821 0.409901 9.53567L8.8099 1.13567C9.07394 0.880651 9.42759 0.739539 9.79466 0.742729C10.1617 0.745918 10.5129 0.893155 10.7724 1.15273C11.032 1.4123 11.1793 1.76343 11.1824 2.13051C11.1856 2.49759 11.0445 2.85123 10.7895 3.11527L4.7793 9.12547H20.9997C21.371 9.12547 21.7271 9.27297 21.9897 9.53552C22.2522 9.79807 22.3997 10.1542 22.3997 10.5255C22.3997 10.8968 22.2522 11.2529 21.9897 11.5154C21.7271 11.778 21.371 11.9255 20.9997 11.9255H4.7793L10.7895 17.9357C11.052 18.1982 11.1994 18.5542 11.1994 18.9255C11.1994 19.2967 11.052 19.6527 10.7895 19.9153Z" fill="#414143"></path>
   </svg> -->
  <p class="userText">
    Hi <span class="user_name" data-user-name="">User</span>,<br> Your results are in.</p>
  </div>
   <span class="assement-report">
              <p>Assessment Report
            </p></span>
  <div class="d-flex bg-white female_bg_top">
  <div class="col-8">
<p class="desk_usertext userText">Hi <span class="user_name" data-user-name="">User</span>, Your results are in.</p>
    <div class="RootCause">
    <p class="rootcause_description pt-md-3" PCOS style="display:none;">Your hair fall is triggered by PCOS. During PCOS, hormonal imbalance causes hair thinning and hair tends to fall as a side effect.</p>
    <p class="rootcause_description pt-md-3" post-pregnancy style="display:none;">After the baby is delivered, the mother's hormone levels (estrogen) drop. This hormonal imbalance causes hair to fall off resulting in hair thinning and scalp visibility.</p>
    <p class="rootcause_description pt-md-3" pregnancy style="display:none;">During pregnancy, the mother's hormone levels (estrogen) shift drastically to support the growing baby. This affects the natural hair cycle causing hair fall and may not be replaced by new growth resulting in hair thinning and scalp visibility.</p>
    <p class="rootcause_description pt-md-3" stress style="display:none;">Stress causes the cortisol levels in the body to rise. This leads to hair thinning and eventually hair fall.</p>
   <p class="rootcause_description pt-md-3" sleep style="display:none;"> Irregular sleeping patterns aggravate hair fall. A hormone called melatonin is released during sleep which is also essential for a smooth functioning of the hair cycle. When melatonin is not produced in the right amounts, it causes hair thinning and hair fall.</p>
    <p class="rootcause_description pt-md-3" genetics style="display:none;">A genetic predisposition to the hormone DHT causes hair fall. An imbalance in this hormone causes the hair follicle to shrink with every hair cycle.</p>
    <p class="rootcause_description pt-md-3" digestion style="display:none;">The low level of acid in your stomach will prevent from keeping food digested properly which in turn will affect your hair growth.</p>
    <p class="rootcause_description pt-md-3" post-covid style="display:none;">A severe illness like Covid stresses the body which disrupts the natural hair growth cycle. Hair falls out and may not be replaced by new growth resulting in hair thinning and scalp visibility.</p>
    <p class="rootcause_description pt-md-3" menopause style="display:none;">During Menopause, along with mood swings, the female hormone levels drop. This affects hair health causing hair fall and may not be replaced by new growth resulting in hair thinning and scalp visibility.</p>
    <p class="rootcause_description pt-md-3" thyroid style="display:none;">When thyroid hormone production is hampered, it affects other bodily functions too. Hair falls out and may not be replaced by new growth resulting in hair thinning and scalp visibility.</p>
    <p class="rootcause_description pt-md-3" lifestyle style="display:none;">Unhealthy lifestyle habits directly affects hair health and the natural hair growth cycle. This causes hair fall which may not be replaced by new hair growth.</p>
      <p class="rootcause_description pt-md-3" nutrition style="display:none;">Hair needs food too. Biotin, iron, zinc, all macro and micro nutrients are required by hair for it to grow in an ideal manner. This means that when any of these nutrients falls short in the body, it reflects as hair thinning along with hair looking dull and lifeless.</p>
    <p class="rootcause_description pt-md-3" deficiency style="display:none;">Hair needs food too. Biotin, iron, zinc, all macro and micro nutrients are required by hair for it to grow in an ideal manner. This means that when any of these nutrients falls short in the body, it reflects as hair thinning along with hair looking dull and lifeless.</p>
   <p class="rootcause_description pt-md-3" hormonal-imbalance style="display:none;">Underlying health issues like PCOS, Thyroid, and more caused due to imbalanced hormone levels affect the quality of hair leading to hair thinning and hair fall.</p>
    <p class="rootcause_description pt-md-3" metabolism style="display:none;">A good metabolism is required for the body to break down nutrients from food and supply it through the blood to the follicles. Factors like inflammation and high glycemic diet lead to poor metabolism that affects the production of new hair cells.</p>
    <p class="rootcause_description pt-md-3" gut style="display:none;">Gut issues like constipation, indigestion and more hamper the quality of hair as toxins in the body get accumulated and are not properly removed out of the system.</p>
    <p class="rootcause_description pt-md-3" constipation style="display:none;">If there is any disturbance in the digestive system, the loss of nutrients in any form will lead to loss of hair.</p>
    <p class="rootcause_description pt-md-3" autoimmune style="display:none;">An auto-immune condition in the body causes cells to attack hair follicles. This causes hair loss in coin-size patches. </p>
    </div>
  </div>
  <div class="col-4 female_factor_result">
    <p class="primary_root font-fredoka fw-bold text-center d-none d-md-block">
      Your Primary
      Root Cause
    </p>
    <div class="primary_root_img m-auto">
       <div class="row text-center combo-icons d-flex justify-content-around align-items-center root_cause_iconFRs text-center">
        <div class="mainFactImages" pregnancy style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/pregnancy_1.png?v=1679039337">
        </div>
        <div class="mainFactImages" post-pregnancy style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/post_pregnancy_1.png?v=1679039333">
        </div>
         <div class="mainFactImages" autoimmune style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352662.png?v=1679039260">
        </div>
        <div class="mainFactImages" thyroid style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/thyroid_1.png?v=1679039345">
        </div>
        <div class="mainFactImages" stress style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352665_711a584c-4474-4883-ab61-6ccd2e8a7e65.png?v=1679039278">
        </div>
         <div class="mainFactImages" sleep style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/sleep_1.png?v=1679039341">
        </div>
        <div class="mainFactImages" genetics style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352666.png?v=1679042783">
        </div>
        <div class="mainFactImages" PCOS style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/pcos_1_a387a165-2e80-4a1b-8276-4a31f678a1c2.png?v=1679039327">
        </div>
        <div class="mainFactImages" menopause style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/MENOPAUSE_1_e025d50e-50b4-41da-9773-a586f822f979.png?v=1679039319">
        </div>
<!--         <div class="mainFactImages" post-covid style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/covid.png?v=1669971880">
        </div> -->
        <div class="mainFactImages" digestion style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
        </div>
        <div class="mainFactImages" lifestyle style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/lifestyle_1_1fdf6f99-4927-4e0d-b3c3-164b67aa63fb.png?v=1679039300">
        </div>
        <div class="mainFactImages" nutrition style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_532.png?v=1679039256">
        </div>
          <div class="mainFactImages" deficiency style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/deficiency_1.png?v=1679039253">
        </div>
          <div class="mainFactImages" hormones style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/hormonal_imbalance_1.png?v=1679039288">
        </div>
         <div class="mainFactImages" hormonal-imbalance style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/hormonal_imbalance_1.png?v=1679039288">
        </div>
         <div class="mainFactImages" metabolism style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/metabolism_1_c3b0a4fe-0ea9-45bf-a562-f9d8321854e9.png?v=1679039323">
        </div>
         <div class="mainFactImages" gut style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
        </div>
          <div class="mainFactImages" constipation style="display:none;">
            <img class="factImage p-3" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
        </div>
      </div>
    </div>
  <p class="primary_root_text font-fredoka fw-bold text-center my-3 p-1"><span class="text-capitalize" primary-root="">Root Cause</span></p>
  </div>
</div>



    <div class="mx-auto my-4 root_cause_container bg-white p-3">
      <h2 class="font-weight-bold l-0 text-left font-fredoka my-2 pl-1 pl-md-5 section-title cstm_section_titleFR position-relative">Other Root Causes</h2>
      <div class="row text-center combo-icons py-3 d-flex align-items-center root_cause_iconFR text-center">
        <div class="mainFactImages" pregnancy style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/pregnancy_1.png?v=1679039337">
          </div>
          <p style="text-align: center;" data-id="nav-deficiency" data-toggle="modal" data-target="#stageModalCenter">Pregnancy</p>
        </div>
        <div class="mainFactImages" post-pregnancy style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/post_pregnancy_1.png?v=1679039333">
          </div>
          <p style="text-align: center;" data-id="nav-sleep" data-toggle="modal" data-target="#stageModalCenter">Postpartum</p>
        </div>
         <div class="mainFactImages" autoimmune style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352662.png?v=1679039260">
          </div>
          <p style="text-align: center;" data-id="nav-sleep" data-toggle="modal" data-target="#stageModalCenter">Autoimmune</p>
        </div>
        <div class="mainFactImages" thyroid style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/thyroid_1.png?v=1679039345">
          </div>
          <p style="text-align: center;" data-id="nav-lifestyle" data-toggle="modal" data-target="#stageModalCenter">Thyroid</p>
        </div>
        <div class="mainFactImages" stress style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352665_711a584c-4474-4883-ab61-6ccd2e8a7e65.png?v=1679039278">
          </div>
          <p style="text-align: center;" data-id="nav-stress" data-toggle="modal" data-target="#stageModalCenter">Stress</p>
        </div>
         <div class="mainFactImages" sleep style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/sleep_1.png?v=1679039341">
          </div>
          <p style="text-align: center;" data-id="nav-stress" data-toggle="modal" data-target="#stageModalCenter">Sleep</p>
        </div>
        <div class="mainFactImages" genetics style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352666.png?v=1679042783">
          </div>
          <p style="text-align: center;" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">Genetics</p>
        </div>
        <div class="mainFactImages" PCOS style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/pcos_1_a387a165-2e80-4a1b-8276-4a31f678a1c2.png?v=1679039327">
          </div>
          <p style="text-align: center;" data-id="nav-pcos" data-toggle="modal" data-target="#stageModalCenter">PCOS</p>
        </div>
        <div class="mainFactImages" menopause style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/MENOPAUSE_1_e025d50e-50b4-41da-9773-a586f822f979.png?v=1679039319">
          </div>
          <p style="text-align: center;" data-id="nav-pcos" data-toggle="modal" data-target="#stageModalCenter">Menopause</p>
        </div>
        <div class="mainFactImages" covid style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/covid.png?v=1669971880">
          </div>
          <p style="text-align: center;" data-id="nav-pcos" data-toggle="modal" data-target="#stageModalCenter">Covid</p>
        </div>
        <div class="mainFactImages" digestion style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Digestion</p>
        </div>
        <div class="mainFactImages" lifestyle style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/lifestyle_1_1fdf6f99-4927-4e0d-b3c3-164b67aa63fb.png?v=1679039300">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Lifestyle</p>
        </div>
        <div class="mainFactImages" nutrition style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_532.png?v=1679039256">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Nutrition</p>
        </div>
          <div class="mainFactImages" deficiency style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/deficiency_1.png?v=1679039253">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Deficiency</p>
        </div>
          <div class="mainFactImages" hormonal-imbalance style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/hormonal_imbalance_1.png?v=1679039288">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Hormones</p>
        </div>
        <div class="mainFactImages" metabolism style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/metabolism_1_c3b0a4fe-0ea9-45bf-a562-f9d8321854e9.png?v=1679039323">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Metabolism</p>
        </div>
        <div class="mainFactImages" gut style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Gut</p>
        </div>
         <div class="mainFactImages" constipation  style="display:none;">
          <div class="mainFacImgprnt">
            <img class="factImage" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/gutt_1.png?v=1679039283">
          </div>
          <p style="text-align: center;" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">Constipation</p>
        </div>
      </div>
      <p class="d-md-none fw-bold" style="font-size: 12px; line-height: 128.4%; text-align: center;">Apart from this, your lifestyle and internal </br>root causes speed up your hair fall process</p>
    </div>
  </div>
        <p class="d-none d-md-block fw-bold pt-4" style="font-size: 30px; line-height: 128.4%; text-align: center;">Apart from this, your lifestyle and internal </br>root causes speed up your hair fall process</p>
</section>

<!-- <div class="product-section pt-4">
  <h2 class=" font-weight-bold l-0 text-center mb-md-3 main-heading font-fredoka d-none d-md-block">Your customised hair re-growth kit</h2>
  <h2 class=" font-weight-bold l-0 text-center mb-md-3 main-heading font-fredoka d-md-none">Your customised<br>hair re-growth kit</h2>
  
  <div class="formulation">
  <p class="text-center mb-4 formulation-text fw-bold" PCOS style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>PCOS</b> triggered hair-fall. This will also work <br>on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" post-pregnancy style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>post-pregnancy</b> hair-fall. This will also <br>work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" menopause style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>menopause</b> triggered hair-fall. This will also <br>work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" pregnancy style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>pregnancy</b> triggered hair-fall. This will also <br>work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" thyroid style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>Thyroid</b> triggered hair-fall. This will also <br>work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" covid style="display:none;">Our Doctor have designed a unique formulation to <br>tackle your <b>post-Covid</b> hair-fall. This will also <br>work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" genetics style="display:none;">Our Doctor have designed a unique formulation to tackle <br>your Genetic hair-fall. This will also work on your internal <br>root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" stress style="display:none;">Our Doctor have designed a unique formulation to tackle <br>your <b>Stress</b> triggered hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" nutrition style="display:none;">Our Doctor have designed a unique formulation to tackle <br>your hair-fall. This will also work on your internal root cause.</p>
  <p class="text-center mb-4 formulation-text fw-bold" lifestyle style="display:none;">Our Doctor have designed a unique formulation to tackle <br>your hair-fall. This will also work on your internal root cause.</p>
  </div>
  
  <div class="container">
    <div class="row result_product_slides"></div>
  </div>
</div> -->

{% schema %}
  {
    "name": "New Female Content",
    "settings": [],
    "presets": [
      {
        "name": "New Female Content"
      }
    ]
  }
{% endschema %}

{% style %}
  .desk_usertext{
     display: block !important;
   }
   .mob_usertext{
     display: none !important;
   }
  .template-page.female-result img.factImage {
    max-width: 120px;
}
  .col3f {
     color: #3f3f3f !important;
}
 .template-page.female-result .cstm_section_titleFR {
     font-size: 40px;
     line-height: 46.03px;
     color: #3f3f3f;
}
 .template-page.female-result .formulation-text {
     font-size: 30px;
     line-height: 128.4%;
     color: #3F3F3F;
       max-width: 800px;
    margin: 0 auto;
}
 .template-page.female-result .userText{
     font-size: 50px;
     line-height: 65px;
     font-family: 'fredoka_oneregular' !important;
}
 .template-page.female-result .rootcause_description{
     font-weight: 400;
     font-size: 36px;
     line-height: 120.9%;
     color: #3F3F3F;
}
 .primary_root{
     font-size: 46px;
     line-height: 126.9%;
     color: #3f3f3f;
}
 .primary_root_text {
     font-size: 36px;
     line-height: 126.9%;
     color: #3f3f3f;
}
 .primary_root_img{
     background: #FFFFFF;
     border: 1px solid #B7D340;
     box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
     width: 150px;
     height: 150px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .template-page.female-result .cstm_section_titleFR:after{
     content: " ";
     width: 50%;
     height: 2px;
     bottom: 12%;
     right: 0;
     display: block;
     opacity: 0.5;
     position: absolute;
     background:#9BB96F;
}
.template-page.female-result .root_cause_iconFR .mainFactImages{
     width:20%;
}
.template-page.female-result .root_cause_iconFR img.factImage {
    height: fit-content;
    width: 70px;
    margin-bottom: 10px;
}
.template-page.female-result .root_cause_container{
     width:80%;
     border: 0.5px solid #B7D340;
     box-shadow: 11.2948px 11.2948px 25.4132px rgb(0 0 0 / 15%);
     border-radius: 9.4123px;
}
.template-page.female-result .root_cause_container .root_cause_iconFR{
     justify-content: center;
}
.template-page.female-result .female-test-report-section{
     background:linear-gradient(180.59deg, #B7D340 -3.68%, #FFFFFF 69.01%);
}
.result_product_slides .slick-dots li button{
     font-size: 20px;
     text-align: center;
     display: flex;
     align-items: center;
     color: #000;
     font-weight: bold;
}
.result_product_slides .slick-dots li.slick-active button:before, .result_product_slides .slick-dots li button:before{
     content:unset;
}
.result_product_slides .slick-dots li.slick-active button{
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 25px;
     height: 25px;
     background: #B7D340;
     border-radius: 50%;
}
 .root_cause_container .mainFactImages p{
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     text-transform: uppercase;
     color: #414042;
     opacity: 0.5;
}
  .template-page.female-result span.assement-report{
     display:none;
}
.template-page.female-result {
  padding-bottom: 0!important;
}
  .d-flex.bg-white.female_bg_top {
    background: transparent !important;
}
  @media only screen and (min-width: 767px) {
     .female-result_usertext svg{
    display: none;
}
  } 
 @media only screen and (max-width: 767.98px) {
   .desk_usertext{
     display: none !important;
   }
   .mob_usertext{
     display: block !important;
   }
   .female-result_usertext svg{
    display: block;
}
   .female-result_usertext {
    display: flex;
    justify-content: flex-start;
     margin-bottom: 15px;
}
 .template-page.female-result .mainFactImages img.factImage.p-3{
   width: 80px;
 }
   .d-flex.bg-white.female_bg_top {
    background: #fff !important;
}
     .template-page.female-result .userText{
         font-size: 19px;
         line-height: initial;
    }
    .template-page.female-result .rootcause_description {
      font-size: 14px;
      line-height: 120.9%;
      text-shadow: 1px 0px 2px rgb(0 0 0 / 17%);
      color: #000;
      opacity: 0.5;
    }
     .primary_root {
         font-size: 15px;
    }
     .primary_root_img {
         width: 85px;
         height: 85px;
    }
     .primary_root_text{
         background: #FFFFFF;
         border-radius: 5px;
         font-size: 11px;
    }
      .template-page.female-result .root_cause_container{
         width: 100%;
        border: none;
        box-shadow: none;
         margin: 0 !important;
        padding-bottom: 25px !important;
    border-radius: 0 0 12.41px 12.41px !important;
      }
     .template-page.female-result .root_cause_container .root_cause_iconFR{
         justify-content: space-around;
         text-align: center;
    }
     .template-page.female-result .root_cause_iconFR .mainFactImages {
         width: unset;
    }
     .template-page.female-result .cstm_section_titleFR{
         font-size: 17px;
         line-height: 21px;
       margin: 0 !important;
    }
     .template-page.female-result .cstm_section_titleFR:after{
         width: 45%;
         height: 1px;
         bottom: 12%;
    }
     .template-page.female-result .female-test-report-section{
           background: #eaf4f1;
    }
     .result_product_slides .slick-dots li button{
         font-size: 10px;
    }
     .result_product_slides .slick-dots li.slick-active button{
         width: 20px;
         height: 20px;
    }
     .template-page.female-result .root_cause_iconFR img.factImage {
             height: auto;
    width: 45px;
    margin-bottom: 10px;
    }
     .root_cause_container .mainFactImages p{
         font-size: 10.6297px;
         line-height: 14px;
    }
     .template-page.female-result .formulation-text {
         font-size: 13px;
         line-height: 128.4%;
    }
   .template-page.female-result span.assement-report p {
    background-image: url(https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Rectangle_6_4.png?v=1672123711);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 2px 15px 0;
    color: #41404280;
     
}
   .template-page.female-result span.assement-report {
     display:block !important;
   }
   .female_bg_top{
     border-top: 0.480769px solid #a5c1744d;
    border-radius: 0 9.4123px 0 0;
    padding-top: 15px;
    padding-right: 20px;
    align-items: center;
   }
  }
 @media only screen and (max-width: 400px) {
     .template-page.female-result .cstm_section_titleFR:after {
         width: 35%;
    }
  }
{% endstyle %}