<div class="stage1-new-testimonial" style="display: none;">
  <div class="container">
    <p class="section-title">इन लोगो ने स्टेज 1 में अपना हेयर <br> लॉस कण्ट्रोल किया</p>
    
    <div class="stage1-customer-review-slider">
      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353162.png?v=1688553260" alt="Image" loading="lazy" width="" height="" title="Image">
          </div>
        </div>
        
        <div class="customers-item text-center">
          <h2 class="font-weight-bold l-0 mt-3">आनंद कुमार</h2>
          <img data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802">
          <span class="review-date pl-3 text-grey"> Reviewed on 21st Feb 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“एक साल पहले मैंने हार मान ली थी की शायद हेयर फॉल का प्रॉब्लम कभी ठीक नहीं होग।  लेकिन, Traya इस्तेमाल करने के बाद, मैं सभी को कहूंगा की इसे ज़रूर एक मौका द।  इसने सच में मेरे बालो को वापस लाने में बहुत मदद की हैं।”</p>
        </div>
      </div>
      
      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353163.png?v=1688553263" alt="files/WhatsApp_Image_2022-04-05_at_3.04.58_PM_300x_93ca08ad-9a26-431e-9be5-e83d334cd5ad.jpg" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353163.png?v=1688553263">
          </div>
        </div>
        
        <div class="customers-item text-center">  
          <h2 class="font-weight-bold l-0 mt-3">विजय</h2>
          <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-home-page_180x.png" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-home-page_180x.png">
          <span class="review-date pl-3 text-grey"> Reviewed on 15th Jan 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“मैंने अपने ट्रीटमेंट प्लान से बहुत खुश हु और मुझे 6 महीने में ही रिजल्ट्स दिख गए थ।  मेरे बाल इतने मज़बूत और घने कभी नहीं थे।”</p>
        </div>
      </div>
      
      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353164.png?v=1688553267" alt="files/WhatsApp_Image_2022-04-05_at_3.04.58_PM_300x_93ca08ad-9a26-431e-9be5-e83d334cd5ad.jpg" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353164.png?v=1688553267">
          </div>
        </div>
        
        <div class="customers-item text-center">  
          <h2 class="font-weight-bold l-0 mt-3">अलेक्स</h2>
          <img data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802">
          <span class="review-date pl-3 text-grey"> Reviewed on 2nd April 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“मुझे बहुत टाइम से डैंड्रफ का प्रॉब्लम था और इसीलिए मेरा स्कैल्प काफी इर्रिटेटेड रहता था। Traya ने मुझे मेरी डैंड्रफ को  कण्ट्रोल करने में मदद की और उसके बाद मुझे हेयर ग्रोथ भी नज़र आने लगा।”</p>
        </div>
      </div>

      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/1_7471480c-c45b-422d-a6f1-9173e80d5145.png?v=1700823467" alt="files/WhatsApp_Image_2022-04-05_at_3.04.58_PM_300x_93ca08ad-9a26-431e-9be5-e83d334cd5ad.jpg" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/1_7471480c-c45b-422d-a6f1-9173e80d5145.png?v=1700823467">
          </div>
        </div>
        
        <div class="customers-item text-center">  
          <h2 class="font-weight-bold l-0 mt-3">दिव्यांश</h2>
          <img data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802">
          <span class="review-date pl-3 text-grey"> Reviewed on 24th oct 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“मैं बेंगलुरु में रहने वाला एक सॉफ्टवेयर इंजीनियर हु और मुझे बहुत टाइम से हेयर फॉल का प्रॉब्लम है।  दुसरे ट्रीटमेंट्स से जो मुझे नहीं मिला, वो Traya के होलिस्टिक ट्रीटमेंट ने मुझे 10 / 10 दिया।  Traya सिर्फ बालो के बारे में नहीं हैं - इससे मेरा पूरा स्वास्थ ही बदल चूका हैं !”</p>
        </div>
      </div>
      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/2_58663080-b525-4c2d-92fa-9fdfbbcb0409.png?v=1700823751" alt="files/WhatsApp_Image_2022-04-05_at_3.04.58_PM_300x_93ca08ad-9a26-431e-9be5-e83d334cd5ad.jpg" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/2_58663080-b525-4c2d-92fa-9fdfbbcb0409.png?v=1700823751">
          </div>
        </div>
        
        <div class="customers-item text-center">  
          <h2 class="font-weight-bold l-0 mt-3">गौरव</h2>
          <img data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802">
          <span class="review-date pl-3 text-grey"> Reviewed on 18th oct 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“मुझे हेयर लॉस और डैंड्रफ, दोनों का प्रॉब्लम था।  और मुझे इसीलिए बहुत शर्म भी आती थ। लेकिन Traya के ट्रीटमेंट ने पहले मेरे डैंड्रफ को मैनेज करने पर फोकस किया और धीरे-धीरे मेरा हेयर लॉस भी कम हो गया।”</p>
        </div>
      </div>
      <div class="card border-0 shadow rounded-lg p-4">
        <div class="our-customers-img"> 
          <div class="row mx-n2 mx-md-n3 pl-md-5 pr-md-5 justify-content-center">
            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/3_63f616ff-a4f4-4237-9fe3-cf8fc582dea7.png?v=1700823947" alt="files/WhatsApp_Image_2022-04-05_at_3.04.58_PM_300x_93ca08ad-9a26-431e-9be5-e83d334cd5ad.jpg" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/3_63f616ff-a4f4-4237-9fe3-cf8fc582dea7.png?v=1700823947">
          </div>
        </div>
        
        <div class="customers-item text-center">  
          <h2 class="font-weight-bold l-0 mt-3">हैप्पी</h2>
          <img data-src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802" alt="new-home-page" class="rwview-star mx-auto ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/4.5_stars_180x.png?v=1688398802">
          <span class="review-date pl-3 text-grey"> Reviewed on 21st oct 2023</span>
          <p class="customers-review m-auto addReadMore showlesscontent font-weight-normal text-center py-2 w-100 px-md-3">“मैं हिमाचल प्रदेश में रहने वाला एक इंजीनियर ह। मेरे बाल कॉलेज के समय से ही पतले होने शुरू हो गए थे और मैंने काफी सारे तेल इस्तेमाल किये ताकि ये ठीक हो जाए। Traya की बेस्ट चीज़ मुझे ये लगी की मेरे बालो की क्वालिटी के साथ साथ मेरी त्वचा और स्वास्थ, दोनों बेहतर हो गए है।”</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .stage1-new-testimonial {margin-bottom: 15px !important;padding-bottom: 0 !important;}
  /* .our-customers-img img {height: auto !important; width: auto !important;} */
  .stage1-new-testimonial .slick-slider {margin:0 -15px;}
  .stage1-new-testimonial .slick-slide {padding:10px;margin-right:15px;margin-left:15px;margin-bottom: 15px;margin-top: 10px;}
  {% if page.handle == 'female-result' or page.handle == 'result-fe' %}
    .result-product a {pointer-events: none;}
  {% endif %}
  .cstm_result-hi {display: none;}
  .product-item > .row li {list-style: inherit;}
  {% if page.handle == 'result-hi' %}
    .cstm_english {display: none;} 
    .cstm_result-hi {display: block;} 
  {% endif %}
  {% if page.handle == 'result5' %}
    .price-on-top {background: #68aa9e;border-radius: 0 12px;}
    .price-on-top h5, .price-on-top h6 {color: #fff;}
  {% endif %}
  {% if template.suffix == 'resultco' or page.handle == 'result' or page.handle == 'result-male' %}
    .co_bdr {border-radius: 0.7rem;}
    .price-on-top {background-color: #68AA9E;border-radius: 5px;}
    .price-on-top h5 {color: #fff;}
    @media (max-width: 767.98px) {
      .section-title.size_heading_result {font-size: 22px;}
      .male_pro_rating {display:none;}
    }
  {% endif %}
  .result4_pd_image {height: 100%;}
  .verified_icon {position: absolute;top: 9%;left: 3%;transform: translate(0,-10%);}
  .result4 .must-have, .result4c .must-have {position: absolute;z-index: 1;right: 0.2%;transform: translate(0, 0);}
  .male_pro_badges ul {margin-bottom: 0;}
  .result_product_slides .slick-dots li button{font-size: 15px;text-align: center;display: flex;align-items: center;color: #000;font-weight: bold;}
  .result_product_slides .slick-dots li.slick-active button:before, .result_product_slides .slick-dots li button:before{content:unset;}
  .result_product_slides .slick-dots li.slick-active button{color: #fff;display: flex;justify-content: center;align-items: center;width: 25px;height: 25px;background: #B7D340;border-radius: 50%;}
  @media only screen and (min-width: 767.98px) {
    .male_pro_rating p img {max-width: 150px !important;}
    p.male_pro_dosage {margin-top: 15px;margin-bottom: 15px;}
    .male_product_list_flex {display: flex;align-items: center;}
  }
  .male_prod_tit {padding:0px !important;}
  .male_pro_rating {position: absolute;top: 0;right: 0;}
  p.male_pro_dosage {text-align: center;width: 100%;font-size: 20px;color: #3F3F3F;}
  ul.cstm_english{display: flex;justify-content: space-evenly;color: #3F3F3F;font-weight: 700;font-size: 18px;border-top: 1.00067px solid #b7d3404a;border-bottom: 1.00067px solid #b7d3404a;padding: 15px 0;width:100%;margin-top:25px;}
  span.ml_benefits_bdr {padding-left: 15px;color:#b7d3404a;}
  .male_pro_badges ul {display: flex;justify-content: space-between;}
  ul.cstm_english li:last-child span.ml_benefits_bdr {display: none;}
  .male_pro_rating p img {max-width: 120px;}
 .result4 .product-item {border: 1.11057px solid #B7D340 !important;border-radius: 10.078px;padding:15px !important;}
 .result4 .product-item, .result4c .product-item {border: 1.11057px solid #D4D4D4 !important;border-radius: 10.078px;padding:15px !important;}
  ul.cstm_english li {position: relative;text-align: center;}
  .result4c .result_product_slides:not(.slick-initialized) > .col-12:first-of-type ~ * {display: none}
  .result4 .result_product_slides .male_prod_tit h4, .result4c .result_product_slides .male_prod_tit h4 {font-size: 14px !important; line-height: 18x; color: #3F3F3F; min-height: 36px; margin: 0 !important;}
  .result4 .result_product_slides .price-on-top .text-tradewind, .result4c .result_product_slides .price-on-top .text-tradewind {font-size: 16px !important; line-height: 16px; letter-spacing: 0em; color: #3F3F3F; margin: 10px 0 !important;}
  .result4 .result_product_slides .col-12 p.m-0.py-2.text-center, .result4c .result_product_slides .col-12 p.m-0.py-2.text-center {font-size: 12px; line-height: 13px; color: #3F3F3F; opacity: 0.8; min-height: 42px;}
  .result4 .cstm-ingre, .result4c .cstm-ingre {font-size: 14px; line-height: 9px; color: #3F3F3F; opacity: 0.8;}
  .result4 .cstm-dosage-4c, .result4c .cstm-dosage-4c {font-size: 14px; line-height: 10px; color: #3F3F3F; opacity: 0.8; margin-top: 10px !important; min-height: 10px;}
  .result4 .result_card_ingredient_name, .result4c .result_card_ingredient_name {font-size: 11px; font-weight: 600; line-height: 12px; min-height: 44px;}
  .result4 .cstm-dosage-icons, .result4c .cstm-dosage-icons {gap: 10px; flex-wrap: nowrap !important;}
  .result4 .must-have svg, .result4c .must-have svg {height: inherit; width: 90px;}
  .result4 .result_product_slides .slick-dots {display: none;}
  
  @media only screen and (max-width: 767.98px) {
    /* .male_pro_badges ul li svg {width: 90px;} */
    /* .result4 .male_pro_badges ul li svg, .result4c .male_pro_badges ul li svg {height: inherit;} */
    ul.cstm_english {margin-left: 10px;margin-right: 10px;padding-left: 0 !important;padding-right: 0 !important;}
    .male_pro_badges ul {margin-bottom: 0;}
    img.male_pro_img {height: 100%;}
    .male_pro_badges img {max-width: 80px;}
    .male_prod_tit h6 {width: 100% !important;margin: 0 auto !important;padding: 0 !important;margin-bottom: 10px !important;text-align: center;}
    .price-on-top {text-align: center;width: 100%;}
    .col-12.col-md-7.gender-m-stage-1-pro.pl-0.pl-md-3 {padding: 0 !important;}
    ul.cstm_english {text-align: center;}
    ul.cstm_english {text-align: center !important;font-size: 11px !important;padding: 10px 5px !important;}
    .male_pro_rating {display:none;}
    .result4 .result_card_ingredient_name, .result4c .result_card_ingredient_name {min-height: 45px;font-size: 9px !important;}
    .result4 .must-have, .result4c .must-have {right: -1.2%;}
    .result4 .result_product_slides .price-on-top .text-tradewind, .result4c .result_product_slides .price-on-top .text-tradewind {margin: 0!important;}
    .verified_icon svg {width: 50px;height: 50px;}
    .verified_icon {top: 11%;}
    .result4 .m-stage-1-Pro_title {font-size: 24px;}
  }
  @media only screen and (max-width: 400px) {
    .result4 .result_product_slides .col-12 p.m-0.py-2.text-center, .result4c .result_product_slides .col-12 p.m-0.py-2.text-center {font-size: 10px;}
  }
{% endstyle %}

{% schema %}
  {
    "name": "New Testimonial Hindi",
    "settings": [],
    "presets": [
      {
        "name": "New Testimonial Hindi"
      }
    ]
  }
{% endschema %}