<section id="doctor_testimonials">
  <div class="page-width">
  <h2 class="text_Fredoka about mt-3 mt-md-5 ml-3 ml-md-auto">Patient Stories</h2>
  <div class="doctor_testimonials_slides">

  <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">S</span>Suyog</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
      Dr. Sarna is very patient. I could experience positivity after meeting the doctor in the video consultation.
    </p>
  </div>
    
  <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">N</span>Nandini</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
      Dr. Jaspreet helped me with the right diagnosis and treatment. She understood my concerns and helped them solve as well, She was very polite too on the call.
    </p>
  </div>
  
  <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">A</span>Arundhati</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
      The Doctor did a great job. My hair quality has really improved with the Traya Products and the doctor helped me understand the right dosage of the medicines and explained to me how long will it take to see results.
    </p>
  </div>
  
  <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">S</span>Sharon</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
      Dr. Jaspreet wrote my Traya prescription on how to use all the products. I also booked a consultation with her after completing 4 months of my plan. She helped me understand my progress.
    </p>
  </div>
  
    <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">R</span>Rahul</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
     Dr. Sarna is a very calm and cooperative doctor. She listen to my hair issues and then give me advice.
    </p>
  </div>
  
    <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">A</span>Arpita M</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
     She explains the concern and root cause of problem very nicely. She even suggest a diet or foods to be avoided in necessary.
    </p>
  </div>
  
    <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">S</span>Sonal K</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
  My father was having severe hair fall for years. He got onto Traya’s plan and got in touch with Dr. Sarna. He has seen results like never before. Thankyou Dr. Sarna.
    </p>
  </div>
  
    <div class="row doctor_testimonials_content border rounded-lg py-2 m-1 m-md-5">
    <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
      <p class="font-weight-bold name_testimonial m-0"><span class="py-md-2 px-md-3 py-1 px-2 mx-md-3 mx-1 name_latter font-weight-bold">H</span>Hafeez</p>
      <div class="thumb_up">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/thumbs_up_6.png">
      </div>
    </div>
    <p class="p-3 testi_slide_content">
   Doctor Jaspreet very nicely explained to me about the type of my hair fall. It’s my 3rd month now, and my hair fall has reduced a lot. 
    </p>
  </div>
  </div>
  </div>
  </section>

{% schema %}
  {
    "name": "Patient Stories",
    "settings": []
  }
{% endschema %}