<!-- Sections -> PCOS-causing-MaleRP.liquid -->

<div class="container male_pcos_causing_main mt-md-4" style="display: none;">
  <div class="pcos_causing_wrapper">
    <h4 class="section-title l-0 font-weight-bold">Dandruff is accelerating your hair loss. <span style="color:#65761A">How?</span></h4>
    
    <div class="d-md-flex d-none pcos_card_wrapper align-items-center  justify-content-center">
      <div class=" position-relative card pcos_cards pcos_cardfrst d-flex" style="border-top-left-radius: 80px !important;">
        <p class="position-absolute">1</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006362_1_5338f837-607e-40b1-9f8c-9332aed0f2f0.png?v=1709103481"
        >
        <p class="l-0 text-center">
         Excessive shedding<br>
          leads to itchy,<br>
          flaky scalp.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>

       <div class=" position-relative card pcos_cards  pcos_cardscnd d-flex">
        <p class="position-absolute">2</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006363_c1077425-656c-4869-8807-50bad30ce239.png?v=1709104439"
        >
        <p class="l-0 text-center">
          Fungus Malassezia<br>
          causes scalp<br>
          inflammation. 
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>

       <div class=" position-relative card pcos_cards pcos_cardsthird d-flex">
        <p class="position-absolute">3</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006361_f3814e8c-3ada-4aff-b4cb-c4abdb751097.png?v=1709104704"
        >
        <p class="l-0 text-center">
          Inflammation affects<br>the normal hair<br>growth cycle.
        </p>
      </div>
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>

     <div class=" position-relative card pcos_cards pcos_cardlast d-flex" style="border-top-right-radius: 80px !important;">
        <p class="position-absolute">4</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006352_e445252a-8c75-4236-b57d-b07aa5fe7f7d.png?v=1709104686"
        >
        <p class="l-0 text-center">
          Hair strands and<br>
          follicles weaken,<br>leading to hair loss
        </p>
      </div>
      <div class="d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>
    </div>

            
   <div class="d-flex flex-column d-md-none pcos_card_wrapper flex-column align-items-center justify-content-center">
     <div class="d-flex align-items-center gap_5px">
       <div class="d-flex justify-content-center align-items-center gap_5px">
        <div class=" position-relative card pcos_cards pcos_cardfrst d-flex">
          <p class="position-absolute">1</p>
          <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006362_1_5338f837-607e-40b1-9f8c-9332aed0f2f0.png?v=1709103481"
          >
          <p class="l-0 text-center">
           Excessive shedding<br>
          leads to itchy,<br>
          flaky scalp.
          </p>
        </div>
      <div>
        <svg class="first_svg" xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>
      </div>      
            
       <div class="d-flex flex-column align-items-center">
       <div class=" position-relative card pcos_cards  pcos_cardscnd d-flex">
        <p class="position-absolute">2</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006363_c1077425-656c-4869-8807-50bad30ce239.png?v=1709104439"
        >
        <p class="l-0 text-center">
          Fungus Malassezia<br>
          causes scalp <br>
          inflammation. 
        </p>
      </div>
      <div class="down_arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
     </div>
    </div>
   </div>
   <div class="d-flex flex-row-reverse gap_5px">
     <div class="d-flex justify-content-between align-items-center gap_5px flex-row-reverse">
       <div class=" position-relative card pcos_cards pcos_cardsthird d-flex">
        <p class="position-absolute">3</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006361_f3814e8c-3ada-4aff-b4cb-c4abdb751097.png?v=1709104704"
        >
        <p class="l-0 text-center">
           Inflammation affects<br>the normal hair<br>growth cycle.
        </p>
      </div>
      <div class="pscothird_svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="51" viewBox="0 0 70 51" fill="none">
          <path d="M0.960938 34.9312V16.6023L37.7134 16.6022V2.57801C37.7134 0.72732 39.8728 -0.282771 41.2934 0.903435L68.9555 24.0023C69.9999 24.8744 69.9999 26.4793 68.9555 27.3514L41.2934 50.4502C39.8728 51.6364 37.7134 50.6263 37.7134 48.7756V34.9311L0.960938 34.9312Z" fill="#65761A"/>
        </svg>
      </div>
    </div>        

     <div class=" position-relative card pcos_cards pcos_cardlast d-flex">
        <p class="position-absolute">4</p>
        <img
          style="width: 80px;"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006352_e445252a-8c75-4236-b57d-b07aa5fe7f7d.png?v=1709104686"
        >
        <p class="l-0 text-center">
         Hair strands and<br>
          follicles weaken,<br>leading to hair loss
        </p>
      </div>
   </div>
          </div>
  </div>

</div>

{% schema %}
{
  "name": "PCOS Causing",
  "settings": [],
  "blocks":[
    {
      "type":"blocks",
      "name":"blocks",
      "settings":[
        {
          "type":"image_picker",
          "id":"pcos-images",
          "label":"Select Image"
        },
        {
          "type":"text",
          "id":"para",
          "label":"Text"
        }
      ]
    }
  ],
  "presets":[
    {
     "name":"Male PCOS Causing"
   }
  ]
}
{% endschema %}

{% stylesheet %}

  .PCOSarrow svg{
    width: 40px;
  }
  .causing_images_wrapper .card{
    background: #F7F7F7;
  }
  .pcos_causing_wrapper .section-title {
    font-weight: 600;
  }
  .causing_blocks {
    width: 20px;
    height: 20px;
    background: #fff;
    line-height: 20px;
    border-radius: 50%;
  }
  .pcos_santulan_cards {
    width:45%;
    flex-direction: row;
  }
  .pcos_santulan_images {
    width: 30%;
  }
  .pcos_santulan_text {
    width: 65%;
    padding-left: 20px;
  }
  .pcos_santulan_wrapper {
    gap:20px;
  }
  .pcos_santulan_text ul li{
    list-style: disc;
    letter-spacing: normal;
  }
  .pcos_santulan_text ul {
    padding: 12px;
  }
  .pcos_card_wrapper {
    gap: 20px;
  }
  .pcos_card_wrapper svg{
    width: 40px
  }
  .pcos_cards {
    padding: 20px;
    height: 190px;
    width: 190px;
    background: #F7F7F7;
  }
  .pcos_cards img{
    margin: auto;
  }
  .pcos_card_wrapper .position-absolute{
    height: 35px;
    width: 35px;
    line-height: 35px;
    background: #fff;
    top: 0;
    font-weight: 700;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    left: 0;
    color: #A5A5A5;
    text-align: center;
    border-radius: 50%;
    }
  .pcos_cards .l-0.text-center {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .pcos_cardlast {
    border-radius:.25rem 3rem .25rem .25rem;
  }
 .pcos_cardfrst {
    border-radius:3rem .25rem .25rem .25rem;
  }
  .pcos_santulan_text h5{
    font-weight: 700;
    letter-spacing: normal;
  }
  .pcos_cards p.text-center {
    height: 82px;
    display: flex;
    align-items: center;
  }



.pcos_santulan_wrapper .slick-dots li button:before{
  display: none;
}
.pcos_santulan_wrapper .slick-dots li{
  height: 6px;
  width: 25px;
  margin: 0;
  background: #E7E7E7;
}
.pcos_santulan_wrapper .slick-dots li:first-child{
  border-radius: 10px 0 0 10px;
}
.pcos_santulan_wrapper .slick-dots li:last-child{
  border-radius: 0 10px 10px 0;
}
.pcos_santulan_wrapper .slick-dots li.slick-active{
  background-color: #B7D340;
  border-radius: 10px;
  width: 45px;
  height: 8px;
  position: relative;
  top: -1px;
}
.pcos_santulan_wrapper ul.slick-dots {
  margin: 0px;
}
.pcos_santulan_wrapper.pcos_santulan_wrapper:not(.slick-initialized) > .women__card:first-of-type ~* {
   display: none; 
}
  
@media (max-width: 767px){
.pcos_santulan_text ul li{
  font-size: 13px;
}
.pcos_cards .l-0.text-center, .pcos_cards p.text-center{
  font-size: 12px;
}
.pcos_santulan_wrapper.slick-dotted.slick-slider {
   margin-bottom: 0px;
 } 
.pscothird_svg {
  transform: rotate(180deg)
}
.pcos_cards {
  width: 160px !important;
  height: 160px !important;
  padding: 10px 20px;
}  
  
.pcos_cardscnd,.pcos_cardsthird {
  border-radius:.25rem 3rem .25rem .25rem !important;
}
.pcos_cardlast,.pcos_cardfrst {
  border-radius:3rem .25rem .25rem .25rem !important;
}
.pcos_cardlast .position-absolute,.pcos_cardfrst .position-absolute {
  left: 0 !important;
  top: 0 !important;
}
.pcos_cardscnd .position-absolute,.pcos_cardsthird .position-absolute{
  top: 0 !important;
  right: 0 !important;
  left: auto;
}

.down_arrow{
  transform: rotate(90deg)
}
.pcos_card_wrapper {
  gap:0;
}
.pcos_card_wrapper svg {
  width: 20px;
}

.pcos_santulan_cards {
  border-radius: 10px !important;
}

.pcos_santulan_cards {
  margin: 5px;
}
.pcos_cardfrst {
  margin-bottom: 45px;
}
.first_svg{
  position: relative;
  bottom: 28px;
} 
.gap_5px{
  gap: 5px;
} 
}
@media (max-width: 400px){
  .pcos_cards { 
    padding: 10px 18px;
  }
  .pcos_santulan_text ul li {
    font-size: 11px;
  }
}
{% endstylesheet %}
