
<div class="re-growth-kit">
  <div class="p-3 titlemain">
    <h2 class="font-weight-bold l-0 text-center mb-md-3 main-heading font-fredoka">Your Customised Re-growth Hair Kit</h2>
    <p class="text-center mb-2 formulation-text fw-bold" deficiency="" style="">Our Doctor have designed a unique formulation to tackle your hair-fall. This will also work on your internal root cause.</p>
  </div>
    <div class="container slider-kit  result_product_slides">
      
    </div>
</div>


<style>
  #shopify-section-template--16070465814706__0950f5ad-3175-415f-ae5d-27d534727a2e .product-section{
    display:none;
  }
  .traya_3x_box .col-md-8 {
    padding:0 5px;
  }
  .key-details .icontext img{
        margin: 0 auto;
  }
 .re-growth-kit .titlemain{
    padding-bottom: 0 !important;
  }
  .re-growth-kit .key-data{
   width:100%;
}
   .re-growth-kit .key-data .both{
      width:100%;
         display: flex;
    justify-content: space-evenly;
    }
 .re-growth-kit .traya_3x_box {
    padding: 20px 0;
}
.re-growth-kit .topview-kit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.re-growth-kit .topview-kit img{
  max-width: 200px;
}
.google-review{
  max-width: 200px;
  margin:20px auto;
}
.re-growth-kit .topview-kit p{
  text-align: right;
  background: #F0DF99;
  border: 0.5px solid #C8D0CE;
  display: inline-block;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  color: #3E3E3E;
  padding: 5px 20px;
}
.re-growth-kit .counsult_img h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #3E3E3E;
  text-transform: uppercase;
}
.re-growth-kit .main-details{
  border-bottom: 1px solid #b7d340;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #3E3E3E;
  margin-bottom: 0;
  opacity: 0.5;
}
.re-growth-kit .combo-icons{
  border-bottom: 1px solid #B7D340;
  padding-bottom: 30px;
  display: flex !important;
  justify-content: center;
  width: 100%;
}
  .re-growth-kit .combo-icons .image2{
    max-width: 85px;
    margin: 0 auto;
  }
.re-growth-kit .keytitle{
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #3E3E3E;
  padding: 30px 0 15px;
}

.re-growth-kit .key-details p{
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
    word-break: break-all;
}
 .re-growth-kit .icontext {
    width: 25%;
}
.re-growth-kit .re-growth-bottom-icon {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 30px 50px;
      word-break: break-word;
}
.re-growth-kit .bottom-re-growth p{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 112.9%;
  text-align: center;
  color: #3F3F3F;
      word-break: break-word;
}
 .re-growth-kit .traya_3x_box {
     box-shadow:none;
  }
  .bottom-re-growth .image2{
    height:65px;
    margin:0 auto;
  }
   .bottom-re-growth .image_box{
    width:25%;
  }
@media(max-width:991px){
  .re-growth-kit .combo-icons .image2{
    width:75px;
  }
}
@media(max-width:767px){
.bottom-re-growth .image2{
 height: 40px;
    margin: 0 auto;
    width: auto;
}
  .bottom-re-growth .image_box{
      padding: 0;
    width:25%;
  }
.re-growth-kit .traya_3x_box {
  padding: 7px 0 10px 0;
  margin: 0 2% 0% 0;
}
 .re-growth-kit .slick-list{
    padding: 0px 15px 0px 0px !important;
  }
 .re-growth-kit .combo-icons .image2{
    width:45px;
  }
  .re-growth-kit .topview-kit p {
    font-size: 13px;
    line-height: initial;
    box-shadow: 0px 1.33556px 3.3389px rgba(0, 0, 0, 0.25);
    border: none;
}
  .re-growth-kit .counsult_img h2 {
    font-size: 12px;
    line-height: 12px;
  }
  .re-growth-kit .main-details {
    padding-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
    opacity: 0.5;
}


  .re-growth-kit .combo-icons{
    padding-bottom: 10px;
  }
  .re-growth-kit .re-growth-bottom-icon{
    padding:10px 0px;
    justify-content: space-around;
  }
  .re-growth-kit .bottom-re-growth p{
    font-size: 12px;
    padding-top: 5px;
  }
 .re-growth-kit .google-review{
    position: absolute;
    top: 0;
    width: 95px !important;
    margin: 10px;
    right: 0;
  }
  .re-growth-kit .topview-kit img{
    width: 115px;
  }
  .re-growth-kit .keytitle {
    font-weight: 400;
    font-size: 14px;
    padding: 7px 0;
    margin-bottom: 2px;
}
 .re-growth-kit .counsult_img.product-image img{
    width:200px;
    margin: 0 auto;
  }
  .re-growth-kit .formulation-text{
        margin-bottom: 0 !important;
  }
  .re-growth-kit .key-data img{
    max-width: 60px;
    margin: 0 auto;
    width: 60px;
  }
 
}
  @media(max-width:420px){
   .re-growth-kit .counsult_img.product-image img {
      width: 150px;
      margin: 0 auto;
    }
    .re-growth-kit .combo-icons .image2 {
      width: 35px;
      height: 35px;
    }
     .re-growth-kit .key-data .both{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  }
  .re-growth-kit .key-data img {
      max-width: 100%;
      margin: 0 auto;
      width: 45px;
      height:45px;
}
   .re-growth-kit .key-data{
      width:100%;
    }
    .re-growth-kit .key-details p{
      width: 100%;
      font-size:10px;
      margin: 0 auto;
      padding-top: 0;
      line-height:12px;
      word-break: break-word;
    }
    .re-growth-kit .main-details {
    padding-bottom: 6px;
    font-size: 10px;
    line-height: 11px;
    opacity: 0.5;
}
  }
 
  </style>
  
<script>
//   jQuery(document).ready(function($) {
//      setTimeout(function(){
//       $('.re-growth-kit .result_product_slides').slick({
//         dots: false,
//         infinite: false,
//         speed: 500,
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         autoplay: false,
//         autoplaySpeed: 2000,
//         arrows: true,
//         responsive: [
//             {
//            breakpoint: 1080,
//            settings: {
//              centerMode: true,
//               arrows: false,
//               slidesToShow: 1,
//               slidesToScroll: 1
//            }
//         },
//           {
//           breakpoint: 767,
//           settings: {
//             slidesToShow: 1,
//             dots: true,
//             slidesToScroll: 1
//           }
//         },
//         {
//            breakpoint: 543,
//            settings: {
//               centerMode: true,
//               arrows: false,
//              dots: true,
//               slidesToShow: 1,
//               slidesToScroll: 1
//            }
//         }
//       ]
//     });
//        }, 2000);
// });

</script>
{% schema %}
  {
    "name": "re-growth-kit",
    "settings": [],
    "presets":[
        {
          "name":"re-growth-kit"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}