<div class="container">
  <div class="mt-4 text-center px-3 mx-auto px-md-5 py-4 referral-program rounded-lg" style="background: {{ section.settings.bg_color }};">
    {{ section.settings.form_link }} 
  </div>
</div>

<style>

  
  
</style>
{% schema %}
{
  "name": "Referral Form",
  "settings": [
    {
      "type": "textarea",
      "id": "form_link",
      "label": "Form Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Referral Form",
      "category": "link"
    }
  ]
}
{% endschema %}
<style>
   @media only screen and (min-width:767.98px){.referral-program.rounded-lg{width:85%; margin:0 auto;} }
</style>
