  <div class="our-experts pb-0" page_type="normal">
    <div class="container doctors-section result-doctors-cards">
      <div class="section-title-line"></div>
      <h2 class="{% if page.handle == 'result-fe' or page.handle == 'female-result-v' or page.handle == 'female-result2' %}font-fredoka fw-bold{% endif %}{% if page.handle == 'result4' or page.handle == 'result4-a' or page.handle == 'female-result' or page.handle == 'female-result2' or page.handle == 'result-fe' or page.handle == 'female-result-v' %}doctor_head{% endif %} font-weight-bold l-0 text-center mb-4 mb-md-5 section-title">{% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %} Experts Behind The Science {% elsif page.handle == 'female-result' or page.handle == 'female-result2' or page.handle == 'result-fe' or page.handle == 'female-result-v' %}Meet The Experts Who Curate Your Plan {% elsif page.handle == 'result-hi' %}हमारे डॉक्टर {% else %}Our Doctors{% endif %}</h2>
     {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}
      <h4 class="mb-4 Ftitle_sub_text text-center">Once you buy the plan, a dermatologist and ayurveda doctor will build your prescription.</h4>
      {% endif %}
      {% if page.handle == 'result4' or page.handle == 'result4c' or page.handle == 'result4-a' or page.handle == 'female-result' or page.handle == 'female-result2' or page.handle == 'result-fe' or page.handle == 'female-result-v' %}
      <h4 class="mb-4 Ftitle_sub_text text-center">Once you place the order, a dermatologist and ayurveda doctor will look at your case and approve your plan.  They will define the exact dosage and usage instructions.</h4>
      {% endif %}
      <div class="row doctor-slider result_doctor_slides mb-0{% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %} female{% endif %}">

      <div class="col-6 col-md-4 mb-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Dr._dhwani.png?v=1680779238" alt="Dr. Dhwani Saxena" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Dhwani Saxena</h5>
              <h5 class="text-center">Dermatologist</h5>
            </div>
           {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/doctor-dhwani" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>


          <div class="col-6 col-md-4 mb-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/dr_Shefali_6d8c17e2-4bb6-42b9-95a2-4e900cb9b9d4.png?v=1680779903" alt="Dr. Shefali Saini" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Shefali Saini</h5>
              <h5 class="text-center">Dermatologist</h5>
            </div>
           {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/shefali-saini" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>

        <div class="col-6 col-md-4 mb-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/doctor02.png" alt="Dr Shailendra Chaubey" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr Shailendra Chaubey</h5>
              <h5 class="text-center">Ayurveda Practitioner</h5>
            </div>
            {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/shailendra-chaubey" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>

           <div class="col-6 col-md-4 mb-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/dr-harish_8053c8cf-2696-4dae-80ae-3b2bf101f91a.png" alt="Dr. Harish Balaji. R" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Harish Balaji. R</h5>
              <h5 class="text-center">Dermatologist</h5>
            </div>
            {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/doctor-harish" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>
        
        <div class="col-6 col-md-4 mb-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/doctor03.png" alt="Dr. Sangeeta Menon" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Sangeeta Menon</h5>
              <h5 class="text-center">Nutritionist</h5>
            </div>
           {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/sangeeta-menon" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>

        <div class="col-6 col-md-4 mb-md-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/doctor05.png" alt="Dr. Kalyani Deshmukh" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Kalyani Deshmukh</h5>
              <h5 class="text-center">Dermatologist and Trichologist</h5>
            </div>
           {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/kalyani-deshmukh" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>

        <div class="col-6 col-md-4 mb-md-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/9814da57-362f-484e-8e96-552a54fae9c2.jpg?v=1688641469" alt="Dr. Siddhi Sonawane" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Siddhi Sonawane</h5>
              <h5 class="text-center">Dermatologist</h5>
            </div>
            {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/siddhi-sonawane" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div>

<!--         <div class="col-6 col-md-4 mb-md-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352436.png" alt="Dr. Nishita" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Nishita Suratkal</h5>
              <h5 class="text-center">Clinical Dietician | Nutritionist</h5>
            </div>
            {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/nishita-suratkal" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div> -->
        
<!--         <div class="col-6 col-md-4 mb-md-5 cstm_doctor_div">
          <div class="card border-0 shadow p-3 p-md-4 mb-0 h-100 d-flex flex-column">
            <div class="col-lg-7 px-0 mx-auto mb-4">
              <div class="doctor-img position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/dr_Moyna_2.jpg" alt="Dr. Moyna" class="h-100 rounded-circle w-100">
              </div>
            </div>
            <div class="flex-fill">
              <h5 class="font-weight-bold text-center">Dr. Moyna Vakil</h5>
              <h5 class="text-center">Nutritionist & Dietician</h5>
            </div>
            {% if page.handle == 'female' or page.handle == 'femalev1' or page.handle == 'new-female' %}<a href="/pages/moyna-vakil" class="text-center text-black-50 text-decoration-none">Learn more</a>{% endif %}
          </div>
        </div> -->
        
      </div>
    </div>
  </div>

  <!-- Money Back Gaurentee Policy Text -->
  {% comment %}
  {% if page.handle == 'result4' %}
    <p class="text-center text-md-right policy-txt">*Read more about our money back policy <a class="font-weight-bold" href="https://traya.health/policies/refund-policy">here.</a></p>
  {% endif %}
  {% endcomment %}
  <!-- Money Back Gaurentee Policy Text -->

{% schema %}
  {
    "name": "Result Doctors Card",
    "settings": [],
          "presets":[
          {
          "name":"Result Doctors Card"
          }
      ]
  }
{% endschema %}
{% style %}
  .policy-txt {font-size: 16px; line-height: 21px; letter-spacing: 0em; margin: 0 12px;}
  .policy-txt a {text-decoration: underline;}
  
  @media only screen and (max-width: 767.98px){}
.cstm_doctor_div img {
    width: 50%!important;
    margin: auto;
}
  .cstm_doctor_div {
    margin-bottom: 20px !important;
}
  }
  .female-result .cstm_doctor_div .card{
    border-radius:25px;
  }
  .result-fe .cstm_doctor_div .card{
    border-radius:25px;
  }
  @media only screen and (min-width: 320px) and (max-width: 400px){
    .template-page.female-result .our-experts .cstm_doctor_div, .template-page.result-fe .our-experts .cstm_doctor_div{
      height:275px !important;
    }
     .female-result .our-experts .doctors-section .doctor-slider h5, result-fe .our-experts .doctors-section .doctor-slider h5{
  font-size:15px;
}
  .female-result .our-experts .flex-fill h5, .result-fe .our-experts .flex-fill h5{
     font-size:15px;
  }
  
  }
  @media only screen and (min-width: 401px) and (max-width: 767px){
    .template-page.female-result .our-experts .cstm_doctor_div, .template-page.result-fe .our-experts .cstm_doctor_div{
      height:301px !important;
    }
     .female-result .our-experts .doctors-section .doctor-slider h5, .result-fe .our-experts .doctors-section .doctor-slider h5{
  font-size:15px;
}
  .female-result .our-experts .flex-fill h5, .result-fe .our-experts .flex-fill h5{
     font-size:15px;
  }
  .female-result .card,  .result-fe .card{
    border-radius:25px;
  }
  }
  
  h4.mb-4.Ftitle_sub_text.text-center {
    font-size: 30px;
    line-height: 42px;
    color: #3f3f3f;
}
  h2.doctor_head.font-weight-bold.l-0.text-center.mb-4.mb-md-5.section-title {
    margin-bottom: 10px !important;
}
  .result-doctors-cards a:hover{
    text-decoration:none;
  }
  .our-experts .doctors-section .doctor-img img {
    top: 0;
    left: 0;
    object-fit: cover;
    border: 4px solid #9bba70;
  }
  .our-experts .flex-fill h5 {
    font-size: 20px;
    letter-spacing: normal;
  }
  @media only screen and (max-width: 767.98px) {
    h4.mb-4.Ftitle_sub_text.text-center {
    font-size: 15px !important;
    line-height: initial !important;
    color: #3f3f3f;
}
  .result_doctor_slides:not(.slick-initialized) > .cstm_doctor_div:first-of-type ~ * {
    display: none;
  }
  }
{% endstyle %}