{% if page.handle == 'result4-a' %}
{% if settings.enable_discount == true %}
{% assign one_month_discount = settings.one_month_discount |default: 0 %}
{% assign three_month_discount = '25' |default: 0 %}
{% else %}
{% assign one_month_discount = 0 %}
{% assign three_month_discount = 0 %}
{% endif %}
  {% endif %}
 <div class="product-section-list pt-5">
    <h2 class="font-weight-bold l-0 text-center pb-lg-5 section-title"><span data-user-name class="text-capitalize"></span>’s Hair Regrowth Treatment Plan</h2>
 <div class="container kits">
  <div class="d-md-none row">
    <div class="col-12">
      <div class="card rounded-lg border bdEA">
        <div class="bdC5 rounded-lg">
        <div class="d-flex">
          <div class="col-4 p-0" card discount="0" month="1">
            <div class="px-2 pt-3 pb-1 month_plan">
              <p class="month_name fw-bold text-center pb-1 position-relative mb-2">1 Month</p>
              <p class="d-flex align-items-center justify-content-between flex-column rg-10 mb-2" month1>
    <del class="original__price mobile_cut_price" realPrice>₹2,700</del> 
                <span class="text-white given__price" all__ttl_price>₹2,500</span></p>
            </div>
            <div class="p-2 mob_peroff per__off"><span>Free</span></div> 
          </div>
          <div class="col-4 p-0" card discount="20" month="3">
            <div class="px-2 pt-3 pb-1 month_plan active">
              <p class="month_name fw-bold text-center pb-1 position-relative mb-2">3 Month</p>
              <p class="d-flex align-items-center justify-content-between flex-column rg-10 mb-2" month3><del class="original__price" realPrice>₹2,700</del><span class="text-white given__price" all__ttl_price>₹2,500</span></p>
            </div>
            <div class="p-2 per__off active"><span>20% OFF</span></div>
          </div>
          <div class="col-4 p-0" card discount="30" month="6">
            <div class="px-2 pt-3 pb-1 month_plan">
              <p class="month_name fw-bold text-center pb-1 position-relative mb-2">6 Month</p>
              <p class="d-flex align-items-center justify-content-between flex-column rg-10 mb-2" month6><del class="original__price" realPrice>₹2,700</del><span class="text-white given__price" all__ttl_price>₹2,500</span></p>
            </div>
            <div class="p-2 per__off"><span>30% OFF</span></div>
          </div>
        </div>
        </div>
        <div class="p-2 tag position-relative result__mob_kit" mob_kits>
          <div class="d-flex align-items-center justify-content-center m-auto popular__tag"><img src="{{ 'Star-33.svg' | asset_url }}"><p class="ml-1">Popular</p></div>
          <div class="pt-2 pb-4 px-2 position-relative kit__price__divider">
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/001_191d2e70-b847-4a35-b228-7e93c35aeb49.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Your hair growth kit</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" charge>₹2,090</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/002_ea627cb0-e175-4bc3-a496-71d21acacd5a.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Customized doctor<br>prescription</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" doc__fee>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/003_efe14a50-541a-477f-b78b-514f6851fadf.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Ayurvedic diet plan</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" diet__plan>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/004_69ad4395-13b3-4d9b-824c-333234ad6352.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Personal hair coach</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" hair_coach_fee>Free</p>
            </div>
          </div>
          <div class="px-2 d-flex justify-content-between align-items-center">
            <span class="plan__price__detail">Get Your Plan at</span>
            <span>
            <del class="text-danger" realPrice>₹ 4,090/-</del>
            <span class="kit__real__price" all__ttl_price>₹ 2,090/-</span>
              </span>
          </div>
          <p class="px-2 tax__includes">Inclusive of all taxes</p>
        </div>
        <button class="btn w-100 d-flex justify-content-center align-items-center kit__buy_now" buy_now plan="3"><span>BUY NOW</span><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/payment-icons.png" width="64" /></button>
      </div>
    </div>
  </div>    
  <div class="row d-none d-md-flex desktopCard">
    <div class="col-4">
      <div class="card rounded-lg border bdEA" desktopCard month1 discount="0" plan="1">
        <div class="bdC5 rounded-lg p-3">
          <p class="month_name fw-bold text-center pb-1 position-relative">1 Month</p>
          <p class="d-flex align-items-center justify-content-between one_month-align">
<!--             <del class="original__price" realPrice>₹2,700</del> -->
            <span class="text-white given__price" all__ttl_price>₹2,500</span>
<!--             <span class="per__off py-1 px-2">Free</span> -->
          </p>
        </div>
        <div class="p-2 tag position-relative">
<!--           <div class="d-flex align-items-center justify-content-center m-auto popular__tag"><img src="{{ 'Star-33.svg' | asset_url }}"><p class="ml-1">Popular</p></div> -->
          <div class="pt-2 pb-4 px-2 position-relative kit__price__divider">
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/001_191d2e70-b847-4a35-b228-7e93c35aeb49.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Your hair growth kit</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" charge>₹2,090</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/002_ea627cb0-e175-4bc3-a496-71d21acacd5a.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Customized doctor<br>prescription</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" doc__fee>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/003_efe14a50-541a-477f-b78b-514f6851fadf.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Ayurvedic diet plan</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" diet__plan>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/004_69ad4395-13b3-4d9b-824c-333234ad6352.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Personal hair coach</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" hair_coach_fee>Free</p>
            </div>
          </div>
          <div class="px-2 d-flex justify-content-between align-items-center">
            <span class="plan__price__detail">Get Your Plan at</span>
<!--             <del class="text-danger" realPrice>₹ 4,090/-</del> -->
            <span class="kit__real__price" all__ttl_price>₹ 2,090/-</span>
          </div>
          <p class="px-2 tax__includes">Inclusive of all taxes</p>
        </div>
        <button id="result4-a_buynow" class="btn w-100 d-flex justify-content-center align-items-center kit__buy_now buy_now_btn" add_to_cart><span>BUY NOW</span><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/payment-icons.png" width="64" /></button>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card rounded-lg border bdEA active" desktopCard month3 discount="20" plan="3">
        <div class="bdC5 rounded-lg p-3">
          <p class="month_name fw-bold text-center pb-1 position-relative">3 Month</p>
          <p class="d-flex align-items-center justify-content-between">
      <del class="original__price" realPrice>₹7,500</del> 
            <span class="text-white given__price" all__ttl_price>₹5,250</span><span class="per__off py-1 px-2">20% OFF</span></p>
        </div>
        <div class="p-2 tag position-relative">
          <div class="d-flex align-items-center justify-content-center m-auto popular__tag"><img src="{{ 'Star-33.svg' | asset_url }}"><p class="ml-1">Popular</p></div>
          <div class="pt-2 pb-4 px-3 position-relative kit__price__divider">
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/001_191d2e70-b847-4a35-b228-7e93c35aeb49.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Your hair growth kit</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" charge>₹2,090</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/002_ea627cb0-e175-4bc3-a496-71d21acacd5a.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Customized doctor<br>prescription</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" doc__fee>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/003_efe14a50-541a-477f-b78b-514f6851fadf.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Ayurvedic diet plan</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" diet__plan>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/004_69ad4395-13b3-4d9b-824c-333234ad6352.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Personal hair coach</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" hair_coach_fee>Free</p>
            </div>
          </div>
          <div class="px-2 d-flex justify-content-between align-items-center">
            <span class="plan__price__detail">Get Your Plan at</span>
            <del class="text-danger" realPrice>₹ 4,090/-</del><span class="kit__real__price" all__ttl_price>₹ 2,090/-</span>
          </div>
          <p class="px-2 tax__includes">Inclusive of all taxes</p>
        </div>
        <button id="result4-a_buynow" class="btn w-100 d-flex justify-content-center align-items-center kit__buy_now buy_now_btn" add_to_cart><span>BUY NOW</span><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/payment-icons.png" width="64" /></button>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card rounded-lg border bdEA" desktopCard month6 discount="30" plan="6">
        <div class="bdC5 rounded-lg p-3">
          <p class="month_name fw-bold text-center pb-1 position-relative">6 Month</p>
          <p class="d-flex align-items-center justify-content-between">
  <del class="original__price" realPrice>₹15,000</del> 
            <span class="text-white given__price" all__ttl_price>₹10,000</span><span class="per__off py-1 px-2">30% OFF</span></p>
        </div>
        <div class="p-2 tag position-relative">
<!--           <div class="d-flex align-items-center justify-content-center m-auto popular__tag"><img src="{{ 'Star-33.svg' | asset_url }}"><p class="ml-1">Popular</p></div> -->
          <div class="pt-2 pb-4 px-3 position-relative kit__price__divider">
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/001_191d2e70-b847-4a35-b228-7e93c35aeb49.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Your hair growth kit</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" charge>₹2,090</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/002_ea627cb0-e175-4bc3-a496-71d21acacd5a.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Customized doctor<br>prescription</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" doc__fee>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/003_efe14a50-541a-477f-b78b-514f6851fadf.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Ayurvedic diet plan</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" diet__plan>Free</p>
            </div>
            <div class="d-flex align-items-center py-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/004_69ad4395-13b3-4d9b-824c-333234ad6352.png" alt="kit" width="35" height="35" />
              <p class="mb-0 ml-2 mr-1 kit__items">Personal hair coach</p>
              <div class="dot__divider"></div>
              <p class="ml-1 item__charge font-weight-bold" hair_coach_fee>Free</p>
            </div>
          </div>
          <div class="px-2 d-flex justify-content-between align-items-center">
            <span class="plan__price__detail">Get Your Plan at</span>
            <del class="text-danger" realPrice>₹ 4,090/-</del><span class="kit__real__price" all__ttl_price>₹ 2,090/-</span>
          </div>
          <p class="px-2 tax__includes">Inclusive of all taxes</p>
        </div>
        <button id="result4-a_buynow" class="btn w-100 d-flex justify-content-center align-items-center kit__buy_now buy_now_btn" add_to_cart><span>BUY NOW</span><img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/payment-icons.png" width="64" /></button>
      </div>
    </div>
  </div>
</div>
 </div>

{% schema %}
  {
    "name": "Result4-a plan kit",
    "settings": [],
    "presets": [
      {
        "name": "Result4-a Plat Kit",
        "category": "custom"
      }
    ]
  }
{% endschema %}

{% style %}
  .result4-a .desktopCard .card.active .given__price{
          background: #000;
                      opacity:80%;
    }
  .result4-a del.text-danger span{
    font-size: 15px;
}

   .result4-a .bdC5 {
    background: #C5C5C5;
  }
   .result4-a .kits .card {
    margin-bottom: 0;
    padding: 0;
  }
   .result4-a .bdEA{
    background: #EAF4F1;
  }
   .result4-a .month_name {
    font-size: 23px;
    line-height: 31px;
    color: #414042;
  }
  .result4-a .month_name:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1.5px;
    background: #ffffff33;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .result4-a .original__price {
    font-size: 15px;
    line-height: 20px;
    color: #4b453fb3;
  }
  .result4-a .given__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    background: #000000cc;
    padding: 6px 10px;
    box-shadow: 4.70395px 4.70395px 14.1118px rgb(0 0 0 / 10%);
    border-radius: 4px;
  }
  .result4-a .per__off {
    font-weight: 900;
    font-size: 19.5776px;
    line-height: 27px;
    text-align: center;
    color: #414042;
    border: 2px solid #ffffffcc;
    filter: drop-shadow(4.70395px 4.70395px 14.1118px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
  }
  .result4-a .popular__tag {
    width: 40%;
    padding: 5px 15px;
    background: #EFEA70;
    border-radius: 4px;
  }
  .result4-a .dot__divider {
    flex: 1;
    border-bottom: 1px dashed #41404233;
    height: 15px;
    display: block !important;
}
  .result4-a .popular__tag:before {
    content: url(https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Polygon_8_20x.png);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -30%);
  }
  .result4-a .dot__divider {
    flex: 1;
    border-bottom: 1px dashed #41404233;
    height: 15px;
  }
  .result4-a .kit__items {
    font-size: 15px;
    line-height: 20px;
    color: #414042;
  }
  .result4-a .item__charge {
    font-size: 17px;
    line-height: 23px;
    color: #414042;
  }
  .result4-a .kit__price__divider:after {
    content: '';
    height: 1px;
    background: #9bb96f80;
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .result4-a .plan__price__detail {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    letter-spacing: 0;
  }
  .result4-a .tax__includes {
    font-size: 14px;
    line-height: 18px;
    color: #41404280;
  }
  .result4-a .kit__real__price {
    font-size: 18px;
    line-height: 32px;
    font-weight: 800;
  }
  .result4-a .kit__buy_now {
    border-radius: 5px;
    height: 60px;
    background: #B7D340;
    color: #414042;
    border: #B7D340;
  }
  .result4-a .desktopCard .card{
    opacity: 0.5;
  }
  .result4-a .desktopCard .card.active{
  transform: scale(1.05);
/*   transition: all 1s ease; */
  z-index: 1;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  opacity: 1.0;
  }
  .result4-a [desktopcard].active .bdC5 {
    background: #A5C174;
    box-shadow: 0px 2.79322px 2.79322px rgb(0 0 0 / 25%);
  }
  .result4-a .given__price {
    background: #00000059;
}
  @media only screen and (max-width: 767.98px) {
    .result4-a .month_plan.active p.month_name {
    color:#000 !important;
}
    .result4-a .month_plan.active .given__price {
    background: #000;
      opacity: 0.8;
}
     .result4-a .month_plan.active .month_name:after{
       background:#fff !important;
     }
    .result4-a .product-section-list p.month_name {
    color:#fff;
}
    .result4-a .per__off {
      border: unset;
    }
    .result4-a .per__off.active {
      background: #fff;
      border-radius: 0 0 14px 14px;
      font-size: 19.5776px;;
      line-height: 30px;
    }
    .result4-a .rg-10 {
      row-gap: 10px;
    }
    .result4-a .offed {
      background: #ffffff80;
    }
    .result4-a .month_plan.active {
      background: #B7D340;
      box-shadow: 0px 2.79322px 2.79322px rgb(0 0 0 / 25%);
      border-radius: 14px 14px 0 0;
    }
    .result4-a .given__price {
      padding: 6px 9px;
    }
    
  }
  @media only screen and (max-width: 400px) {
    .result4-a .given__price {
      font-size: 16px;
    }
    .result4-a .result__mob_kit .text-danger .money{
       font-size: 12px;
    }
    .result4-a .result__mob_kit .text-danger{
       font-size: 12px;
    }
    .result4-a del.text-danger span {
    font-size: 14px;
}
    .result4-a .plan__price__detail {
    font-size: 14px;
}
    .result4-a .month_name {
      font-size: 22px;
    }
    .result4-a .kit__real__price {
      font-size: 13px;
    }
    .result4-a result.plan__price__detail {
      font-size: 18px;
    }
  }
{% endstyle %}