<div id="content" class="ht_section"></div>
  <div class="ht_section" id="loading" style="display: none;justify-content: center;">
    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Spinner_1x-1.0s-200px-200px.gif?v=1719511368" width="100" height="100">
  </div>
<div id="target-section" style="opacity: 0; height: 1px">Target Section</div>

{% schema %}
{
  "name": "Infinite scroll HT",
  "settings": [
  ],
  "presets": [
    {
      "name": "Infinite scroll HT"
    }
  ]
}
{% endschema %}