<div class="traya-processing-animation bg-white w-100 vh-100" id="traya-processing-animation" style="display:flex; justify-content: center; align-items: center;">
   <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Traya_Loading.gif?v=1695380679" alt="loader" class="traya-processing-animation-img" loading="eager">
</div>

{% if page.handle == 'result4' or page.handle == 'result4b' or page.handle == 'result4c' %}
<div class="transplant-stage-six d-none">
  {% render 'result-for-stage-six' %}
  {% comment %}
  {% render 'what-hair-transplant' %}
  {% render 'how-transplant-work' %}
  {% endcomment %}
</div>
{% endif %}
<!-- <img class="male_bg_absolute" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Rectangle_6130.png?v=1675167474"> -->
<div class="ss test-result">
 <div class="test-result-bg pb-3">
  <section class="mt-2 mt-md-5 pt-4 pt-md-5">
  <span class="assement-report" style="padding-top: 10px;"><p class="txt">Assessment Report</p></span>
  <div class="bg-colo">
    <div class="container position-relative"> <!-- Stage 1 To Stage 4 Tag Changes Added Class (position-relative) -->
      <!-- Stage 1 To Stage 4 Tag Changes -->
        <p class="stage1-4-tag font-weight-bold" style="display: none;">Regrowth Possible</p>
      <!-- Stage 1 To Stage 4 Tag Changes -->
      <div class="page-result-hero">
        <div class="mb-1 mb-md-4 main-section position-relative rounded-lg">
          <div class="container pt-4 text-white d-flex">
            {% comment %}<!-- Stage 2 and Stage 3 Changes User Details -->
            <!-- <div class="cstm-user-stage2-3" style="display: none;">
              <h1 class="font-weight-bold text-uppercase"><span data-user-name>User</span>,</h1>
            </div> -->{% endcomment %}
            <!-- Stage 2 and Stage 3 Changes User Details -->
            <div class="text-center w-50">
              <div class="mb-md-4 mb-0">
              {% comment %}<!-- Stage 2 and Stage 3 Changes Text -->
                <!-- <p class="text-left cstm-diagonosed-stage-2-3" style="display: none;">
                  <span>You’ve been diagnosed with</span>
                  <span class="font-weight-bold">Male pattern hair loss</span>
                  <span id="cstm-text-stage-2-3" class="font-weight-bold"></span>
                </p> -->
                <!-- Stage 2 and Stage 3 Changes Text -->{% endcomment %}
                <div class="visitor-info">                
                 <p class="font-weight-bold text-white username mb-0"><span data-user-name class="text-capitalize">User Name</span>,</p>
                 <div class="diagnosed_pattren">
                      <p class="text-white px-0 mb-0 mx-auto diagnosed_text">You are currently on</p>
                      <p class="font-weight-bold text-white mt-1 user_type_stage"><span id="stage" class="user_type_result"></span><span id="typeOfLoss" class="font-weight-bold user_type_result">Male Pattern Hair Loss</span></p>
                  </div>
                  <div class="treatment_duration my-md-3 my-2">
                      <p class="text-white px-0 mb-0 mx-auto diagnosed_text">Treatment duration</p>
                      <p class="traetment-duration text-left font-weight-bold"><span id="duration" class="user_type_result">5 </span></p>
                  </div>
                  <p class="font-weight-bold text-white mt-1 user_type_stage stage1_Text" style="display:none;"><span class="font-weight-normal">You've been diagnosed with </span><span id="typeOfLoss" class="user_type_result">You are at</span> <span id="stage1" class="user_type_result"></span>. <br class="d-none d-md-block"/><span id="typeOfLos" class="user_type_result">This is the best time to resolve your hair issues.</span> </p>
                  <div class="male_result_commas" style="display:none;">
                    <p>We will work on <span class="hair_golsmal"></span>.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="main-stage-section pb-md-5 mb-2 w-50">
              {% comment %}
              <!-- Stage 2 and Stage 3 Changes Image -->
              <!-- <div class="img-stage-2" style="display: none;">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/imgg2_7c9814d4-3771-42d0-8d96-32a9819fe132.png?v=1694599778">
              </div>
              <div class="img-stage-3" style="display: none;">
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/image3.png?v=1694599781">
              </div> -->
              <!-- Stage 2 and Stage 3 Changes Image -->
              
              <!------ Male Stages Hide for now ---->{% endcomment %}
             <p class="text-black text-center stages-name TE_stage-name" style="display:none;">Heavy Hair Fall Across The head</p>
              <div id="male-stages" class="row align-items-end flex-nowrap justify-content-center text-center">
                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-1">
<!--                <p class="text-black text-center stages-name">Stage 1</p>  -->
                  <div class="stage-item bg-light position-relative">
                   <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Property_1_Stage_1_front.png?v=1716446195" alt="Stage 1" class="stage-images" width="" height="" loading="lazy">
<!--                   <div class="stage-item bg-light position-relative rounded-circle">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
               <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p>
                  </div>  -->
                </div>
              </div>

             <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-2-1">
<!--                     <p class="text-black text-center stages-name">Stage 1</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group.webp?v=1709022930" alt="Stage 1" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-2">
                 <!-- <p class="text-black text-center stages-name">Stage 2</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Property_1_Stage_2_front.png?v=1716446249" alt="Stage 2" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

              <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-3-1">
              <!--<p class="text-black text-center stages-name">Stage 2</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352531.png?v=1708946207" alt="Stage 2" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-3">
                  <!-- <p class="text-black text-center stages-name">Stage 3</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Property_1_Stage_3_front.png?v=1716446763" alt="Stage 3" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-4-1">
<!--                     <p class="text-black text-center stages-name">Stage 4</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Property_1_Stage_4_front.png?v=1716446863" alt="Stage 4" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p> -->
                    <!-- <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>            

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-4">
                  <!-- <p class="text-black text-center stages-name">Stage 4</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352533.png?v=1708946319" alt="Stage 4" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p> -->
                    <!-- <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

              <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-5-1">
<!--                    <p class="text-black text-center stages-name">Stage 5</p> -->
                  <div class="stage-item bg-light position-relative">
                    <!-- Stage 5 Changes (Changed src URL) -->
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Property_1_Stage_5_front.png?v=1716446969" alt="Stage 5" class="stage-images">
                    <!-- Stage 5 Changes (Changed src URL) -->
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p> -->
                    <!-- <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                            
                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-5">
                 <!-- <p class="text-black text-center stages-name">Stage 5</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_2.png?v=1708946427" alt="Stage 5" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

            

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-6">
                 <p class="text-black text-center stages-name">Stage 6</p>
                  <div class="stage-item bg-light position-relative">
                    <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/stage6_64x.png" alt="Stage 6" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-7">
                  <p class="text-black text-left stages-name">Coin Size Patch</p>
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_3.png?v=1708946828" alt="Coin Size Patch" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-8-1">
<!--                     <p class="text-black text-left stages-name">Heavy Hair Fall Across The head</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352520_1.png?v=1708670246" alt="Heavy Hair Fall Across The head" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>
                            
                <div class="col-4 col-sm-3 col-md-3 col-lg-2 px-md-4 mb-5 mb-md-0 Stage-8">
<!--                     <p class="text-black text-left stages-name">Heavy Hair Fall Across The head</p> -->
                  <div class="stage-item bg-light position-relative">
                    <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352519_1.png?v=1708670247" alt="Heavy Hair Fall Across The head" class="stage-images">
                    <div class="indicator">
                      <span class="checkbox">{%- render 'result-icons', icon: 'indicator' -%}</span>
                      <span class="location">{%- render 'result-icons', icon: 'location' -%}</span>
                    </div>
                    <!-- <p class="text-black mt-0 mt-md-1 checkbox">Let's get you here.</p>
                    <p class="text-black mt-0 mt-md-1 location">You are here</p> -->
                  </div>
                </div>
              </div>
            </div>
            
            {% comment %}
            <!-- Stage 2 and Stage 3 Changes Description -->
            <!-- <p class="stage2-Description text-black text-center stageDescription_text mb-0 mt-4" style="display: none;">You are in early stages of hair loss and have come to Traya at the right time. You will see visible results in <span id="cstm-maxmonth-stage2"></span> months.</p>
            <p class="stage3-Description text-black text-center stageDescription_text mb-0 mt-4" style="display: none;">Your hair loss is significant but we can help you regrow. You will see visible difference on the top of your head in <span id="cstm-maxmonth-stage3"></span> months.</p>                               -->
            <!-- Stage 2 and Stage 3 Changes Description -->
            {% endcomment %}
          </div>
          <div class="cstm-growthPossibilityBar progress mb-2" style="height: 24px; border-radius: 100px; margin: 0 15px; display: none; margin-left: 0px;">
            <p class="progress-bar progress-bar-success"  style="text-align: left; background-color: #3BA773; padding: 12px; width: 93%; border-radius: 12px;" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
              Hair Regrowth Possibility 93%
            </p>
          </div>
          <p class="text-black text-left stageDescription_text mb-0 mt-2 mt-md-4" id="stageDescription">Stage 2 male pattern hair loss is caused by DHT hormone attacking hair follicles. At your stage, most hair follicles are still active. This is the best time to start treatment as there is a very high chance of seeing visible hair growth.</p>
          <p class="customer-based-profile mt-3 ml-3 d-md-none d-block" style="font-size: 11px; font-weight: 400; margin-left: 0px !important;">*Based on 34,567 men treated at Traya that match this profile</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-diagnosis">
    <div class="container pb-0">
      <div class="root_cause_main mr-2" style="background: #fff;">
        <div class="py-md-0 mb-md-3">
         <!--             <p class="font-weight-bold text-center mb-3 text-black section-title px-3 px-md-2">The Root Causes Behind Your Hair Loss</p> -->
          <p class="font-weight-bold text-center mb-3 text-black section-title px-3 px-md-2 root-cause-text root_impacting_stage1" style="display:none;">
            <span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353162.webp?v=1688647037"></span>
          </p>
          <!-- <p class="font-weight-bold text-center mb-3 text-black section-title px-3 px-md-2 root-cause-text  root_only_img">
            <span><span class="root_cause__text">Root Causes</span><img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Vector_5.png?v=1671526992"></span>
          </p> -->
          <!-- <p class="font-weight-bold text-center mb-3 text-black section-title px-3 px-md-2 root-cause-text root-cause-text-desk">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_535.png?v=1675165311">
          </p> -->
<div class="male-title-rootCause font-weight-bold">Your hair loss root causes</div>
          <div class="rootCouseSectionWrapper" id="rootCouseSectionWrapper"></div>
    <!-- <div class="container">
      <h3 class="my-0 my-md-3 rootCouseSectionTitle">Your Hair Loss Root Causes</h3>
      <ul class="nav rootCause-nav-tabs border-0" id="myTab" role="tablist">
        <li class="rootCause-nav-item" role="presentation">
          <a
            class="rootCause-nav-link border active"
            id="nutrition-tab"
            data-toggle="tab"
            href="#nutrition"
            role="tab"
            aria-controls="nutrition"
            aria-selected="true"
          >
            <span>&#129362;</span> <br />Nutrition
          </a>
        </li>
        <li class="rootCause-nav-item" role="presentation">
          <a
            class="rootCause-nav-link border"
            id="digestion-tab"
            data-toggle="tab"
            href="#digestion"
            role="tab"
            aria-controls="digestion"
            aria-selected="false"
          >
            <span>&#x1F35C;</span> <br />Digestion
          </a>
        </li>
        <li class="rootCause-nav-item" role="presentation">
          <a
            class="rootCause-nav-link border"
            id="sleep-tab"
            data-toggle="tab"
            href="#sleep"
            role="tab"
            aria-controls="sleep"
            aria-selected="false"
          >
            <span>&#x1F634;</span> <br />Sleep
          </a>
        </li>
        <li class="rootCause-nav-item" role="presentation">
          <a
            class="rootCause-nav-link border"
            id="genetics-tab"
            data-toggle="tab"
            href="#genetics"
            role="tab"
            aria-controls="genetics"
            aria-selected="false"
          >
            <span>&#x1F9EC;</span> <br />Genetics
          </a>
        </li>
      </ul>
      <div
        class="tab-content rootCauseTabContent p-2 p-md-3 mt-3"
        id="myTabContent"
      >
        <div
          class="tab-pane fade show active"
          id="nutrition"
          role="tabpanel"
          aria-labelledby="nutrition-tab"
        >
          <p class="m-0">
            A Poor Diet Compromises Hair Nourishment, Creating A Higher Risk Of
            Hair Loss
          </p>
        </div>
        <div
          class="tab-pane fade"
          id="digestion"
          role="tabpanel"
          aria-labelledby="digestion-tab"
        >
          <p class="m-0">
            Poor digestion can lead to insufficient nutrient absorption,
            affecting hair health.
          </p>
        </div>
        <div
          class="tab-pane fade"
          id="sleep"
          role="tabpanel"
          aria-labelledby="sleep-tab"
        >
          <p class="m-0">
            Lack of sleep can cause stress and hormonal imbalances, leading to
            hair loss.
          </p>
        </div>
        <div
          class="tab-pane fade"
          id="genetics"
          role="tabpanel"
          aria-labelledby="genetics-tab"
        >
          <p class="m-0">
            Genetics play a significant role in hair loss, influencing hair
            growth cycles.
          </p>
        </div>
      </div>
    </div> -->
          
          <!-- <div class="row otherstage_causes">
            <div class="col-md-10 mx-0 mx-md-auto mt-3">
              <ul class="row mb-md-5 px-3 px-md-auto" id="ourdia">
                <li class="col-3 col-sm-3 f-b-main-li" id="illness" data-targets="illness">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">
                  {%- render 'result-icons', icon: 'illness' -%}
                  <span class="sleep_30 d-block mt-3">ILLNESS</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="weight-change" data-targets="weight-change">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">
                   {%- render 'result-icons', icon: 'weight-change' -%}
                   <span class="sleep_30 d-block mt-3">WEIGHT CHANGE</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="surgery" data-targets="surgery">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'surgery' -%}
                    <span class="sleep_30 d-block mt-3">SURGERY</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="dandruff" data-targets="dandruff">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'dandruff' -%}
                    <span class="sleep_30 d-block mt-3">DANDRUFF</span>
                  </a>
                </div>
              </li>
                        
              <li class="col-3 col-sm-3 f-b-main-li" id="sleepissues" data-targets="sleepissues">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-sleep" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'sleepissues' -%}
                    <span class="sleep_30 d-block mt-3">SLEEP</span> 
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="genetics" data-targets="genetics">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-genetics" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'genetics' -%}
                    <span class="sleep_30 d-block mt-3">GENETICS</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="digestion" data-targets="digestion">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-digestion" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'digestion' -%}
                    <span class="sleep_30 d-block mt-3">DIGESTION</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="lifestyle" data-targets="lifestyle">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-lifestyle" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'lifestyle' -%}
                    <span class="sleep_30 d-block mt-3">LIFESTYLE</span>
                  </a>
                </div>
              </li>

              <li class="col-3 col-sm-3 f-b-main-li" id="stress" data-targets="stress">
                <div class="d-h w-100">
                  <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-stress" data-toggle="modal" data-target="#stageModalCenter">
                    {%- render 'result-icons', icon: 'stress' -%}
                    <span class="sleep_30 d-block mt-3">STRESS</span>
                  </a>
                </div>
              </li>

                <li class="col-3 col-sm-3 f-b-main-li" id="weightloss" data-targets="weightloss">
                  <div class="d-h w-100">
                    <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-weight" data-toggle="modal" data-target="#stageModalCenter">
                      {%- render 'result-icons', icon: 'weightloss' -%}
                      <span class="sleep_30 d-block mt-3">SUDDEN WEIGHT LOSS</span>
                    </a>
                  </div>
                </li>

                <li class="col-3 col-sm-3 f-b-main-li" id="deficiency" data-targets="deficiency">
                  <div class="d-h w-100">
                    <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-deficiency" data-toggle="modal" data-target="#stageModalCenter">
                      {%- render 'result-icons', icon: 'deficiency' -%}
                      <span class="sleep_30 d-block mt-3">DEFICIENCY</span>
                    </a>
                  </div>
                </li>

                <li class="col-3 col-sm-3 f-b-main-li" id="nutrition" data-targets="nutrition">
                  <div class="d-h w-100">
                    <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-nutrition" data-toggle="modal" data-target="#stageModalCenter">
                      {%- render 'result-icons', icon: 'nutrition' -%}
                      <span class="sleep_30 d-block mt-3">NUTRITION</span>
                    </a>
                  </div>
                </li>

                <li class="col-3 col-sm-3 f-b-main-li" id="malfunction" data-targets="malfunction">
                  <div class="d-h w-100">
                    <a href="#" class="text-decoration-none text-black d-block text-center mx-auto" data-id="nav-malfunction" data-toggle="modal" data-target="#stageModalCenter">
                      {%- render 'result-icons', icon: 'malfunction' -%}
                      <span class="sleep_30 d-block mt-3">AUTO-IMMUNE MALFUNCTION</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center otherstage_causes">
            <a id="learn_more" href="#" class="text-center mb-4 text-black text-decoration-none" data-toggle="modal" data-target="#stageModalCenter">Learn about root cause</a>
          </div> -->
        </div>
      </div> 
    </div>
    {% comment %}
    {% render 'stage2-3' %}
    {% endcomment %}
  </section>
  </div>
</div>

{% schema %}
  {
    "name": "Test Result",
    "settings": [],
    "presets":[
          {
          "name":"Test Result"
          }
      ]
  }
{% endschema %}

{% style %}
  /* Coin Size Changes */
  #malfunction svg {height: 100px !important; width: 100px !important;}
  /* Coin Size Changes */
  
  p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.root_impacting_stage1 {
    display: none !important;
}
  
  p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.root_impacting_stage1.new_root img {
    height: auto !important;
}
  p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.root_impacting_stage1.new_root span img {
    width: 100%;
    margin: 0 auto;
}
  p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.root_only_img.new_root.mob_root_only_img {
    display: none !important;
}

  .result4 .test-result  .satge1_stageDescription_text, .result4 .test-result  .stageDescriptionTE{
    font-weight:normal !important;
  }
  .product-section-list.pt-4.pt-md-1 .section-title {
    padding: 0 15px;
}
  .male-title-rootCause.font-weight-bold{font-size: 25px; letter-spacing: normal; color: #1A1A1A; margin: 10px 0px;}
 p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.new_root {
    white-space: initial;
   font-weight: 800 !important;
    font-family: Nunito Sans,sans-serif!important;
   text-transform: capitalize !important;
       line-height: initial !important;
}
  .stage_1_testimonial.stage_1_testimonial_show .our-customers-img img {
    object-fit: cover;
    width: fit-content;
     height: fit-content; 
    margin: 0 auto;
}
  .stage_1_testimonial.stage_1_testimonial_show {
    display: block;
}
  .stage_1_testimonial {
    display: none;
}
  .result4.cust_reviews.cust_reviews_hide, .result4c.cust_reviews.cust_reviews_hide {
    display: none;
}
  div#issue_hair_goal {
    font-size: 25px;
    color: #414042;
}
  span#typeOfLos {
    font-weight: 400 !important;
}
  .user_type_stage.user_type_stage1, .diagnosed_text.user_type_stage1 {
    display: none;
}
  p.font-weight-bold.text-white.mt-1.user_type_stage.stage1_Text.stage-1_hair_issues.user_type_stage1 {
    display: block !important;
}
  .product-section.pt-4 h2.font-weight-bold.l-0.text-center.mb-md-5.section-title {
    padding: 0 15px;
}
  .main-stage-section.pb-md-5.mb-2.all-stages-pd {
    padding-bottom: 15px !important;
}
  .result4 .test-result .all-stages img.stage-images {
    width: 90% !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0,0%) !important;
}
  .col-4.col-sm-3.col-md-3.col-lg-2.px-md-4.mb-5.mb-md-0.Stage-1.selectedStage.all-stages {
    width: 100% !important;
    flex: 0 0 100%;
    max-width: 100%;
}
  .result4 .test-result-bg #ourdia li a svg {
    width: 50px;
    height: 50px;
}
  .result4 .main-stage-section #male-stages, .result4b .main-stage-section #male-stages{
    flex-direction: row-reverse;
  }
  .result4 .main-stage-section .col-4, .result4b .main-stage-section .col-4{
    display:none;
  }
  .result4 .main-stage-section .selectedStage, .result4b .main-stage-section .selectedStage{
    display:block;
  }
  .result4 .main-stage-section .selectedStage .location, .result4b .main-stage-section .selectedStage .location {
    display: flex!important;
  }
  .result4 .main-stage-section .checkStage .checkbox, .result4 .main-stage-section .selectedStage .location {
    display: flex!important;
  }
  .result4b .main-stage-section .checkStage .checkbox, .result4b .main-stage-section .selectedStage .location {
    display: flex!important;
  }
  .result4 .main-stage-section .checkStage, .result4b .main-stage-section .checkStage{
    /* display: block; */
  }
  .template-page.result4 .our-experts .cstm_doctor_div, .template-page.result4b .our-experts .cstm_doctor_div {
    height: 315px;
  }
    .book-appnt-btn {
    background-color: #b7d340;
    color: #000;
    border: #b7d340;
    padding: 15px 80px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: normal;
}
  .text-black.text-left.stageDescription_text.mb-0.mt-2.mt-md-4{border-radius: 8px; background: #E8F7EF; padding: 12px; margin: 0px 15px;}
  .main-stage-section.pb-md-5.mb-2.w-50{display: flex; justify-content: space-around;}
  @media only screen and (max-width: 1199.98px) and (min-width: 992px) {
    .result4 .username, .result4 .username {
      font-size: 65px;
    }
    .result4 .diagnosed_text, .user_type_stage, .result4b .diagnosed_text, .user_type_stage {
      font-size: 40px;
    }
    .result4 .stageDescription_text, .result4b .stageDescription_text {
      margin-top: 25px;
    }
  }
  @media only screen and (max-width: 991.98px) and (min-width: 768px) {
    .result4 .username, .result4b .username {
      font-size: 65px;
    }
    .result4 .diagnosed_text, .user_type_stage, .result4b .diagnosed_text, .user_type_stage {
      font-size: 30px;
    }
    .result4 .stageDescription_text, .result4b .stageDescription_text {
      font-size: 20px;
      margin-top: 25px;
    }
  }
  @media only screen and (max-width: 767.98px){
    .text-black.text-left.stageDescription_text.mb-0.mt-2.mt-md-4{margin: 0px 10px;}
    .result4 .test-result #male-stages.justify-content-center.male-stagesTE {
    justify-content: center !important;
}
     p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.root_impacting_stage1.root_impacting_stage1_show {
    display: block !important;
}
    p.font-weight-bold.text-center.mb-3.text-black.section-title.px-3.px-md-2.root-cause-text.new_root {
    white-space: initial;
    line-height: inherit;
    font-size: 18px !important;
}
    .col-4.col-sm-3.col-md-3.col-lg-2.px-md-4.mb-5.mb-md-0.Stage-1.selectedStage.all-stages {
    margin-bottom: 0 !important;
}
    body.gradient.template-page.result4 .test-result .all-stages img.stage-images {
    width: 100% !important;
      padding: 15px;
}
   .result4 .test-result .page-result-hero .text-center.stages-name{
    text-align: center !important;
  }
  .result4 .test-result .stage-item, .result4-a .test-result .stage-item, .result4b .test-result .stage-item {
    margin: 0 auto;
  }
    .result4 .product-section-list .card-body svg+span, .result4b .product-section-list .card-body svg+span {
      font-size: 16px;
    }
    .result4 .product-section-list .card-body p, .result4b .product-section-list .card-body p {
      font-size: 13px;
    }
    #ourdia li a span{
      font-size:10px;
    }
    #ourdia li a svg{
      width:30px;
      hieght:35px;
    }
    #ourdia li{
      padding:0;
    }
    .result_product_slides:not(.slick-initialized) > .col-md-6.mb-5:first-of-type ~ * {
      display: none;
    }
    .template-page.result4 .card-footer .buy_now_card_svg svg, .template-page.result4b .card-footer .buy_now_card_svg svg {
      width: 19px;
      height: 18px;
    }
    .template-page.result4 .root_cause_main, .template-page.result4b .root_cause_main {
      border-radius: 10px 10px 0px 0px;
    }
/*     .result4 .product-section-list p, .result4b .product-section-list p {
      font-size: 15px;
      white-space: nowrap;
    } */
    .template-page.result4 .our-experts .cstm_doctor_div, .template-page.result4b .our-experts .cstm_doctor_div {
      height: 315px;
    }
    .book-appnt-btn {
    font-size: 22px;
    line-height: 30px;
    padding: 12px;
    width: 100%;
    }
  }
  #Genetics-tab img {
    height: 50px;
  }
  .progress {
    background-color: #C7EAD7 !important;
  }
  @media only screen and (max-width: 575.98px) {
    .product-section-list.pt-4.pt-md-1.STtage1 p.section-title {
    font-size: 24px;
}
    .stage_1_testimonial.stage_1_testimonial_show p.section-title {
    font-size: 24px;
}
    span.m-stage-1-Pro_title1 {
    font-size: 24px;
}
    .result4 .product-section-list .card-body svg+span, .result4b .product-section-list .card-body svg+span {
      font-size: 14px;
      width: calc(100% - 34px);
    }
    .result4 .section-title, .result4b .section-title {
      font-size: 28px;
    }
    .result4c.result4 .section-title {
      font-size: 26px;
    }
    .result4 .product-section-list svg, .result-hi .product-section-list svg, .result4b .product-section-list svg {
      width: 34px;
      height: 34px;
    }
    .result4 .main-stage-section .col-4, .result4b .main-stage-section .col-4,
    .result4 .main-stage-section .col-4, .result4b .main-stage-section .col-4{
      padding: 0;
    }
    .result4 .test-result-bg .checkStage:after, .result4-a .test-result-bg .checkStage:after, .result4b .test-result-bg .checkStage:after {
      font-size: 41px;
      transform: translate(-50%,-50%);
      right: 10px;
    }
  }   

    .traya-processing-animation{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    background: #fff;
    z-index: 999;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display:flex;
  }

 
      .rootCouseSectionTitle {
        color: #1a1a1a;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0;
      }
      .rootCause-nav-item {
        flex: 0 0 auto;
        / width: calc(100% / 3.5); /
        text-align: center;
        min-width: 124px;
      }

      .rootCause-nav-link {
        display: block;
        padding: 10px;
        / background-color: #f8f9fa; /
        border: 1px solid #ddd;
        color: #1a1a1a;
        border-radius: 5px;
        margin: 2px;
      }
      .rootCause-nav-link.active {
        background-color: #fef3e5 !important;
        border: 1px solid #fef3e5 !important;
        font-weight: 600;
      }
      .rootCause-nav-tabs {
        overflow-x: auto;
        flex-wrap: nowrap;
      }
      .rootCause-nav-tabs::-webkit-scrollbar {
        display: none;
      }
      .rootCauseTabContent {
        background-color: #fef3e5;
        border-radius: 8px;
        font-weight: 400;
      }
      .rootCause-nav-item :hover {
        text-decoration: none;
        color: #1a1a1a;
      }
  .rootCauseLinkImg{
    max-width: 50px;
    min-width: 50px;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .user_type_result, .diagnosed_text{
        text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .male-title-rootCause.font-weight-bold{font-size: 16px; margin: 6px 0px;}
    .rootCause-nav-item {
      width: calc(100% / 3.5);
      min-width: 84px;
    }
    .rootCouseSectionTitle {
      font-size: 16px;
    }
    .rootCause-nav-link {
      font-size: 11px;
    }
  }
  
  /* Stage 1 To Stage 4 Tag Changes */
  .stage1-4-tag {background: #B7D340; font-size: 16px !important; padding: 5px; position: absolute; right: 30px; border-radius: 5px; top: 5px; box-shadow: 2px 5px 5px #d7d7d7;}
  @media screen and (max-width: 768px) {.stage1-4-tag {font-size: 12px !important; right: 5px; top: 5px;} }
  /* Stage 1 To Stage 4 Tag Changes */

  /* Stage 2 and Stage 3 Changes */
  {% comment %} .cstm-stage-2-3 .test-result {background: #EAF4F1; margin-top: 40px;}
  .cstm-stage-2-3 .cstm-user-stage2-3 {margin: 20px; max-width: 1140px;}
  .cstm-stage-2-3 .cstm-user-stage2-3 h1 {font-size: 48px; line-height: 52px; letter-spacing: 0em; color: #3E3E3E;}
  .cstm-stage-2-3 .cstm-user-stage2-3 p {font-size: 32px; line-height: 35px; color: #505050;}
  .cstm-stage-2-3 .test-result-bg {margin: 0 auto;}
  .cstm-stage-2-3 .cstm-diagonosed-stage-2-3 {font-size: 32px; line-height: 44px; padding: 0 20px;}
  .cstm-stage-2-3 .root_only_img span {font-size: 18px; align-items: center !important;}
  .cstm-stage-2-3 .cstm-diagonosed-stage-2-3:after {content: ''; border-bottom: 2px solid #B7D340; width: 100%; display: block; opacity: 0.5; padding-top: 15px;}
  .cstm-stage-2-3 .img-stage-2, .cstm-stage-2-3 .img-stage-3 {width: 90%; margin: auto;}
  .cstm-stage-2-3 .main-stage-section {padding: 0 !important;}
  .cstm-stage-2-3 .stage2-3-Description {font-size: 30px; line-height: 41px; padding: 20px 30px;}
  .cstm-stage-2-3 .modal-body a {text-decoration: underline;}
  .cstm-stage-2-3 .main-faqbox .readmore {display: none;}
  .cstm-stage-2-3 .visitor-info, .cstm-stage-2-3 #male-stages, .cstm-stage-2-3 #stageDescription, .cstm-stage-2-3 .social-reviews a.border-bottom {display: none;}
  .cstm-stage-2-3 .essential_slid_grid {margin: 0 !important;}
  .product-section-list .card-header {height: auto;}
  
  @media screen and (min-width: 769px) {
    .cstm-stage-2-3 .bg-colo {border: none !important;}
    .cstm-stage-2-3 .assement-report:after {content: ''; border-bottom: 2px solid #B1B1B1; opacity: 0.5; width: 96%; display: block; margin-left: 14px;}
    .cstm-stage-2-3 .assement-report p {font-size: 28px !important; font-weight: 400 !important; line-height: 38px; text-align: left !important; opacity: 0.5; padding: 20px 40px 10px !important;}
  }
    
  @media screen and (max-width: 768px) {
    .cstm-stage-2-3 .cstm-user-stage2-3 {margin: 0;}
    .cstm-stage-2-3 .cstm-user-stage2-3 h1 {font-size: 18px; line-height: 20px;}
    .cstm-stage-2-3 .cstm-user-stage2-3 p {font-size: 14px; line-height: 20px;}
    .cstm-stage-2-3 .test-result-bg {padding: 0 20px;}
    .cstm-stage-2-3 .assement-report p {font-size: 12px !important; font-weight: 400 !important; line-height: 14px; padding: 5px 30px !important;}
    .cstm-stage-2-3 .cstm-diagonosed-stage-2-3:after {border-bottom: 1px solid #B7D340;}
    .cstm-stage-2-3 .cstm-diagonosed-stage-2-3 {font-size: 14px; line-height: 20px; padding: 0;}
    .cstm-stage-2-3 .img-stage-2, .cstm-stage-2-3 .img-stage-3 {width: 100%; transform: scale(1.1);}
    .cstm-stage-2-3 .stage2-3-Description {font-size: 14px; line-height: 20px; padding: 0;}
  } {% endcomment %}
  /* Stage 2 and Stage 3 Changes */
  .result4 .our-experts {
    padding-bottom: 6rem !important;
  }
  a#Digestion-tab img, a#Autoimmune-tab img {
    height: 40px;
  }
{% endstyle %}