<div class="container">
  <div class="page-result-hero">
    <div class="mb-4 main-section bg-tradewind position-relative rounded-lg shadow">
      <div class="container pt-4 pb-4 text-white">
        <div class="text-center">
          <div class="mb-4">
            <div class="visitor-info">
              <h1 class="font-weight-bold text-white"><span data-user-name class="text-capitalize"></span>,</h1>
              <h3 class="mb-2 text-white col-md-7 px-0 mb-2 mx-auto">You’ve been diagnosed with</h3>
              <h2 class="pattern_v font-weight-bold l-0 text-white"><span data-gender></span> pattern hair loss</h2>
              <h2 class="font-weight-bold l-0 text-white d-none"><span id="stage"></span></h2>
            </div>
          </div>
        </div>
        <div class="main-stage-section pb-md-5 mb-4">
          <div id="female-stages" class="row align-items-end flex-nowrap justify-content-center">
            <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-1">
              <h6 class="text-white text-center">Stage 1</h6>
              <div class="stage-item bg-light position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage01.svg" alt="Stage-1">
                <div class="indicator">
                  <span class="checkbox">
                    <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                    </svg>
                  </span>
                  <span class="location">
                    <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                    </svg>
                  </span>
                </div>
                <p class="text-white mt-1 checkbox">Let's get you here.</p>
                <p class="text-white mt-1 location">You are here</p>
              </div>
            </div>
            <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-2">
              <h6 class="text-white text-center">Stage 2</h6>
              <div class="stage-item bg-light position-relative rounded-circle">
                <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage02.svg" alt="Stage 2">
                <div class="indicator">
                <span class="checkbox">
                  <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                  </svg>
                </span>
                <span class="location">
                  <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                  </svg>
                </span>
              </div>
              <p class="text-white mt-1 checkbox">Let's get you here.</p>
              <p class="text-white mt-1 location">You are here</p>
            </div>
          </div>
          <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-3">
            <h6 class="text-white text-center">Stage 3</h6>
            <div class="stage-item bg-light position-relative rounded-circle">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage03.svg" alt="Stage 3">
              <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-4">
          <h6 class="text-white text-center">Stage 4</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage04.svg" alt="Stage 4">
            <div class="indicator">
            <span class="checkbox">
              <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
              </svg>
            </span>
            <span class="location">
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
              </svg>
            </span>
          </div>
          <p class="text-white mt-1 checkbox">Let's get you here.</p>
          <p class="text-white mt-1 location">You are here</p>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-5">
          <h6 class="text-white text-center">Stage 5</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage05.svg" alt="Stage 5">
            <div class="indicator">
            <span class="checkbox">
              <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
              </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-6">
          <h6 class="text-white text-center">Stage 6</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/new-stage06.svg" alt="Stage 6">
            <div class="indicator">
            <span class="checkbox">
              <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
              </svg>
            </span>
            <span class="location">
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
              </svg>
            </span>
          </div>
          <p class="text-white mt-1 checkbox">Let's get you here.</p>
          <p class="text-white mt-1 location">You are here</p>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-7">
        <h6 class="text-white text-left">Coin Size Patch</h6>
        <div class="stage-item bg-light position-relative rounded-circle">
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/female-stage-coin.svg" alt="Coin Size Patch">
              <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-8">
          <h6 class="text-white text-left">Heavy Hair Fall Across The Head</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/hair-fall-female.svg" alt="Heavy Hair Fall Across The Head">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
      </div>
<!------ Male Stages Hide for now ---->
      <div id="male-stages" class="row align-items-end flex-nowrap justify-content-center">
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-1">
          <h6 class="text-white text-center">Stage 1</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male01.svg" alt="Stage 1">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-2">
          <h6 class="text-white text-center">Stage 2</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male02.svg" alt="Stage 2">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-3">
          <h6 class="text-white text-center">Stage 3</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male03.svg" alt="Stage 3">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-4">
          <h6 class="text-white text-center">Stage 4</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male04.svg" alt="Stage 4">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-5">
          <h6 class="text-white text-center">Stage 5</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male05.svg" alt="Stage 5">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-6">
          <h6 class="text-white text-center">Stage 6</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male06.svg" alt="Stage 6">
            <div class="indicator">
              <span class="checkbox">
                <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
                </svg>
              </span>
              <span class="location">
                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
                </svg>
              </span>
            </div>
            <p class="text-white mt-1 checkbox">Let's get you here.</p>
            <p class="text-white mt-1 location">You are here</p>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-7">
          <h6 class="text-white text-left">Coin Size Patch</h6>
          <div class="stage-item bg-light position-relative rounded-circle">
            <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/male-stage-coin.svg" alt="Coin Size Patch">
            <div class="indicator">
            <span class="checkbox">
              <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
              </svg>
            </span>
            <span class="location">
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
              </svg>
            </span>
          </div>
          <p class="text-white mt-1 checkbox">Let's get you here.</p>
          <p class="text-white mt-1 location">You are here</p>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 px-md-4 mb-5 mb-md-0 Stage-8">
        <h6 class="text-white text-left">Heavy Hair Fall Across The head</h6>
        <div class="stage-item bg-light position-relative rounded-circle">
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/hair-fall-male.svg" alt="Heavy Hair Fall Across The head">
          <div class="indicator">
            <span class="checkbox">
              <svg width="18" height="14" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36396 15.5579L0 9.19396L2.83 6.36396L6.36396 9.90792L16.2619 0L19.0919 2.83L6.36396 15.5579Z" fill="#EFF5FC"/>
              </svg>
            </span>
            <span class="location">
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 18.0037C5.73693 16.9263 4.56619 15.7452 3.5 14.4727C1.9 12.5617 8.83662e-07 9.71571 8.83662e-07 7.00371C-0.00141728 4.17126 1.70425 1.6171 4.32107 0.53311C6.93789 -0.550883 9.95007 0.0489528 11.952 2.05271C13.2685 3.36332 14.0059 5.1461 14 7.00371C14 9.71571 12.1 12.5617 10.5 14.4727C9.43382 15.7452 8.26307 16.9263 7 18.0037ZM7 4.00371C5.92821 4.00371 4.93782 4.57551 4.40193 5.50371C3.86603 6.43192 3.86603 7.57551 4.40193 8.50371C4.93782 9.43192 5.92821 10.0037 7 10.0037C8.65686 10.0037 10 8.66057 10 7.00371C10 5.34686 8.65686 4.00371 7 4.00371Z" fill="#EFF5FC"/>
              </svg>
            </span>
          </div>
          <p class="text-white mt-1 checkbox">Let's get you here.</p>
          <p class="text-white mt-1 location">You are here</p>
        </div>
      </div>
    </div>
  </div>
    <h6 class="text-white text-center" id="stageDescription"> </h6>
  </div>
</div>
</div>
</div>

{% schema %}
  {
    "name": "test result 5",
    "settings": [],
    "presets": [
      {
        "name": "test result5",
        "category": "custom"
      }
    ]
  }
{% endschema %}

{% style %}
  .result5 .stage-item {
    padding-top: 100%;
  }
  .result5 .stage-item>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .result5 .stage-item .indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 32px;
    height: 32px;
    background: #68aa9e;
    border: 1px solid #fff;
    border-radius: 100%;
  }
  .result5 .stage-item .indicator span {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: none;
  }
  .result5 .stage-item>p {
    position: absolute;
    max-width: 70px;
    right: 0;
    text-align: center;
    display: none;
  }
  .result5 .checkStage .checkbox, .result5 .selectedStage .location {
    display: flex!important;
  }
  .result5 .checkStage:after {
    content: "\2192";
    position: absolute;
    top: 60%;
    left: 0;
    font-size: 38px;
    transform: translate(-50%,-50%);
  }
  .result5 .main-stage-section #female-stages, .result5 .main-stage-section #male-stages {
    flex-direction: row-reverse;
  }
  .result5 .page-result-hero.male #female-stages, .result5 .page-result-hero.female #male-stages, .result5 .main-stage-section .col-4 {
    display: none;
  }
  .result5 .main-stage-section .selectedStage, .result5 .main-stage-section .checkStage {
    display: block;
  }
  .result5 #stageDescription {
    letter-spacing: normal;
  }
  .result5 .page-result-hero [data-user-name] {
    font-size: 72px;
  }
  @media only screen and (max-width: 767.98px) {    
    .result5 .page-result-hero [data-user-name] {
      font-size: 32px;
    }
  }
{% endstyle %}