<div class="main-top-section form-thank-you text-center thank-you">
  <div class="container">
    
    <span class="d-block text-center">
      <svg {% if page.handle == 'thank-you' %}width="114" height="115"{% else %}width="95" height="95"{% endif %} viewBox="0 0 114 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M78.4562 37.0027L47.0239 68.4351L32.8329 54.2441C31.8304 53.2416 30.4707 52.6784 29.053 52.6784C27.6353 52.6784 26.2757 53.2416 25.2732 54.2441C24.2707 55.2466 23.7075 56.6062 23.7075 58.0239C23.7075 58.7259 23.8458 59.421 24.1144 60.0696C24.3831 60.7181 24.7768 61.3074 25.2732 61.8038L43.1777 79.7083C43.657 80.2106 44.2332 80.6105 44.8715 80.8837C45.5098 81.1569 46.1969 81.2978 46.8912 81.2978C47.5855 81.2978 48.2726 81.1569 48.9109 80.8837C49.5492 80.6105 50.1255 80.2106 50.6048 79.7083L85.7507 44.5624C86.2519 44.0687 86.65 43.4803 86.9217 42.8314C87.1934 42.1825 87.3333 41.486 87.3333 40.7825C87.3333 40.079 87.1934 39.3825 86.9217 38.7336C86.65 38.0847 86.2519 37.4963 85.7507 37.0027C84.7781 36.0453 83.4681 35.5087 82.1034 35.5087C80.7387 35.5087 79.4288 36.0453 78.4562 37.0027Z" fill="white"/>
        <path d="M56.9708 0C46.4447 0.0107844 36.127 2.93458 27.1601 8.44763C18.1932 13.9607 10.9271 21.8479 6.16635 31.2358C1.40557 40.6238 -0.664087 51.1461 0.186546 61.6378C1.03718 72.1295 4.77491 82.181 10.9859 90.6794C17.1968 99.1778 25.6386 105.791 35.3765 109.788C45.1144 113.784 55.7684 115.008 66.1587 113.323C76.549 111.638 86.2703 107.11 94.246 100.241C102.222 93.3715 108.141 84.4289 111.347 74.4032C111.636 73.1075 111.428 71.7507 110.766 70.6006C110.103 69.4505 109.033 68.5907 107.767 68.191C106.501 67.7913 105.131 67.8806 103.928 68.4414C102.725 69.0022 101.776 69.9937 101.268 71.2202C97.7619 82.4477 90.148 91.9385 79.9481 97.796C69.7481 103.653 57.7135 105.446 46.2492 102.815C34.785 100.185 24.7357 93.3249 18.1098 83.6066C11.4839 73.8882 8.76943 62.0274 10.5089 50.3946C12.2484 38.7618 18.3137 28.2138 27.4926 20.8589C36.6716 13.5039 48.288 9.88364 60.0203 10.7217C71.7525 11.5597 82.7364 16.7943 90.7768 25.3793C98.8171 33.9643 103.322 45.2672 103.39 57.0292C103.39 58.4362 103.949 59.7855 104.944 60.7804C105.939 61.7753 107.288 62.3342 108.695 62.3342C110.102 62.3342 111.451 61.7753 112.446 60.7804C113.441 59.7855 114 58.4362 114 57.0292C113.979 41.9106 107.964 27.4172 97.2733 16.7267C86.5828 6.03623 72.0894 0.0210517 56.9708 0Z" fill="white"/>
      </svg>
    </span>
    {% if section.settings.thank-text != blank %}
      <h2 class="section-title-main text-white mb-3">{{ section.settings.thank-text }}</h2>
    {% endif %}
    <h4 class="text-white mb-0 mt-3">{{ section.settings.thank-content }}</h4>
    
  </div>
  
</div>

{% schema %}
  {
    "name": "thank you",
    "settings": [
      {
      "type":"text",
      "id":"thank-text",
      "label":"Heading",
      "default":"Thank you"
      },
      {
      "type":"text",
      "id":"thank-content",
      "label":"Paragraph",
      "default":"We’ve received your payment of Rs 499/-"
      }
      
    ],
     "presets":[
          {
          "name":"thank you Section"
          }]
  }
{% endschema %}