<div class="container" page_type="normal">
  <p class="formula my-4 pb-md-3 pb-1">
    <span class="{% unless page.handle == 'female-result' %}font-fredoka {% endunless %} font-weight-bold">Traya’s Holistic 3 Science Formula</span>
  </p>
  <div class="traya_3x_box">
    <div class="traya_3X_image p-3">
      <div class="image_box">
        <img
          class="image1"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/N.png?v=1670498386"
        >
        <p class="nutrition font-fredoka">Nutrition</p>
      </div>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4941 23.8C11.1275 23.8 10.1608 23.6 9.59414 23.2C9.02747 22.7667 8.67747 22.2333 8.54414 21.6C8.44414 20.9667 8.39414 20.3167 8.39414 19.65V4.8C8.39414 4.13333 8.44414 3.5 8.54414 2.9C8.67747 2.26667 9.02747 1.75 9.59414 1.35C10.1941 0.949999 11.1775 0.749999 12.5441 0.749999C13.9108 0.749999 14.8775 0.949999 15.4441 1.35C16.0108 1.75 16.3441 2.26667 16.4441 2.9C16.5775 3.53333 16.6441 4.18333 16.6441 4.85V19.7C16.6441 20.3667 16.5775 21.0167 16.4441 21.65C16.3441 22.2833 16.0108 22.8 15.4441 23.2C14.8775 23.6 13.8941 23.8 12.4941 23.8ZM4.79414 16.4C4.19414 16.4 3.59414 16.35 2.99414 16.25C2.39414 16.1167 1.89414 15.7667 1.49414 15.2C1.12747 14.6 0.944141 13.6167 0.944141 12.25C0.944141 10.85 1.14414 9.86667 1.54414 9.3C1.97747 8.73333 2.51081 8.4 3.14414 8.3C3.81081 8.16667 4.47747 8.1 5.14414 8.1H19.9441C20.6108 8.1 21.2608 8.16667 21.8941 8.3C22.5275 8.4 23.0441 8.75 23.4441 9.35C23.8441 9.91667 24.0441 10.9 24.0441 12.3C24.0441 13.6667 23.8441 14.6333 23.4441 15.2C23.0775 15.7667 22.5941 16.1167 21.9941 16.25C21.4275 16.35 20.8275 16.4 20.1941 16.4H4.79414Z" fill="#B4CA6C"/>
      </svg>
      <div class="image_box">
        <img
          class="image1"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/A_cfd555ce-b743-4d5a-8a90-7c6bd77cc507.png?v=1670498386"
        >
        <p class="nutrition font-fredoka">Ayurveda</p>
      </div>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4941 23.8C11.1275 23.8 10.1608 23.6 9.59414 23.2C9.02747 22.7667 8.67747 22.2333 8.54414 21.6C8.44414 20.9667 8.39414 20.3167 8.39414 19.65V4.8C8.39414 4.13333 8.44414 3.5 8.54414 2.9C8.67747 2.26667 9.02747 1.75 9.59414 1.35C10.1941 0.949999 11.1775 0.749999 12.5441 0.749999C13.9108 0.749999 14.8775 0.949999 15.4441 1.35C16.0108 1.75 16.3441 2.26667 16.4441 2.9C16.5775 3.53333 16.6441 4.18333 16.6441 4.85V19.7C16.6441 20.3667 16.5775 21.0167 16.4441 21.65C16.3441 22.2833 16.0108 22.8 15.4441 23.2C14.8775 23.6 13.8941 23.8 12.4941 23.8ZM4.79414 16.4C4.19414 16.4 3.59414 16.35 2.99414 16.25C2.39414 16.1167 1.89414 15.7667 1.49414 15.2C1.12747 14.6 0.944141 13.6167 0.944141 12.25C0.944141 10.85 1.14414 9.86667 1.54414 9.3C1.97747 8.73333 2.51081 8.4 3.14414 8.3C3.81081 8.16667 4.47747 8.1 5.14414 8.1H19.9441C20.6108 8.1 21.2608 8.16667 21.8941 8.3C22.5275 8.4 23.0441 8.75 23.4441 9.35C23.8441 9.91667 24.0441 10.9 24.0441 12.3C24.0441 13.6667 23.8441 14.6333 23.4441 15.2C23.0775 15.7667 22.5941 16.1167 21.9941 16.25C21.4275 16.35 20.8275 16.4 20.1941 16.4H4.79414Z" fill="#B4CA6C"/>
      </svg>
      <div class="image_box">
        <img
          class="image1"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/D_a02dff41-22f9-43fc-8e1a-5c404d580bf6.png?v=1670498386"
        >
        <p class="nutrition font-fredoka">Dermatology</p>
      </div>
    </div>
    <div class="traya_3X_para px-3 py-md-4 py-2">
      <p class="our_approach fw-bold">
        Our approach combines the goodness of 3 powerful<br>
        sciences. With a blend of 112 Ayurvedic herbs, 6 hair<br>
        growth actives and a healing diet plan, we personalize<br>
        your treatment delivering assured results.
      </p>
    </div>
    <div class="traya_3X_formula position-relative">
      <div class="image_box">
        <img
          class="image2"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Artboard_1_1_c4649923-75a1-434a-a1bf-cd885a0ec87c.png?v=1670496821"
        >
        <p class="holistic">Holistic</p>
      </div>
      <div class="image_box">
              {% if page.handle == "female-result" or page.handle == 'female-result2' %}
          <img
          class="image2"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353397.png?v=1702293363"
        >
        <p class="holistic">
          No known <br> Side
          Effect
        </p>
         {% else %}
        <img
          class="image2"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Artboard_2_1.png?v=1670496820"
        >
        <p class="holistic">
          Made<br>
          Safe
        </p>
         {% endif %}
      </div>
      <div class="image_box">
        <img
          class="image2"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Artboard_3_1.png?v=1670496821"
        >
        {% if page.handle == "female-result" or page.handle == 'female-result2' %}
          <p class="holistic">Saw Results*</p>
          {% else %}
        <p class="holistic">Success</p>
          {% endif %}
      </div>
      <div class="image_box">
        <img
          class="image2"
          src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353496.png?v=1707203865"
        >
        <p class="holistic">
          Authentic<br>
          Ingredients
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Traya 3X Formula",
    "settings": [],
    "presets": [
      {
        "name": "Traya 3X Foormula"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
    .traya_3x_box {
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #B7D340;
      box-shadow: 5px 10px 20px 9px rgba(0, 0, 0, 0.13);
      border-radius: 10px;
  }
  .traya_3X_image {
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      color: #B7D340;
      align-items: center;
  }
  .traya_3X_image .nutrition {
      color: #B7D340;
  }
  .traya_3X_formula {
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      padding: 30px 50px;
  }
  .our_approach {
      font-size: 30px;
      line-height: 39px;
  }
  .formula {
      font-size: 45px;
      line-height: 85px;
      text-align: center;
      color: #3e3e3e;
  }
  .nutrition {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 19px;
  }
  .holistic {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 19px;
      padding-top: 25px;
  }
  .traya_3X_formula:before {
      content: " ";
      width: 70%;
      height: 1px;
      top: 0%;
      left: 50%;
      display: block;
      position: absolute;
      background: #000;
      opacity: 0.1;
      transform: translateX(-50%);
  }
  .female-result .image2{
    width: 90px;
    height: 90px;
  }
  @media screen and (max-width: 767px) {
      .formula {
          font-size: 24px;
          line-height: 26px;
      }
      .nutrition {
          font-size: 12px;
      }
      .our_approach {
          font-size: 12px;
          line-height: 19px;
      }
      .traya_3X_formula {
          padding: 30px 20px;
      }
      .image2,.female-result .image2 {
          width: 45px;
          height: 45px;
      }
      .holistic {
          font-weight: 400;
          font-size: 12px;
          line-height: 13px;
          padding-top: 15px;
      }
      .image1 {
          width: 60px;
          height: 55px;
      }
      .image2 {
          width: 45px;
          height: 45px;
      }
      .image_box+svg {
          width: 20px;
          height: 20px;
      }
  }
    @media only screen and (max-width: 400px) {
      .image1 {
        width: 40px;
        height: 45px;
      }
      .image_box+svg {
        width: 15px;
        height: 15px;
      }
      .our_approach {
        font-size: 10px;
      }
    }
  .col-md-12.mt-4.mt-md-5.position-relative.mb-3.mb-md-5{
    padding:15px;
  }
{% endstylesheet %}