<div page_type="normal">
  <p class="text-center {% unless page.handle == 'female-result' %}font-fredoka{% endunless %} font-weight-bold main-heading mb-4 pt-3 d-none d-md-block">Unlock access to all-inclusive <br> support on placing the order</p>
  <div class="container new-fresult">
    <p class="text-center {% unless page.handle == 'female-result' %}font-fredoka{% endunless %} font-weight-bold mb-4 pt-md-5 main-heading d-md-none">
      Unlock access to all-inclusive<br>
      support on placing the order
    </p>
    <!-- <p class="text-center fw-bold sub-heading d-none d-md-block mb-4 col3f">
      Hair growth is all about consistency. We have curated<br>
      a 360<span>&#176;</span> treatment plan to help you achieve this.
    </p>
    <p class="text-center fw-bold sub-heading mb-4 d-md-none col3f">
      Hair growth is all about consistency. We have curated
      a 360<span>&#176;</span> treatment plan to help you achieve this.
    </p> -->
    <div class="row card_space">
      <div class="col-md-6 col-12 m-auto">
        <div class="mx-3 green-border">
          <div class="row p-3 m-auto align-items-center justify-content-start consult-1 position-relative">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111.png" class="lazyload d-none d-md-block">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/111_25x.png" class="lazyload d-md-none">
            <p class="font-fredoka ml-3 plan-step p-0">Hair Coach</p>
          </div>
          <div class="row m-auto align-items-center pt-md-3">
            <div class="col-md-4 col-5 p-0 counsult_img order-2 order-md-1">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Ishani_Hair_Coach_Shoot_2_3_42231ac6-b318-4663-a1c9-9182a90bf601.png">
            </div>
            <p class="col-md-8 col-7 consult_text order-1 order-md-2">
              We understand that suffering from hair loss is difficult journey. Our doctor-trained, certified Hair Coaches are here to get you through this. You can book call with them at any point in time throughout the treatment & get your queries resolved, big or small.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 m-auto">
        <div class="mx-3 green-border">
          <div class="row p-3 m-auto align-items-center justify-content-md-start justify-content-end consult-2 position-relative">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222.png" class="lazyload d-md-block d-none">
            <img data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/222_25x.png" class="lazyload d-md-none">
            <p class="font-fredoka ml-3 plan-step p-0">Diet Plan</p>
          </div>
          <div class="row m-auto align-items-center pt-md-3">
            <div class="col-md-4 col-5 p-0 counsult_img">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/DAILY-01_1.png">
            </div>
            <p class="col-md-8 col-7 consult_text">
              Hair Loss is internal and proper nutrition plays an important role in treating it. Traya's diet plan is curated by expert nutritionists. You can customize it basis your meal preferences and cuisine choices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Community Banner -->
  <div class="container community-banner-result-page my-4">
    <div class="comunity-banner position-relative" style="border-radius: 10px;">
      {% if section.settings.comm_desk_banner != 'blank' %}
        <img src="https://traya.health/cdn/shop/files/imgpsh_fullsize_anim_9_9eba88ca-550d-4b3a-a91f-7586ea8255fa.png?v=1706607663" height="auto" width="auto" alt="Community Banner" class="d-none d-md-block w-100" style="border-radius: 10px;" />
      {% endif %}
  
      {% if section.settings.comm_mob_banner != 'blank' %}
        <img src="https://traya.health/cdn/shop/files/imgpsh_fullsize_anim_3_0fc41d19-e6d7-4f35-9819-4a71f55bae02.png?v=1706595556" height="auto" width="auto" alt="Community Banner" class="d-md-none w-100" style="border-radius: 10px;" />
      {% endif %}
  
      <div class="community-content position-absolute">
        <h2 class="text_Fredoka d-none d-md-block">We are in this <br> together</h2>
        <h2 class="text_Fredoka d-md-none">We are in this together</h2>
        <p>50,000 + women and hair coaches<br>are together to guide and support<br>you through this journey.</p>
      </div>
    </div>
  </div>
  <!-- Community Banner -->
  
  <div class="container will-see">
   <div class="when_will_result pb-md-5">
     <p class="see {% unless page.handle == 'female-result' %}font-fredoka{% endunless %} font-weight-bold">When will I see results?</p>
     <div class="d-none d-md-block">
       <div class="month_box position-relative">
       <div class="image_text_box after-border">
       <p class="month font-fredoka">Month 1-2</p>    
       <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/001_2ef68293-c685-487d-8574-41fe487b1254.png?v=1669793131">
       </div>
       <div class="image_text_box after-border">
       <p class="month font-fredoka">Month 3-4</p>    
       <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/002_e6fec37b-b374-44f2-bb63-807019a7c761.png?v=1669793130">
       </div>
       <div class="image_text_box">
       <p class="month font-fredoka">Month 5-6</p>    
       <img class="image1" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/003_9f140a36-429a-4692-84a1-d7bea5275ab6.png?v=1669793131">
       </div>
       </div>
       <div class="text_boxx">
       <div class="text_internal">Treat internal root causes<br> behind your hair fall.</div>
       <div class="text_internal">Reduce hair fall and <br>improve follicle health.</div>
       <div class="text_internal">Grow new and healthy <br> set of baby hair.</div>
       </div>
     </div>
     <div class="d-md-none">
       <div class="month_box1 ">
       <div class="image_text_box1 after-border position-relative">
        <div class="hellosvg">
        <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/001_2ef68293-c685-487d-8574-41fe487b1254.png?v=1669793131">
        </div>
          <div class="textgrid">
         <p class="month font-fredoka">Month 1-2</p>
       <div class="text_internal">Treat internal root causes<br> behind your hair fall.</div>
         </div>
       </div>
       <div class="image_text_box1 after-border position-relative">
        <div class="hellosvg">
        <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/002_e6fec37b-b374-44f2-bb63-807019a7c761.png?v=1669793130">
        </div>
          <div class="textgrid">
       <p class="month font-fredoka">Month 3-4</p>  
       <div class="text_internal">Reduce hair fall and improve<br> follicle health.</div>
        </div> 
       </div>
       <div class="image_text_box1">
        <div class="hellosvg">
       
         <img class="image11" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/003_9f140a36-429a-4692-84a1-d7bea5275ab6.png?v=1669793131">
        </div>
          <div class="textgrid">
       <p class="month font-fredoka">Month 5-6</p> 
       <div class="text_internal">Grow new and healthy  set <br>of baby hair.</div>
        </div>  
       </div>
       </div>
     </div>
     {% unless page.handle == 'female-result' %}
         <p class="glimpse font-fredoka">A glimpse of your hair growth journey</p> 
       {% endunless %}
   </div>
  </div>
</div>

<!-- Community Banner -->
<style>
  .community-banner-result-page {width: 60%;}
  .community-content {top: 50%; left: 5%; transform: translate(-5%, -50%);}
  .community-content h2 {font-size: 45px; line-height: 55px; letter-spacing: 0em;}
  .community-content p {font-size: 24px; line-height: 33px; letter-spacing: 0em; margin-top: 30px;}

  @media only screen and (max-width: 767.98px) {
    .community-banner-result-page {width: 100%;}
    .community-content {top: 5%; left: unset; transform: unset; width: 100%;}
    .community-content h2 {font-size: 25px; line-height: 33px; text-align: center;}
    .community-content p {font-size: 16px; line-height: 22px; text-align: center; margin-top: 20px;}
  }
</style>
<!-- Community Banner -->

{% schema %}
  {
    "name": "Treatment And Will See",
    "settings": [],
        "presets": [
      {
        "name": "Female-Result-Treatment"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}