{% if template == 'index.login' %}
  <div class="container traya-coach-help">
     <div class="login_heading_sub">
    <p class="login-heading">Traya Hair Coach</p>
      <h6 class="sub-heaidng text-center"> Doctor trained and certified hair coaches<br>will guide you throughout the treatment.</h6>
     </div>
    <div class="login_coach_img">
      <img class="d-none d-md-block" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_1_6.png?v=1691150572" alt="traya-coach">
       <img class="d-md-none d-block" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_1023163_1.png?v=1692183476" alt="traya-coach">
      <div class="login_coach_questions">
      <h5>If you have questions, <br>we have the answers </h5>
      <a href="" talk_to_coach>BOOK A CALL</a>
      </div>
       <div class="whatsapp_app_icon">
        <a href="https://api.whatsapp.com/send/?phone=918828006272&text=Hey%21+I+would+like+to+know+more+about+Traya&type=phone_number&app_absent=0">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353232.png?v=1692182497">
        </a>
        </div>
    </div>
  </div>
{% elsif template == 'index.login-lead' %}
  <div class="container traya-coach-help help_login-lead">
    <div class="login_coach_img">
      <img class="d-none d-md-block" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102353258_2.png?v=1692280619" alt="traya-coach">
       <img class="d-md-none d-block" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_102352718.png?v=1692280617" alt="traya-coach">
      <div class="login_coach_meet">
        <h2>Meet the Hair Coach</h2>
      <p>Highly trained and certified experts that<br>connect the dots between ayurveda,<br>dermatology and emotional well-being.</p>
        <span class="meet_content_bdr"></span>
        <h3>83%</h3>
        <h5>Higher probability of results<br>who stay in touch with<br>Hair Coach</h5>
     </div>
    </div>
  </div>
  {% else %}
<div class="help-you mt-5 mt-md-0 mb-5 mb-md-0">
  <div class="main-help-you">
    <p class="help-you-parapgraph text-center brown-color d-none d-md-flex justify-content-center align-items-center"><span class="text-uppercase font-weight-bold help-para-1">We are here to help you.</span>
    <span class="help-para-2 ml-3">If you face any issue while on the treatment. Whatsapp our medical team</span>
      <a href="https://wa.me/918828006272?text=Hey%21+I+would+like+to+know+more+about+Traya"><span class="ml-3"><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M31.4937 12.1976C30.0286 6.58158 25.5114 2.06436 19.8347 0.660006C14.158 -0.744344 7.99224 1.08731 4.08546 5.48245C-0.736981 10.8543 -1.34742 18.912 2.55937 25.0164C2.25415 27.2139 2.00998 29.4115 1.70476 31.6091C1.58267 32.4026 2.55937 32.952 3.23085 32.7689C5.36737 32.1585 7.56494 31.6091 9.70146 30.9986C15.5006 33.3793 22.2157 32.2806 26.855 28.0075C31.1891 24.0397 32.9594 17.8136 31.4944 12.1976H31.4937ZM27.2206 23.9793C23.558 29.3512 16.3549 31.366 10.434 28.6797H10.3729C10.1288 28.5576 9.82355 28.4966 9.45729 28.5576C7.74807 29.046 6.03885 29.4733 4.32963 29.9616C4.51276 28.4966 4.69589 27.0926 4.87902 25.6275C4.94007 25.1392 5.06215 24.5898 4.81798 24.1014C4.63485 23.7962 4.39068 23.491 4.20755 23.1247C3.78024 22.3922 3.41398 21.5986 3.10876 20.8051C2.13207 17.9971 2.07102 14.8838 2.98667 12.0762C4.57381 7.13167 9.09103 3.40801 14.2187 2.79758C19.5295 2.06505 24.8403 4.62888 27.5869 9.08506C30.3949 13.6633 30.2117 19.5232 27.2206 23.9797V23.9793Z" fill="#414143"/>
      <path d="M24.4734 18.2413L21.7264 16.1047C20.8718 15.4332 19.712 15.5553 18.9795 16.2879L18.1859 17.0814C17.5755 16.7152 17.0261 16.2879 16.4767 15.7995C15.9883 15.3112 15.561 14.7007 15.1948 14.0903L15.9883 13.2967C16.7209 12.5642 16.7819 11.4044 16.1715 10.5498L14.0349 7.74176C13.6076 7.13133 12.9362 6.76506 12.2036 6.76506C11.4711 6.70402 10.7386 7.00924 10.2503 7.49759L7.86955 9.87828C6.52659 11.2212 6.22138 13.2967 7.07599 15.0059C8.23581 17.2035 9.70086 19.1569 11.4101 20.8661C13.1193 22.5753 15.1337 24.0404 17.2703 25.2002C17.9417 25.5665 18.6132 25.6886 19.2847 25.6886C20.3835 25.6886 21.5433 25.2613 22.3369 24.4066L24.7176 22.0259C25.2059 21.5376 25.5111 20.8051 25.4501 20.0726C25.4501 19.34 25.0838 18.6686 24.4734 18.2413ZM23.0083 20.3167L20.6277 22.6974C20.0172 23.3079 19.1016 23.43 18.369 23.0637C16.4156 22.0259 14.6454 20.744 13.0583 19.1569C11.4711 17.5698 10.1892 15.7995 9.15147 13.8461C8.78521 13.1136 8.90729 12.1979 9.51773 11.5875L11.8984 9.20681H11.9595C12.0205 9.20681 12.0205 9.20681 12.0205 9.26785L13.9739 11.8317L13.1803 12.5642C12.5699 13.1746 12.3868 14.1513 12.8141 14.9449C13.3024 15.9216 13.9739 16.7762 14.7064 17.5087C15.439 18.2413 16.2936 18.9127 17.2703 19.4011C18.0638 19.8284 18.9795 19.6453 19.5899 19.0348L20.4445 18.1802L22.9473 20.1336C22.9473 20.1336 23.0083 20.1336 23.0083 20.1946V20.3167Z" fill="#414143"/>
      </svg></span></a></p>
      <div class="help-you-parapgraph text-center brown-color d-md-none"><p class="text-uppercase font-weight-bold help-para-1 text-black">We are here to help you.</p>
      <div class="d-flex justify-content-center align-items-center text-left"><span class="help-para-2">If you face any issue while on the<br>treatment. Whatsapp our medical team</span>
      <a href="https://wa.me/918828006272?text=Hey%21+I+would+like+to+know+more+about+Traya"><span class="ml-3"><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M31.4937 12.1976C30.0286 6.58158 25.5114 2.06436 19.8347 0.660006C14.158 -0.744344 7.99224 1.08731 4.08546 5.48245C-0.736981 10.8543 -1.34742 18.912 2.55937 25.0164C2.25415 27.2139 2.00998 29.4115 1.70476 31.6091C1.58267 32.4026 2.55937 32.952 3.23085 32.7689C5.36737 32.1585 7.56494 31.6091 9.70146 30.9986C15.5006 33.3793 22.2157 32.2806 26.855 28.0075C31.1891 24.0397 32.9594 17.8136 31.4944 12.1976H31.4937ZM27.2206 23.9793C23.558 29.3512 16.3549 31.366 10.434 28.6797H10.3729C10.1288 28.5576 9.82355 28.4966 9.45729 28.5576C7.74807 29.046 6.03885 29.4733 4.32963 29.9616C4.51276 28.4966 4.69589 27.0926 4.87902 25.6275C4.94007 25.1392 5.06215 24.5898 4.81798 24.1014C4.63485 23.7962 4.39068 23.491 4.20755 23.1247C3.78024 22.3922 3.41398 21.5986 3.10876 20.8051C2.13207 17.9971 2.07102 14.8838 2.98667 12.0762C4.57381 7.13167 9.09103 3.40801 14.2187 2.79758C19.5295 2.06505 24.8403 4.62888 27.5869 9.08506C30.3949 13.6633 30.2117 19.5232 27.2206 23.9797V23.9793Z" fill="#414143"/>
      <path d="M24.4734 18.2413L21.7264 16.1047C20.8718 15.4332 19.712 15.5553 18.9795 16.2879L18.1859 17.0814C17.5755 16.7152 17.0261 16.2879 16.4767 15.7995C15.9883 15.3112 15.561 14.7007 15.1948 14.0903L15.9883 13.2967C16.7209 12.5642 16.7819 11.4044 16.1715 10.5498L14.0349 7.74176C13.6076 7.13133 12.9362 6.76506 12.2036 6.76506C11.4711 6.70402 10.7386 7.00924 10.2503 7.49759L7.86955 9.87828C6.52659 11.2212 6.22138 13.2967 7.07599 15.0059C8.23581 17.2035 9.70086 19.1569 11.4101 20.8661C13.1193 22.5753 15.1337 24.0404 17.2703 25.2002C17.9417 25.5665 18.6132 25.6886 19.2847 25.6886C20.3835 25.6886 21.5433 25.2613 22.3369 24.4066L24.7176 22.0259C25.2059 21.5376 25.5111 20.8051 25.4501 20.0726C25.4501 19.34 25.0838 18.6686 24.4734 18.2413ZM23.0083 20.3167L20.6277 22.6974C20.0172 23.3079 19.1016 23.43 18.369 23.0637C16.4156 22.0259 14.6454 20.744 13.0583 19.1569C11.4711 17.5698 10.1892 15.7995 9.15147 13.8461C8.78521 13.1136 8.90729 12.1979 9.51773 11.5875L11.8984 9.20681H11.9595C12.0205 9.20681 12.0205 9.20681 12.0205 9.26785L13.9739 11.8317L13.1803 12.5642C12.5699 13.1746 12.3868 14.1513 12.8141 14.9449C13.3024 15.9216 13.9739 16.7762 14.7064 17.5087C15.439 18.2413 16.2936 18.9127 17.2703 19.4011C18.0638 19.8284 18.9795 19.6453 19.5899 19.0348L20.4445 18.1802L22.9473 20.1336C22.9473 20.1336 23.0083 20.1336 23.0083 20.1946V20.3167Z" fill="#414143"/>
      </svg></span></a></div></div>
  </div>
</div>
        {% endif %}

{% schema %}
  {
    "name": "We are here to help you",
    "settings": [],
    "presets": [
      {
        "name": "We are here to help you",
        "category": "custom"
      }
    ]
  }
{% endschema %}

{% style %}
  span.meet_content_bdr:before {
    content: " ";
    width: 220px;
    height: 8px;
    border-radius: 4px;
    left: 0;
    display: block;
    position: relative;
    background: rgba(237, 237, 237, 1);
       top: 7px;
    margin-bottom: 25px;
}
  span.meet_content_bdr {
    position: relative;
}
  .login_coach_meet h5 {
    font-size: 40px;
    color: rgba(65, 64, 66, 1);
    line-height: 50px;
}

  .login_coach_meet h3 {
    font-size: 47px;
    font-family: 'fredoka_oneregular' !important;
}
  .login_coach_meet p {
    color: rgba(65, 64, 66, 1);
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
}
  .login_coach_meet h2 {
    font-size: 42px;
    font-weight: 700;
    color: rgba(63, 63, 63, 1) !important;
}
  .login_coach_meet {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
}
  .container.traya-coach-help.help_login-lead {
    position: relative;
        padding: 0 !important;
}
  .whatsapp_app_icon img {
    max-width: 150px;
}
  .whatsapp_app_icon {
    position: absolute;
    right: 5%;
    top: 65%;
}
  .login_coach_img {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
  .login_coach_questions {
    position: absolute;
    top: 60%;
    left: 5%;
}
  .login_coach_questions a {
    color: rgba(65, 64, 66, 1);
    max-width: 250px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    background: rgba(183, 211, 64, 1);
    border-radius: 50px;
    padding: 11px 22px 10px;
    line-height: normal;
    text-decoration: none;
}
  .login_coach_questions h5 {
    color: rgba(255, 255, 255, 1);
    font-size: 38px;
    line-height: normal;
    margin-bottom: 40px;
}

  .help-you {
    background-color: #FFB7A1;
    padding: 20px 0px;
  }
  .brown-color {
    color: #414143;
  }
  .help-para-1 {
    font-size: 20px;
    line-height: 27px;
  }
  .help-para-2 {
    font-size: 16px;
    line-height: 22px;
  }
  .help-you-parapgraph {
    margin: 0;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .help-you-parapgraph {
      max-width: 600px;
      margin: auto;
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 767px) {
    .login_coach_meet h5 {
    font-size: 20px;
    line-height: normal;
}
    .login_coach_meet h3 {
    font-size: 24px;
          margin-bottom: 0;

}
    span.meet_content_bdr:before {
    width: 89px;
    top: 3px;
    margin-bottom: 20px;
}
    .login_coach_meet p {
    font-size: 16px;
}
    .login_coach_meet h2 {
    font-size: 25px;
}
    .login_coach_meet {
    left: 25px;
}
    .whatsapp_app_icon img {
    max-width: 95px;
}
    .whatsapp_app_icon {
    position: absolute;
    right: 5px;
    top: 60%;
}
    .help-you {
      margin: 0px 20px;
      border-radius: 7px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }
    .help-para-2 {
      font-size: 14px;
      line-height: 19px;
    }
    .help-para-1 {
      margin-bottom: 5px;
    }
  }
{% endstyle %}