<div class="refundd">
  <section class="refund-policy">
<!--     <div class="page-banner">
      <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/main-banner.png?v=1635427239" class="d-none d-md-block">
      <div class="content w-100">
        <div class="container">       
          <h1 class="text-center" style="color:#fff "> Refund policy </h1>
          <p class="text-center"></p>
        </div>
      </div>
    </div> -->
  </section>


  <div class="refund_content">
    <div class="container">
 
      <div class="row justify-content-center" refund-page>
        <div class="col-md-9">
        <!--     left -->
        <div class="mina">
          <div class="content-wrapper h-100 pt-4">
<!--            <h2 class="l-0 font-weight-bold refundd_font_text">Return and Replacement</h2> -->
          
            <h2 class="font-weight-bold l-0 refundd_font_text">100% Money Back Guarantee </h2>
            <p class="content">To receive a full refund of your treatment, you must fulfill the following requirements:</p>
            <ol class="refund-ol">
              <li class="refund-list">Use the product for 5 months as per your prescription without any break in between (consistency is key). We will see order dates to ensure you are eligible for this refund.</li>
              <li class="refund-list">Submit a refund request to the email below along with your order number any time before 6 months after your first shipment was delivered. You can contact us at email: customercare@traya.health or drop us a Whatsapp at +918828006272.</li>
            </ol>
            <p class=:content>Please note the money back guarantee won’t be applicable under the following cases:</p>
            <ul class="refund-ol">
              <li class="refund-list">You have not used the treatment consistently. Order number and date of all months will be used to know consistent usage.</li>
              <li class="refund-list">Any severe/underlying health conditions that can delay or decrease the efficacy of the treatment was diagnosed while on treatment.</li>
              <li class="refund-list">Your hair fall has been controlled but new hair growth is yet to grow. In these cases, the treatment takes longer than usual as managing the root cause of these specific cases requires time. However, be rest assured that hair growth will still happen and you have to continue staying consistent with the treatment.</li>
            </ul>
            <p class="content">Thank you for shopping at traya.health.</p>
            <p class="content">The following terms are applicable for any products that you have purchased with us.</p>
            <h2 class="font-weight-bold l-0 refundd_font_text">Cancellation</h2>
            <p class="content mb-3">How can I cancel my order?</p>
            <p class="content">You can contact us at email: customercare@traya.health or drop us a Whatsapp at +918828006272 to cancel your order and our team will process the cancellation request. However, if the product has already been shipped you will be charged a fee of Rs. 300 for shipping, which will be deducted from your prepaid amount before refunding the entire amount.</p>
            <h2 class="font-weight-bold l-0 refundd_font_text">Return/Replacement</h2>
            <p class="content mb-3">How can I return/replace my orders?</p><p class="content">Returns and Replacements can be requested within 7 days of delivery of the order, for the following reasons:</p>
            <ul class="refund-ol">
              <li class="refund-list">Wrong products delivered.</li>
              <li class="refund-list">Missing products in the order.</li>
              <li class="refund-list">Damaged products delivered.</li>
              <li class="refund-list">(in rare cases) if products cause allergic reactions/do not suit your body.</li>
            </ul>
            <p class="content">You can raise a request to return/replace your order by contacting our customer care team through the following channel (between 10 AM - 7 PM).</p>
            <p class="content">You can contact us at email: customercare@traya.health or drop us a Whatsapp at +918828006272</p>
            <p class="content">We would request you to share the images of the products when you send us an email.</p>
            <p class="content">How are returns/replacements processed?</p>
            <ul class="refund-ol">
              <li class="refund-list">Once we receive a return/replacement request, we will send our courier partner to pick up the product. This will be arranged within 2 working days of raising the return/replacement request.</li>
              <li class="refund-list">In case our reverse pickup is not available at your pin code, we will request you to self-ship the products through any reliable courier partner. We will reimburse you the courier charges.</li>
              <li class="refund-list">We request you to please send the product along with all accompanying material and original packaging.</li>
              <li class="refund-list">Once we receive the products, we will quickly process the refunds/replacements. Please note that if the replacement product is unavailable, we will process a refund.</li>
            </ul>
            <h2 class="font-weight-bold l-0 refundd_font_text">Contact us</h2>
            <p class="content">Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can help you out. We will need a photo of the damaged product after which we will initiate a replacement. You can always contact us for any replacement question at <span style="color: #007bff;">customercare@traya.health</span> or drop us a Whatsapp at +918828006272. We do not take any returns.</p>
            {% comment %}<p class="content">Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can help you out. We will need a photo of the damaged product after which we will initiate a replacement.  
              You can always contact us for any replacement question at <a href="mailto:customercare@traya.health">customercare@traya.health</a> or drop a whatsapp at 918828006272. We do not take any returns.</p>
            
            <p><strong>Exchanges</strong> <br>The fastest way to ensure you get what you want is to inform us. We will initiate an exchange within 7 days. Exchange will be initiated in cases of a wrong order received.</p>
            
            <h2 class="l-0">What is the money back guarantee policy?</h2>
            <p class="font-weight-bold mb-2">To receive a refund, you must fulfil the following requirements:</p>
            <p>1. Use the product for 5 months as per your prescription without any break in between (consistency is key). We will see order dates to ensure you are eligible for this refund.</p>
            <p>2. Submit a refund request to the email below along with your order number any time before 6 months after your first shipment was delivered. You can contact us at email: customercare@traya.health or drop a whatsapp at 918828006272.</p>
            <p>3. You should have used the treatment consistently without any break. Order number and date of all months will be used to know consistent usage.</p>
            
            <h2 class="l-0">Can I return my order?</h2>
            <p>Yes. In case you cancel the order before it is dispatched from here or reaches in damaged condition. You can refuse to take the package. Other than the above mentioned cases, no return is possible.</p>
            
            <h2 class="l-0">What is your refund policy?</h2>
            <p>If you’ve cancelled your order (sad face) as per conditions above or are eligible for a refund due to an unwanted product in your box, a refund will be initiated. The refund will be done in your mode of payment. The same is initiated in 1-2 days.</p>
            {% endcomment %}
          </div>
        </div>
        <!--     end left -->

      </div>

      </div>
    </div>
    <div class="sticky-refund sticky-announce align-items-center d-md-flex justify-content-center text-center" style="background: #b7d340;" sticky__btn>
      <p class="mb-2 mb-md-0 font-weight-bold" style="color: #000000;">2,50,000+ Indians Trust &amp; Use Traya</p>
      <a href="https://form.traya.health/questions?cohort=1&location=sticky&page=refund-policy" data-formPage style="color: #ffffff; background: #000000; display: none;">Find my root cause</a>
    <div class="banner__buttons">
        <a id="hairtestcta" href="https://form.traya.health/questions?cohort=1&location=sticky&page=refund-policy" class="hair-form-actn-link btn btn-dark" style="pointer-events: auto;">Take The Hair Test <sup>™</sup></a>
          <span class="myresult d-none{% if page.handle == 'femaleoo' %} mt-4{% endif %}">
                {% if page.handle == 'home-v3' %}
                <a  data-resultPage id="myPlanHome" href="/pages/result4-new" class="btn btn-dark mt-4 mt-md-0">My suggested Plan</a>
                {% elsif page.handle == 'homev5'%}
                <a  data-resultPage id="myPlanHome" href="/pages/result-hi" class="btn btn-dark mt-4 mt-md-0">आपका Traya प्लान</a>
                {% else %}
                <a  data-resultPage id="myPlanHome" href="/pages/result4" class="btn btn-dark{% if template == 'index' or page.handle == 'homev1' %} rcmd_plan_btn mt-4 mt-md-0{% endif %}{% if page.handle == 'femaleoo' %} btn-hair-test{% endif %}">
                  My Recommended Plan
                </a>
                {% endif %}
            </span>
        </div>
<!--       <a href="/pages/result4" data-resultPage style="color: #ffffff; background: #000000;">My Recommended Plan</a> -->
    </div>
  </div>
</div>
<script>
  var position=0;
      var scrollTo='';
      var container = $('.main-content');
      jQuery('.result-gl-rvw').click(function(e, $){
        e.preventDefault();
        var attr =$(this).attr('href').split('#')[1];
        scrollTo = $('#'+attr);
        scrollTo.trigger('click');
        position = scrollTo.offset().top
        - container.offset().top
        + container.scrollTop()-60;
        $("html").animate({ scrollTop: position }, 600);
      });

    $(window).on('scroll', function() { 
      if ($(window).scrollTop() >= $('[refund-page]').offset().top + $('[refund-page]').outerHeight() - window.innerHeight) {
        $('[sticky__btn]').css('display', 'block');
      } else {
        // $('[sticky__btn]').css('display', 'none');
      }
    });
    
    $(window).on('scroll', function() { 
    if ($(window).scrollTop() >= $('.site-footer').offset().top - window.innerHeight) {
      $('[sticky__btn]').css('position', 'static');
    } else {
      $('[sticky__btn]').css('position', 'fixed');
    }
  });
</script>
{% style %}
  .refund-ol {
    padding-left: inherit;
  }
  .refund-list{
    letter-spacing: normal;
    
  }
  .content{
    letter-spacing: normal;
  }
  .refundd_font_text{
    font-size:32px;
  }
  .refund-list {
    list-style: inherit !important;
    margin-bottom: 0.5rem;
  }
{% endstyle %}