{% section 'referee-first' %}
{% section 'referee-banner' %}
{% section 'referee-step' %}

<!-- Added id of Button(Take The Hair Test) on Both File -->
{% section 'root-cause' %}
{% section 'ThreeFold-Way' %}
<!-- Added id of Button(Take The Hair Test) on Both File -->

{% section 'swirl-video' %}
{% section 'referee-terms-conditions' %}
<div class="referee-faq">
  {% section 'FAQs' %}
</div>

<style>
  .referee-faq .FAQ_heading:after {content: ''; position: absolute; background: #414042; width: 30px; height: 4px; border-radius: 6px; left: 50%; transform: translate(-50%); bottom: 5px;}
  .referee-faq #ReferralPageAccordion .accordion-item, .referee-faq #ReferralPageAccordion .accordion-button {background: #fff; color: #000;}
</style>