<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header text-center site-map-header">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="row">
        
        <div class="col-md-4">
          <h4 class="font-weight-bold">Collections</h4>
          <ul>
            <li><a href="/collections/antioxidant-supplements">Antioxidant Supplements</a></li>
            <li><a href="/collections/dandruff-solutions">Anti Dandruff Products</a></li>
            <li><a href="/collections/detox-products">Detox Tablets</a></li>
            <li><a href="/collections/digestive-products">Digestive Products</a></li>
            <li><a href="/collections/hair-oils">Hair Oils</a></li>
            <li><a href="/collections/herbal-products">Herbal Products</a></li>
            <li><a href="/collections/immunity-boosters">Immunity Boosters</a></li>
            <li><a href="/collections/products">Hair Care Products</a></li>
            <li><a href="/collections/all-products">Hair Treatment Products</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h4 class="font-weight-bold">Hair Care Products</h4>
          <ul>
            <li><a href="/products/anti-dandruff-shampoo">Anti-dandruff Shampoo</a></li>
            <li><a href="/products/avipattikar-digestion-tablets">Gutt Shudhi</a></li>
            <li><a href="/products/shampoo">Hair Fall Shampoo</a></li>
            <li><a href="/products/hair-fall-tablets">Hair Ras</a></li>
            <li><a href="/products/hair-root-serum">Hair Root Serum</a></li>
            <li><a href="/products/herbal-tablets">Health Tatva</a></li>
            <li><a href="/products/herbal-hair-oil">Herbal Hair Oil</a></li>
            <li><a href="/products/minoxidil-2">Minoxidil 2%</a></li>
            <li><a href="/products/traya-minoxidil-5">Minoxidil 5%</a></li>
            <li><a href="/products/hair-vitamins">Hair Vitamins</a></li>
            <li><a href="/products/shatavari-ghrita">Shatavari Nasal Drops</a></li>
            <li><a href="/products/post-partum-hair-fall-control-feeding-safe">Post Pregnancy Hair Fall Control | Feeding Safe</a></li>
            <li><a href="/products/onabet-lotion">Onabet Lotion</a></li>
            <li><a href="/products/hair-regrowth-combo-male">Hair Regrowth Combo - Male</a></li>
            <li><a href="/products/gut-health-combo-for-complete-digestive-care">Healthy Gut In Just 90 Days</a></li>
            <li><a href="/products/hair-regrowth-combo-female">Hair Regrowth Combo - Female</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h4 class="font-weight-bold">Combos</h4>
          <ul>
            <li><a href="/products/men-complete-customised-hair-loss-treatment-plan">Men's Hair Care Products</a></li>
            <li><a href="/products/female-complete-customised-hair-loss-treatment-plan">Hair Loss Treatment Plan For Female</a></li>
            <li><a href="/products/all-natural-hair-loss-kit">Hair Fall Kit</a></li>
            <li><a href="/products/anti-dandruff-kit">Anti Dandruff Kit</a></li>
            <li><a href="/products/hairline-defender">Hairline Defender</a></li>
            <li><a href="/products/dht-blocker">Dth Blocker</a></li>
            <li><a href="/products/traya-gut-kit">Gut Health Supplements</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h4 class="font-weight-bold">Pages</h4>
          <ul>
            <li><a href="/pages/uddeshya-hair-growth-journey">Uddeshya’s Hair Loss Treatment Journey</a></li>
            <li><a href="/pages/blogs-home">Our Take on all things hair!</a></li>
            <li><a href="/pages/refund-policy">Can I return my order?</a></li>
            <li><a href="/pages/female-landing">Hair Growth Combos</a></li>
            <li><a href="/pages/baheda">Baheda</a></li>
            <li><a href="/pages/hair-fall-solution-women">Hair Fall Treatment for Women</a></li>
            <li><a href="/pages/shatavari">Shatavari - An Excellent Health Booster</a></li>
            <li><a href="/pages/food-for-healthy-hair">Do's And Don'ts For Food</a></li>
            <li><a href="/pages/all-products">Ayurveda</a></li>
            <li><a href="/pages/bhringraj">Bhringraj – Hair Growth Stimulator</a></li>
            <li><a href="/pages/ashwagandha">Ashwagandha - An Effective Stress Buster</a></li>
            <li><a href="/pages/amalaki">Amalaki</a></li>
            <li><a href="/pages/hair-fall-solution-men">Hair Fall Solutions for Men</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h4 class="font-weight-bold">Blogs</h4>
          <ul>
            <li><a href="/blogs/12-ayurvedic-herbs-to-treat-hair-loss/how-to-do-hair-spa-at-home">A Spa Full of Goodness: How to Do Hair Spa at Home</a></li>
            <li><a href="/blogs/12-ayurvedic-herbs-to-treat-hair-loss/cardamom-powder">What is Cardamom Powder? Know the Essential Health Benefits</a></li>
            <li><a href="/blogs/heres-how-your-traya-hair-loss-treatment-is-curated">Our take on all things hair!</a></li>
            <li><a href="/blogs/everything-you-need-to-know-about-minoxidil-shedding-excess-hair-fall-after-applying-minoxidil/everything-you-need-to-know-about-minoxidil-shedding-excess-hair-fall-after-applying-minoxidil">Excess hair fall after applying minoxidil</a></li>
             <li><a href="/blogs/5-day-detox-challenge-for-hair-growth/5-day-detox-challenge-for-hair-growth">5 Day Detox Challenge for Hair Growth</a></li>
            <li><a href="/blogs/12-ayurvedic-herbs-to-treat-hair-loss">Our take on all things hair!</a></li>
            <li><a href="/blogs/heres-how-your-traya-hair-loss-treatment-is-curated/heres-how-your-traya-hair-loss-treatment-is-curated">Here's how your Traya Hair Loss Treatment is curated!</a></li>
            <li><a href="/blogs/12-ayurvedic-herbs-to-treat-hair-loss/cardamom">Effective Health & Hair Benefits Of Consuming Cardamom</a></li>
            <li><a href="/blogs/everything-you-need-to-know-about-minoxidil-shedding-excess-hair-fall-after-applying-minoxidil">Our take on all things hair!</a></li>
            <li><a href="/blogs/5-day-detox-challenge-for-hair-growth">Our take on all things hair!</a></li>
          </ul>
        </div>
        
      </div>
      
      <ul class="row mt-5 site-map-bold">
        <li class="col-md-3 mb-3"><a href="/pages/the-science" class="h5 font-weight-bold">Traya Science</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/traya-ingredients" class="h5 font-weight-bold">Ingredients</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/about-us" class="h5 font-weight-bold">About Us</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/contact-us" class="h5 font-weight-bold">Our Experts</a></li>
        <li class="col-md-3 mb-3"><a href="/blogs/hair-care" class="h5 font-weight-bold">Hair Care Blogs</a></li>
        <li class="col-md-3 mb-3"><a href="https://form.traya.health/questions" class="h5 font-weight-bold">Hair Diagnosis</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/reviews" class="h5 font-weight-bold">Testimonials</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/faq" class="h5 font-weight-bold">FAQs</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/hair-loss-treatment-for-women" class="h5 font-weight-bold">Treatment for Women</a></li>
        <li class="col-md-3 mb-3"><a href="/pages/hair-fall-solution-for-men" class="h5 font-weight-bold">Hair treatment for Men</a></li>
      </ul>
      
    </div>
  </div>
</div>

<style>
.site-map-header h1{
    font-size:40px;
  }
 .site-map-header{
        margin-bottom: 55px;
  }
  .site-map-grid{
      position: relative;
      max-width:unset;
}
.site-map-bold li a, .site-map-header h4{
  font-size:20px;
}
  @media (max-width:767px){   
   .site-map-header{
       margin-bottom: 35px;
  }
     .site-map-grid h4{
        font-size:24px;
  }
  } 
</style>
